<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Об исследовании</title>
    <link rel="stylesheet" href="../css/common.css">
    <link rel="stylesheet" href="../css/menu.css">
    <link rel="stylesheet" href="../js/ru/diagrams/morris.css">
    <link rel="stylesheet" href="../css/dia.css">
</head>

<body>
<header>

</header>

<div class="content">
    <div class="menu">


    </div>

    <div class="main-content">
        <input type="hidden" value="common" id="sub">
        <h1>Об исследовании</h1>
        <h2 id="common">Общая информация</h2>
        <p>
            <img src="../images/logo_min.png" alt="" align="left" height="50"> Российской Региональной Сетью по
            интегрированной отчетности (РРС) в 2017 году проведено V-е ежегодное национальное
            исследование по корпоративной прозрачности крупнейших российских компаний.
        </p>
        <p>
            Партнеры исследования:
        </p>
        <ul>
            <li style="display: flex;align-items: center">Группа компаний «Да-Стратегия»
                <img src="../images/das.png" alt="" style="margin-left: 20px">
            </li>
            <li style="display: flex;align-items: center">Группа компаний ASE
                <img src="../images/Logo_ASE.png" alt="" style="margin-left: 20px; height: 4rem;"">
            </li>
            <li style="display: flex;align-items: center">Группа компаний «Нексиа Пачоли»
                <img src="../images/nexia.png" alt="" style="margin-left: 20px">
            </li>
            <li style="display: flex;align-items: center">Институт экономических стратегий Российской академии наук
                <img src="../images/ines.png" alt="" style="margin-left: 20px">
            </li>
            <li style="display: flex;align-items: center"> Международное инвестиционно-правовое агенство
                <img src="../images/IILA.png" alt="" style="margin-left: 20px; height: 4rem;">
            </li>
        </ul>
        <p>
            Прозрачность и информационная открытость компаний являются важными составляющими бизнес-привлекательности
            компаний и позволяют
            принимать основным заинтересованным сторонам взвешенные решения, в том числе, инвестиционные. Прозрачность
            является одним из факторов, обеспечивающих рост стоимости бизнеса, и характеризуется готовностью компании
            допускать стейкхолдеров к управленческой информации. Также прозрачность компаний важна для получения
            общественного
            одобрения своей деятельности.
        </p>
        <p>
            <b>Основная цель</b> исследования – провести ежегодную оценку уровня корпоративной прозрачности через
            проведение
            комплексного анализа публичных отчетов, корпоративных сайтов крупнейших российских компаний, в том числе,
            в целях создания условий для качественной эволюции корпоративной прозрачности.
        </p>
        <p>
            <b>
                Задачи:
            </b>
        </p>
        <ul>
            <li>обследование корпоративной прозрачности крупнейших российских компаний;</li>
            <li>выявление лучших практик корпоративной прозрачности, в том числе, раскрытия информации через механизмы
                отчетности;
            </li>
            <li>составление рейтинга и субрейтингов корпоративной прозрачности.</li>
        </ul>
        <h2>Предмет исследования:</h2>
        <p>
            В рамках исследования обследуются публичные годовые отчеты компаний за 2016 год (интегрированные отчеты,
            традиционные годовые
            отчеты и нефинансовые отчеты – экологические отчеты, социальные отчеты, отчеты об устойчивом развитии,
            отчеты
            о корпоративной социальной ответственности и др.). В частности, проверяется информация об использовании в
            отчетах следующих стандартов раскрытия информации:
        </p>
        <ul>
            <li>Положение о раскрытии информации эмитентами эмиссионных ценных бумаг (утв. Банком России 30.12.2014 №
                454-П),
            </li>
            <li>Международный стандарт по интегрированной отчетности (The International &lt;IR> Framework),</li>
            <li>Руководство Global Reporting Initiative (разные версии).</li>
        </ul>
        <p>
            Помимо этого, обследуется информация по определенному ряду критериев, размещенная на официальных
            корпоративных сайтах компаний<a href="steps"><sup>1</sup></a>.
        </p>
        <p>Иная отчетная информация (ежеквартальные отчеты, финансовая отчетность и др.), а также новостная лента,
            презентации
            и отдельные внутренние документы, размещенные на официальных корпоративных сайтах компаний, рассматриваются
            только при указании отдельной ссылки на них из годовых отчетов, как на источник дополнительной отчетной
            информации.</p>
        <p>
            Отчетная информация за 2017 год не обследуется.
        </p>
        <p>
            Информация на иностранных языках не обследуется.
        </p>
        <h2>В 2017 году произошел ряд изменений в методике и организации обследования</h2>
        <p>
            <b>Выборка:</b>
        </p>
        <p>В рамках исследования обследуются компании:</p>
        <ul>
            <li>вошедшие в рейтинг «Рейтинг 600 крупнейших компаний России по итогам 2015 года» («RAEX-600»);</li>
            <li>имеющие листинг на Московской и зарубежных биржах (LSE (London Stock Exchange), NYSE (New York Stock
                Exchange),
                NASDAQ (National Association of Securities Dealers Automated Quotation), HKEX (Hong Kong Exchange),
                Euronext
                NV, Deutsche Börse Group);
            </li>
            <li>компании, направившие официальное письмо с запросом о включении их в выборку исследования до 01 ноября
                2017
                года. Решение о включении компании в выборку принимается Экспертным советом;
            </li>
            <li>компании, попадающие в перечень системообразующих организаций (протокол заседания Правительственной
                комиссии
                по экономическому развитию и интеграции от 05.02.2015 №1), а также государственные корпорации и
                управляемые
                ими компании с выручкой не ниже трех миллиардов рублей (по данным на 2015 год).
            </li>
        </ul>
        <p>
            <b>Обследование компаний:</b>
        </p>
        <p>
            С 2017 года компании распределяются по уровням прозрачности согласно количеству набранных баллов.
            Методический расчет баллов
            учитывает важность степени соответствия раскрываемой информации требованиям российских и международных
            стандартов
            отчетности, наличие/отсутствие верификации отчетной информации независимой стороной/сторонами и наличие
            электронного
            (интерактивного) годового отчета, как одного из механизмов, обеспечивающих удобство использования
            раскрываемой
            информации для стейкхолдеров компаний.
        </p>


    </div>
</div>
<script src="../js/ru/jquery-3.3.1.min.js"></script>
<script src="../js/ru/menu.js"></script>
<script src="../js/ru/header.js"></script>
<script src="../js/ru/diagrams/raphael-min.js"></script>
<script src="../js/ru/diagrams/morris.min.js"></script>
<script src="../js/ru/about.js"></script>
</body>

</html>