<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Приложения</title>
    <link rel="stylesheet" href="../css/common.css">
    <link rel="stylesheet" href="../css/menu.css">
    <link rel="stylesheet" href="../js/ru/diagrams/morris.css">
</head>

<body>
    <header></header>

    <div class="content">
        <div class="menu"></div>
        <div class="main-content">
            <ol>
                <a href="../uploads/ru/Prilozhenie_1_Spisok_kopmaniy_vkhodyaschikh_v_vyborku_issledovania.xlsx">
                    <li>Приложение 1. Список компаний, входящих в выборку исследования</li>
                </a>
                <a href="../uploads/ru/Prilozhenie_2_Spisok_kompaniy_s_otchetnostyu_na_inostrannom_yazyke.xlsx">
                    <li>Приложение 2. Список компаний с отчетностью на иностранном языке</li>
                </a>
                <a href="../uploads/ru/Prilozhenie_3_Svyaz_korporativnoi_prozrathnosti_i_kreditnich_reytingov_krupneyshich_rossiyskih_kompaniy.docx">
                    <li>Приложение 3. Связь корпоративной прозрачности и кредитных рейтингов крупнейших российских компаний</li>
                </a>
            </ol>
        </div>
    </div>
    <script src="../js/ru/jquery-3.3.1.min.js"></script>
    <script src="../js/ru/menu.js"></script>
    <script src="../js/ru/header.js"></script>

</body>

</html>