<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Аспекты раскрытия информации</title>
    <link rel="stylesheet" href="../css/common.css">
    <link rel="stylesheet" href="../css/menu.css">
    <link rel="stylesheet" href="../js/ru/diagrams/morris.css">
</head>
<body>
<header></header>

<div class="content">
    <div class="menu"></div>

    <div class="main-content">
        <h1>Аспекты раскрытия информации</h1>
        <p>
            <b>Аспекты прозрачности – предмет раскрытия информации (о чем раскрывается информация)</b>
        </p>
        <p>
            Раскрытие информации об аспектах прозрачности компаниями лидерской группы (Premium, I и II уровни прозрачности):
        </p>
        <center>
            <table cellspacing="0" width="539"><tbody><tr>
                <td style="border:1px solid #00000a;padding-top:0.01in;padding-bottom:0.01in;padding-left:0.01in;padding-right:0.01in;" width="337">
                    <p><font face="Times New Roman, serif"><font size="3" style="font-size:12pt;">Аспекты</font></font></p>
                </td>
                <td style="border:1px solid #00000a;padding-top:0.01in;padding-bottom:0.01in;padding-left:0.01in;padding-right:0.01in;" width="195">
                    <p><font face="Times New Roman, serif"><font size="3" style="font-size:12pt;">Средний
                        балл компаний, раскрывающих информацию
                        об аспекте в 2017 году (среди 48 компаний)</font></font></p>
                </td>
            </tr>
            <tr>
                <td style="border:1px solid #00000a;padding-top:0.01in;padding-bottom:0.01in;padding-left:0.01in;padding-right:0.01in;" width="337">
                    <p><font face="Times New Roman, serif"><font size="3" style="font-size:12pt;">Раскрытие
                        информации о стратегии и ее реализации
                        (max 3,3 баллов)</font></font></p>
                </td>
                <td style="border:1px solid #00000a;padding-top:0.01in;padding-bottom:0.01in;padding-left:0.01in;padding-right:0.01in;" width="195">
                    <p><font face="Times New Roman, serif"><font size="3" style="font-size:12pt;">2,73</font></font></p>
                </td>
            </tr>
            <tr>
                <td style="border:1px solid #00000a;padding-top:0.01in;padding-bottom:0.01in;padding-left:0.01in;padding-right:0.01in;" width="337">
                    <p><font face="Times New Roman, serif"><font size="3" style="font-size:12pt;">Раскрытие
                        информации о бизнес-модели (max 2,95
                        баллов) </font></font>
                    </p>
                </td>
                <td style="border:1px solid #00000a;padding-top:0.01in;padding-bottom:0.01in;padding-left:0.01in;padding-right:0.01in;" width="195">
                    <p><font face="Times New Roman, serif"><font size="3" style="font-size:12pt;">1,63</font></font></p>
                </td>
            </tr>
            <tr>
                <td style="border:1px solid #00000a;padding-top:0.01in;padding-bottom:0.01in;padding-left:0.01in;padding-right:0.01in;" width="337">
                    <p><font face="Times New Roman, serif"><font size="3" style="font-size:12pt;">Раскрытие
                        информации о рисках (max 3,2 баллов) </font></font>
                    </p>
                </td>
                <td style="border:1px solid #00000a;padding-top:0.01in;padding-bottom:0.01in;padding-left:0.01in;padding-right:0.01in;" width="195">
                    <p><font face="Times New Roman, serif"><font size="3" style="font-size:12pt;">2,41</font></font></p>
                </td>
            </tr>
            <tr>
                <td style="border:1px solid #00000a;padding-top:0.01in;padding-bottom:0.01in;padding-left:0.01in;padding-right:0.01in;" width="337">
                    <p><font face="Times New Roman, serif"><font size="3" style="font-size:12pt;">Описание
                        системы корпоративного управления
                        (max 1,95 балла) </font></font>
                    </p>
                </td>
                <td style="border:1px solid #00000a;padding-top:0.01in;padding-bottom:0.01in;padding-left:0.01in;padding-right:0.01in;" width="195">
                    <p><font face="Times New Roman, serif"><font size="3" style="font-size:12pt;">1,69</font></font></p>
                </td>
            </tr>
            <tr>
                <td style="border:1px solid #00000a;padding-top:0.01in;padding-bottom:0.01in;padding-left:0.01in;padding-right:0.01in;" width="337">
                    <p><font face="Times New Roman, serif"><font size="3" style="font-size:12pt;">Сведения
                        о составе Совета директоров и
                        исполнительных органах (max 0,65 балла) </font></font>
                    </p>
                </td>
                <td style="border:1px solid #00000a;padding-top:0.01in;padding-bottom:0.01in;padding-left:0.01in;padding-right:0.01in;" width="195">
                    <p><font face="Times New Roman, serif"><font size="3" style="font-size:12pt;">0,55</font></font></p>
                </td>
            </tr>
            <tr>
                <td style="border:1px solid #00000a;padding-top:0.01in;padding-bottom:0.01in;padding-left:0.01in;padding-right:0.01in;" width="337">
                    <p><font face="Times New Roman, serif"><font size="3" style="font-size:12pt;">Раскрытие
                        информации о вознаграждении (max 1,25
                        балла) </font></font>
                    </p>
                </td>
                <td style="border:1px solid #00000a;padding-top:0.01in;padding-bottom:0.01in;padding-left:0.01in;padding-right:0.01in;" width="195">
                    <p><font face="Times New Roman, serif"><font size="3" style="font-size:12pt;">1,01</font></font></p>
                </td>
            </tr>
            <tr>
                <td style="border:1px solid #00000a;padding-top:0.01in;padding-bottom:0.01in;padding-left:0.01in;padding-right:0.01in;" width="337">
                    <p><font face="Times New Roman, serif"><font size="3" style="font-size:12pt;">Раскрытие
                        информации о дивидендной политике
                        (max 0,65 балла) </font></font>
                    </p>
                </td>
                <td style="border:1px solid #00000a;padding-top:0.01in;padding-bottom:0.01in;padding-left:0.01in;padding-right:0.01in;" width="195">
                    <p><font face="Times New Roman, serif"><font size="3" style="font-size:12pt;">0,54</font></font></p>
                </td>
            </tr>
            <tr>
                <td style="border:1px solid #00000a;padding-top:0.01in;padding-bottom:0.01in;padding-left:0.01in;padding-right:0.01in;" width="337">
                    <p><font face="Times New Roman, serif"><font size="3" style="font-size:12pt;">Структура
                        собственности (max 0,4 балла) </font></font>
                    </p>
                </td>
                <td style="border:1px solid #00000a;padding-top:0.01in;padding-bottom:0.01in;padding-left:0.01in;padding-right:0.01in;" width="195">
                    <p><font face="Times New Roman, serif"><font size="3" style="font-size:12pt;">0,34</font></font></p>
                </td>
            </tr>
            <tr>
                <td style="border:1px solid #00000a;padding-top:0.01in;padding-bottom:0.01in;padding-left:0.01in;padding-right:0.01in;" width="337">
                    <p><font face="Times New Roman, serif"><font size="3" style="font-size:12pt;">Описание
                        организации (max 0,9 балла) </font></font>
                    </p>
                </td>
                <td style="border:1px solid #00000a;padding-top:0.01in;padding-bottom:0.01in;padding-left:0.01in;padding-right:0.01in;" width="195">
                    <p><font face="Times New Roman, serif"><font size="3" style="font-size:12pt;">0,82</font></font></p>
                </td>
            </tr>
            <tr>
                <td style="border:1px solid #00000a;padding-top:0.01in;padding-bottom:0.01in;padding-left:0.01in;padding-right:0.01in;" width="337">
                    <p><font face="Times New Roman, serif"><font size="3" style="font-size:12pt;">Раскрытие
                        информации о деятельности организации
                        в отчетном периоде (max 2,15 балла) </font></font>
                    </p>
                </td>
                <td style="border:1px solid #00000a;padding-top:0.01in;padding-bottom:0.01in;padding-left:0.01in;padding-right:0.01in;" width="195">
                    <p><font face="Times New Roman, serif"><font size="3" style="font-size:12pt;">1,42</font></font></p>
                </td>
            </tr>
            <tr>
                <td style="border:1px solid #00000a;padding-top:0.01in;padding-bottom:0.01in;padding-left:0.01in;padding-right:0.01in;" width="337">
                    <p><font face="Times New Roman, serif"><font size="3" style="font-size:12pt;">Раскрытие
                        информации о финансовом состоянии
                        организации (max 1,25 балла) </font></font>
                    </p>
                </td>
                <td style="border:1px solid #00000a;padding-top:0.01in;padding-bottom:0.01in;padding-left:0.01in;padding-right:0.01in;" width="195">
                    <p><font face="Times New Roman, serif"><font size="3" style="font-size:12pt;">0,87</font></font></p>
                </td>
            </tr>
            <tr>
                <td style="border:1px solid #00000a;padding-top:0.01in;padding-bottom:0.01in;padding-left:0.01in;padding-right:0.01in;" width="337">
                    <p><font face="Times New Roman, serif"><font size="3" style="font-size:12pt;">Деятельность
                        в области устойчивого развития (max 1
                        балл) </font></font>
                    </p>
                </td>
                <td style="border:1px solid #00000a;padding-top:0.01in;padding-bottom:0.01in;padding-left:0.01in;padding-right:0.01in;" width="195">
                    <p><font face="Times New Roman, serif"><font size="3" style="font-size:12pt;">1</font></font></p>
                </td>
            </tr>
            <tr>
                <td style="border:1px solid #00000a;padding-top:0.01in;padding-bottom:0.01in;padding-left:0.01in;padding-right:0.01in;" width="337">
                    <p><font face="Times New Roman, serif"><font size="3" style="font-size:12pt;">Система
                        управления устойчивым развитием и
                        корпоративной социальной ответственностью
                        (max 2 балла) </font></font>
                    </p>
                </td>
                <td style="border:1px solid #00000a;padding-top:0.01in;padding-bottom:0.01in;padding-left:0.01in;padding-right:0.01in;" width="195">
                    <p><font face="Times New Roman, serif"><font size="3" style="font-size:12pt;">1,4</font></font></p>
                </td>
            </tr>
            <tr>
                <td style="border:1px solid #00000a;padding-top:0.01in;padding-bottom:0.01in;padding-left:0.01in;padding-right:0.01in;" width="337">
                    <p><font face="Times New Roman, serif"><font size="3" style="font-size:12pt;">Описание
                        взаимодействия с заинтересованными
                        сторонами в отчетном периоде (max 2
                        балла) </font></font>
                    </p>
                </td>
                <td style="border:1px solid #00000a;padding-top:0.01in;padding-bottom:0.01in;padding-left:0.01in;padding-right:0.01in;" width="195">
                    <p><font face="Times New Roman, serif"><font size="3" style="font-size:12pt;">1,23</font></font></p>
                </td>
            </tr>
            <tr>
                <td style="border:1px solid #00000a;padding-top:0.01in;padding-bottom:0.01in;padding-left:0.01in;padding-right:0.01in;" width="337">
                    <p><font face="Times New Roman, serif"><font size="3" style="font-size:12pt;">Раскрытие
                        информации об антикоррупционной
                        политике (max 1,25 балла) </font></font>
                    </p>
                </td>
                <td style="border:1px solid #00000a;padding-top:0.01in;padding-bottom:0.01in;padding-left:0.01in;padding-right:0.01in;" width="195">
                    <p><font face="Times New Roman, serif"><font size="3" style="font-size:12pt;">1,16</font></font></p>
                </td>
            </tr>
            <tr>
                <td style="border:1px solid #00000a;padding-top:0.01in;padding-bottom:0.01in;padding-left:0.01in;padding-right:0.01in;" width="337">
                    <p><font face="Times New Roman, serif"><font size="3" style="font-size:12pt;">Раскрытие
                        информации о результативности
                        противодействия коррупции (max 0,25 балла)
                    </font></font>
                    </p>
                </td>
                <td style="border:1px solid #00000a;padding-top:0.01in;padding-bottom:0.01in;padding-left:0.01in;padding-right:0.01in;" width="195">
                    <p><font face="Times New Roman, serif"><font size="3" style="font-size:12pt;">0,19</font></font></p>
                </td>
            </tr>
            <tr>
                <td style="border:1px solid #00000a;padding-top:0.01in;padding-bottom:0.01in;padding-left:0.01in;padding-right:0.01in;" width="337">
                    <p><font face="Times New Roman, serif"><font size="3" style="font-size:12pt;">Механизмы
                        профилактики коррупции и обнаружения
                        фактов коррупции (max 0,25 балла) </font></font>
                    </p>
                </td>
                <td style="border:1px solid #00000a;padding-top:0.01in;padding-bottom:0.01in;padding-left:0.01in;padding-right:0.01in;" width="195">
                    <p><font face="Times New Roman, serif"><font size="3" style="font-size:12pt;">0,22</font></font></p>
                </td>
            </tr>
            <tr>
                <td style="border:1px solid #00000a;padding-top:0.01in;padding-bottom:0.01in;padding-left:0.01in;padding-right:0.01in;" width="337">
                    <p><font face="Times New Roman, serif"><font size="3" style="font-size:12pt;">Раскрытие
                        информации о системе закупок (max 1 балл)
                    </font></font>
                    </p>
                </td>
                <td style="border:1px solid #00000a;padding-top:0.01in;padding-bottom:0.01in;padding-left:0.01in;padding-right:0.01in;" width="195">
                    <p><font face="Times New Roman, serif"><font size="3" style="font-size:12pt;">0,9</font></font></p>
                </td>
            </tr>
            <tr>
                <td style="border:1px solid #00000a;padding-top:0.01in;padding-bottom:0.01in;padding-left:0.01in;padding-right:0.01in;" width="337">
                    <p><font face="Times New Roman, serif"><font size="3" style="font-size:12pt;">Раскрытие
                        информации о планах и результатах
                        закупочной деятельности (max 0,75 балла)
                    </font></font>
                    </p>
                </td>
                <td style="border:1px solid #00000a;padding-top:0.01in;padding-bottom:0.01in;padding-left:0.01in;padding-right:0.01in;" width="195">
                    <p><font face="Times New Roman, serif"><font size="3" style="font-size:12pt;">0,65</font></font></p>
                </td>
            </tr>
            </tbody></table>
        </center>
        <p>
            В 2017 году средние баллы компаний лидерской группы, раскрывающих информацию по различным аспектам, достаточно близки к максимальным. Это объясняется тем, что компании Premium, I и II уровней прозрачности придерживаются международных стандартов раскрытия информации, которые предусматривают прозрачность по данным аспектам.
        </p>
        <p>
            Ниже более подробно будут рассмотрены предметы, представляющиеся важными с точки зрения соответствия международным стандартам отчетности.  
        </p>




    </div>
</div>
<script src="../js/ru/jquery-3.3.1.min.js"></script>
<script src="../js/ru/menu.js"></script>
<script src="../js/ru/header.js"></script>
<script src="../js/ru/diagrams/raphael-min.js"></script>
<script src="../js/ru/diagrams/morris.min.js"></script>
<script src="../js/ru/aspects.js"></script>
</body>
</html>