<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Аспекты раскрытия информации</title>
    <link rel="stylesheet" href="../css/common.css">
    <link rel="stylesheet" href="../css/menu.css">
    <link rel="stylesheet" href="../js/ru/diagrams/morris.css">
</head>
<body>
<header></header>

<div class="content">
    <div class="menu"></div>

    <div class="main-content">
        <input type="hidden" value="business-model" id="sub">
        <h2 id="business-model">Раскрытие информации о бизнес-модели</h2>
        <p>
            В одном из наиболее прогрессивных международных Кодексов корпоративного управления, соблюдение которого является требованием листинга на Лондонской бирже (версия 2014 года), закреплена необходимость раскрытия бизнес-модели. Бизнес-модель в этом документе определяется как «база, на основании которой компания получает или обеспечивает сохранение ценности/стоимости в течение длительного срока». Бизнес-модель является элементом раскрытия информации о стратегическом управлении и важным аналитическим инструментом для принятия решений, как для акционеров компании, так и для инвесторов и других заинтересованных сторон. Раскрытие информации о бизнес-модели является также требованием Стандарта <ИО>.
        </p>
        <h3>
            Число компаний лидерской группы, раскрывших информацию о бизнес-модели (2016-2017 годы)
        </h3>
        <div id="nums-business"></div>
        <p>
            Наиболее распространенной формой представления информации о бизнес-модели является ее графическое (схематическое) изображение. Она использовалась 89,6 % компаниями лидерской группы (Premium, I и II уровни прозрачности): 43 из 48, из них только 35 представили также и текстовое описание (72,9 %).
        </p>
        <p>
            В рамках описания бизнес-модели чаще всего в 2017 году раскрывался перечень продуктов и услуг, предоставляемых компанией (79 % лидерской группы: 38 из 48 компаний). Более 50 % компаний также указали взаимосвязь бизнес-модели со стратегическими целями (см. раздел
            <a href="disclosure">«Раскрытие информации о стратегии и ее реализации»</a>).
        </p>
        <p>Несмотря на то, что порядка половины компаний лидерской группы указали и описали капиталы в рамках описания бизнес-модели, лишь 19 (40 %) компаний описали свое влияние на данные капиталы (т.е. их прирост/убыль/трансформацию в результате деятельности компании). Еще меньше компаний произвели разделение капиталов на внутренние (находящиеся в пользовании самой компании) и внешние (в совместном пользовании с другими интересантами). 9 компаний использовали подобное разделение, из них 8 – использовали его и для описания своего воздействия на капиталы. </p>

    </div>
</div>
<script src="../js/ru/jquery-3.3.1.min.js"></script>
<script src="../js/ru/menu.js"></script>
<script src="../js/ru/header.js"></script>
<script src="../js/ru/diagrams/raphael-min.js"></script>
<script src="../js/ru/diagrams/morris.min.js"></script>
<script src="../js/ru/aspects.js"></script>
</body>
</html>
