<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Основные выводы исследования</title>
    <link rel="stylesheet" href="../css/common.css">
    <link rel="stylesheet" href="../css/menu.css">
    <link rel="stylesheet" href="../js/ru/diagrams/morris.css">
</head>

<body>
    <header></header>

    <div class="content">
        <div class="menu">


        </div>

        <div class="main-content">
            <h1>Основные выводы</h1>

            <ol class="romans">
                <ul>
                    <a href="state#common">
                        <li>48 крупнейших компаний РФ (5 %) удовлетворяют современным требованиям корпоративной прозрачности,
                            принятым в международном бизнес-сообществе (Premium, I и II уровни прозрачности).
                        </li>
                    </a>
                    <p>17 компаний максимально полно раскрывают отчетную информацию, одновременно используя два международных
                        стандарта – «Руководство глобальной инициативы по отчетности GRI» и Международный стандарт по интегрированной
                        отчетности.
                    </p>
                    <p>
                        16 компаний применяют независимое заверение отчетной информации (не считая заверения финансовой информации, что обязаны делать
                        все компании).
                    </p>
                    <p>
                        15 компаний стараются максимально удовлетворить информационные запросы заинтересованных сторон, проводя с ними консультации
                        и диалоги в рамках подготовки отчетов.
                    </p>
                    <p>
                        В 44 компаниях сформирован хотя бы один из системных механизмов обеспечения прозрачности: приняты корпоративные политики
                        и/или стандарты по вопросам публичной отчетности и раскрытия информации, созданы центры функциональной
                        ответственности, в KPI топ-менеджмента введена ответственность за публичную отчетность, созданы специализированные
                        комитеты при Советах Директоров и др.
                    </p>
                    <a href="state#common">

                        <li>147 крупнейших компании РФ (15,4 %) в инициативном порядке раскрывают отчетную информацию выше требований
                            Центрального Банка РФ (III уровень прозрачности). Эти компании информируют о своем влиянии на
                            экологию, экономику и социальную сферу регионов присутствия, в отдельных случаях раскрывают информацию
                            о своих стратегиях и бизнес-моделях, однако, не используют международные стандарты отчетности.</li>
                    </a>
                    <a href="state#common">
                        <li>197 компаний из 956 обследованных (20,6 %) раскрывают отчетную информацию, руководствуясь только
                            требованиями Центрального Банка РФ (IV уровень прозрачности). </li>
                    </a>
                    <p>
                        Как правило, публичная отчетность этих компаний представляет собой документ, оформленный в текстовом формате без инфографики
                        (диаграммы, графики, схемы, карты и пр.). Подобные отчеты, как правило, размещаются на специализированных
                        сайтах раскрытия информации (ЗАО «АК&М», АНО «АЗИПИ», ЗАО «Интерфакс», ЗАО «Прайм-ТАСС», ЗАО «СКРИН»).
                    </p>
                    <a href="state#common">
                        <li>Значительная часть крупнейших компаний РФ, а именно 550 из 956 (57,5 %), являются непрозрачными (V
                            (нулевой) уровень прозрачности).</li>
                    </a>
                    <p>
                        Эти компании не раскрывают отчетную информацию о своей деятельности посредством публичной отчетности.
                    </p>
                    <a href="state#common">
                        <li>14 компаний из 956 обследованных (1,5 %) не считают для себя возможным публиковать отчетность на
                            русском языке (нет соответствия уровням прозрачности).</li>
                    </a>
                    <p>
                        Эти компании раскрывают отчетную информацию о своей деятельности только на английском языке, являясь непрозрачными для русскоязычной
                        аудитории. Преимущественно это российские компании, ведущие свою деятельность только за рубежом,
                        либо компании, являющиеся иностранными резидентами, либо компании, заинтересованные только в иностранных
                        рынках капитала (акции которых котируются только на иностранных биржах).
                    </p>
                    <a href="transp_sectors">
                        <li>Наиболее прозрачными являются компании, представляющие «Атомную промышленность», «Электроэнергетику»
                            и «Телекоммуникации и связь». Аутсайдерами корпоративной прозрачности являются компании секторов
                            «Информационные технологии», «СМИ», «Оптовая торговля».</li>

                    </a>
                    <p>
                        Две из 20 компаний сектора «Атомная промышленность, обследованных в 2017 году, раскрывают отчетную информацию в соответствии
                        с международными стандартами и заверяют раскрываемую информацию (I уровень прозрачности), три компании
                        выпускают отчеты также в форме электронного годового отчета (Premium уровень прозрачности).
                    </p>
                    <p>
                        За атомным сектором с существенным отставанием следуют компании секторов «Электроэнергетика» и «Телекоммуникации и связь».
                        Если коэффициент прозрачности атомного сектора достиг в 2017 году значения 3,7 (из 6 возможных),
                        то коэффициенты этих секторов - 2,67 и 2,44 соответственно.
                    </p>
                    <p>
                        Наименее прозрачными компаниями в секторальном разрезе являются компании сектора «Информационные технологии». Коэффициент
                        прозрачности этого сектора составил 1,07.
                    </p>
                    <a href="corp_transp_list">
                        <li>Биржи являются одним из институциональных факторов, стимулирующих повышение корпоративной прозрачности.</li>
                    </a>
                    <p>
                        90 % компаний, листингуемых исключительно на Московской бирже (232 из 257), соответствуют Premium - IV уровням прозрачности.
                    </p>
                    <p>
                        Компании, листингуемые одновременно на Московской и зарубежных биржах (39 компаний), являются более прозрачными, чем компании
                        листингуемые только на Московской или только на зарубежных биржах. Среди компаний с «двойным листингом»
                        21 из 39 готовят публичную отчетность по международным стандартам, среди которых ни одна компания
                        не проводит ее независимое заверение.
                    </p>
                    <p>
                        Нелистингуемых компаний 699 от всего списка обследованных компаний.
                    </p>
                    <a href="transp_with_difference">
                        <li>Законодательные требования двойственно влияют на корпоративную прозрачность крупнейших российских
                            компаний.
                        </li>
                    </a>
                    <p>
                        С 2014 года все компании имели возможность самоопределиться – стать ПАО или АО, т.е. публичным или непубличным обществом.
                        Учитывая, что публичные общества обязаны быть прозрачными, всего 295 из 369 (80 %) обследованных
                        публичных компаний, имеющих организационно-правовую форму ОАО или ПАО, являются прозрачными (соответствие
                        Premium – IV уровням прозрачности).
                    </p>
                    <a href="transp_with_difference">
                        <li>Большинство непубличных компаний непрозрачны.</li>
                    </a>
                    <p>
                        Непубличные компании (государственные корпорации, общества с ограниченной ответственностью, федеральные государственные унитарные
                        предприятия и пр.) не попадают под требования ЦБ РФ публичного раскрытия информации о деятельности.
                        Однако, ключевое значение в таких компаниях должно иметь решение менеджмента быть открытыми для заинтересованных
                        сторон. Всего 97 из 574 (17 %) непубличных компаний раскрывают нефинансовую информацию о своей деятельности.
                        Остальные не публикует никакой отчетности и не заботятся о своей прозрачности.
                    </p>
                    <a href="corp_transp">
                        <li>Прозрачные компании имеют более высокие кредитные рейтинги, чем непрозрачные.</li>
                    </a>
                    <p>
                        Компании 1-ого уровня кредитоспособности по-прежнему являются лидерами прозрачности среди других уровней кредитоспособности,
                        хотя и располагаются в среднем диапазоне (коэффициент прозрачности – 3,81 ). Компании 4-ого уровня
                        кредитоспособности в 2017 году располагаются в среднем диапазоне прозрачности – 2,33. На пятом и
                        ниже уровне кредитоспособности располагаются компании, раскрывающие отчетную информацию только в
                        соответствии с требованиями ЦБ РФ или не раскрывающие отчетную информацию вовсе.
                    </p>
                    <a href="system">
                        <li>Корпоративная прозрачность системообразующих организаций</a>
                    <sup>
                        <a href="http://economy.gov.ru/minec/about/structure/depSectorEconom/2015020801" target="_blank">2</a>
                    </sup>
                    <a href="system">, формирующих более 70 % совокупного национального дохода, остается весьма низкой.</li>
                </ul>
                </a>
                <p>
                    Коэффициент прозрачности системообразующих компаний средний – 2,05 (при максимальном значении – 3,6). 85 системообразующих
                    организаций из 199 обследованных (42,7 %) являются непрозрачными (V уровень прозрачности). 45 системообразующих
                    организаций раскрывают отчетную информацию лишь по требованиям ЦБ РФ (IV уровень прозрачности). Еще 5
                    системообразующих организаций готовят публичную отчетность только на английском языке (нет соответствия
                    уровням прозрачности).
                </p>
            </ol>
        </div>
    </div>
    <script src="../js/ru/jquery-3.3.1.min.js"></script>
    <script src="../js/ru/menu.js"></script>
    <script src="../js/ru/header.js"></script>
    <script src="../js/ru/diagrams/raphael-min.js"></script>
    <script src="../js/ru/diagrams/morris.min.js"></script>
</body>

</html>