<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Аспекты раскрытия информации</title>
    <link rel="stylesheet" href="../css/common.css">
    <link rel="stylesheet" href="../css/menu.css">
    <link rel="stylesheet" href="../js/ru/diagrams/morris.css">
</head>

<body>
    <header></header>

    <div class="content">
        <div class="menu"></div>

        <div class="main-content">
            <input type="hidden" value="corp" id="sub">

            <h2 id="corp">Раскрытие информации о корпоративном управлении </h2>
            <h3>Раскрытие информации о системе корпоративного управления</h3>
            <p>
                В основном благодаря законодательному регулированию информация о системе корпоративного управления является наиболее раскрываемой
                среди компаний лидерской группы (Premium, I и II уровни прозрачности): в отчетах всех 48 компаний рассматриваемых
                уровней прозрачности присутствует описание системы корпоративного управления, а именно, структура и взаимодействие
                органов управления. Раскрытие подобной информации является обязательным в случае допуска акций общества к
                организованным торгам согласно положению о раскрытии информации эмитентами эмиссионных ценных бумаг ЦБ РФ
                454-П от 30.12.2015 (пункт 70.4)
                <a href="http://www.consultant.ru/document/cons_doc_LAW_175536/">
                    <sup>18</sup>
                </a>.
            </p>
            <p>
                Более 90 % компаний раскрыли информацию об основных документах, регулирующих деятельность системы корпоративного управления
                (45 из 48 компаний), наличии и составе комитетов при Совете Директоров или их отсутствии (45 из 48 компаний),
                использовании российских (Кодекс корпоративного управления) и/или международных (как правило, это нормативные
                требования Лондонской биржи) стандартов корпоративного управления (43 из 48 компаний).
            </p>
            <h3>Число компаний лидерской группы, раскрывших информацию о корпоративном управлении (2016-2017 год)</h3>
            <div id="nums-korp"></div>
            <p>
                Немного хуже раскрывается информация о планируемых работах по совершенствованию системы корпоративного управления. Данную
                информацию предоставили 73 % компаний лидерской группы (35 из 48 компаний). Информацию о проведенных в отчетном
                периоде работах по совершенствованию системы корпоративного управления раскрыли 40 из 48 (83 %) компаний.
            </p>
            <h3>Раскрытие информации о вознаграждении</h3>
            <h3>Число компаний лидерской группы, раскрывших информацию о вознаграждении (2016-2017 годы)</h3>
            <div id="rewards"></div>
            <p>
                Большинство компаний лидерской группы (Premium, I и II уровни прозрачности) раскрыли в 2017 году информацию о политике вознаграждения
                — основные подходы/принципы (47 из 48 компаний), что объяснимо, так как данная информация является обязательной
                к раскрытию согласно положению о раскрытии информации эмитентами эмиссионных ценных бумаг ЦБ РФ 454-П от
                30.12.2015 (пункт 70.3)
                <a href="http://www.consultant.ru/document/cons_doc_LAW_175536/">
                    <sup>19</sup>
                </a>
            </p>
            <p>
                39 компаний раскрыли информацию о структуре вознаграждения и размере вознаграждения членов Совета директоров (81,25 % от
                лидерской группы). Более раскрываемой является информация о структуре вознаграждения генерального директора/президента/председателя
                правления (42 из 48 компании). В декабре 2017 года ЦБ РФ рекомендовал эмитентам раскрывать заработки всех
                топ-менеджеров. В связи с этим предполагается, что в следующем отчетном году этот показатель будет более
                раскрываемым.
            </p>
            <p>
                В рамках раскрытия информации о вознаграждении наиболее редкой является информация о связи вознаграждения и КПЭ:
                в отношении вознаграждения генерального директора/президента/председателя правления такую информацию указали
                38 компаний, Совета директоров – 26 компании из 48 компаний лидерской группы.
            </p>
            <h3>Описание дивидендной политики</h3>
            <h3>Число компаний, раскрывших информацию о дивидендной политике (2017 год)</h3>
            <div id="divident"></div>
            <p>
                Каждый из трех показателей (описание дивидендной политики, раскрытие информации о размере дивидендов на акцию, дивидендная
                история) раскрыло 40 из 48 компаний Premium-II уровня прозрачности. Все 3 показателя раскрыли 35 из 48 компаний
                (73 %) лидерской группы. Несмотря на то, что большая часть (32 из 48 компаний - 67 % компаний рассматриваемых
                уровней прозрачности) являются ПАО (или ОАО) не все из них считают важным раскрытие информации о дивидендной
                политике, что может негативно отразиться на будущем привлечении денежного капитала в компанию со стороны
                потенциальных и существующих инвесторов.
            </p>
            <h3>
                Соблюдение принципов Кодекса корпоративного управления
            </h3>
            <p>
                В 2014 году Центральный Банк РФ принял Кодекс корпоративного управления. Кодекс представляет собой свод рекомендаций относительно
                наилучшего корпоративного управления обществом, разъясняющий стандарты соблюдения прав акционеров, способствующий
                их реализации на практике, обеспечивающий повышение эффективности управления компанией, долгосрочное и устойчивое
                развитие.
            </p>
            <p>
                Применение обществом положений Кодекса является добровольным и основано на стремлении повысить привлекательность общества
                в глазах существующих и потенциальных инвесторов.
            </p>
            <p>
                Корпоративное управление должно быть основано на принципе устойчивого развития общества и повышения отдачи от инвестиций
                в акционерный капитал в долгосрочной перспективе.
            </p>
            <p>
                36 из 48 компаний лидерской группы размещают в своих отчетах таблицу с информацией о соблюдении/не соблюдении принципов и
                рекомендаций Кодекса корпоративного управления, одобренного ЦБ РФ.
            </p>
        </div>
    </div>
    <script src="../js/ru/jquery-3.3.1.min.js"></script>
    <script src="../js/ru/menu.js"></script>
    <script src="../js/ru/header.js"></script>
    <script src="../js/ru/diagrams/raphael-min.js"></script>
    <script src="../js/ru/diagrams/morris.min.js"></script>
    <script src="../js/ru/aspects.js"></script>
</body>

</html>