<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Аспекты раскрытия информации</title>
    <link rel="stylesheet" href="../css/common.css">
    <link rel="stylesheet" href="../css/menu.css">
    <link rel="stylesheet" href="../js/ru/diagrams/morris.css">
</head>
<body>
<header></header>

<div class="content">
    <div class="menu"></div>

    <div class="main-content">
        <input type="hidden" value="corrup" id="sub">

        <h2 id="corrup">Раскрытие информации о деятельности в области противодействия коррупции</h2>
        <p>
            Все компании Premium-II уровней прозрачности, следующие международным стандартам раскрытия нефинансовой информации, согласно которым компании обязаны иметь публичную позицию в области противодействия коррупции, публикуют такую информацию в своём отчете. В 45 компаниях закреплены принципы, правила, процедуры предотвращения коррупции, в 43 компаниях организованы специальные каналы, по которым любой человек может заявить о факте коррупции, а ответственность за деятельность в этой области закреплена всего в 36 компаниях. Только 36 крупнейших российских компаний отчитались о реализации антикоррупционных программ в отчётном периоде, что может говорить, как об отсутствии реальных работ в остальных компаниях, так и о нераскрытии информации о них у остальных компаний.
        </p>
        <h3>Число компаний, раскрывших информацию о противодействии коррупции (2017 год)</h3>
        <div id="korrup"></div>
    </div>
</div>
<script src="../js/ru/jquery-3.3.1.min.js"></script>
<script src="../js/ru/menu.js"></script>
<script src="../js/ru/header.js"></script>
<script src="../js/ru/diagrams/raphael-min.js"></script>
<script src="../js/ru/diagrams/morris.min.js"></script>
<script src="../js/ru/aspects.js"></script>
</body>
</html>