<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Об исследовании</title>
    <link rel="stylesheet" href="../css/common.css">
    <link rel="stylesheet" href="../css/menu.css">
    <link rel="stylesheet" href="../js/ru/diagrams/morris.css">
</head>
<body>
<header></header>

<div class="content">
    <div class="menu"></div>

    <div class="main-content">
        <input type="hidden" value="experts" id="sub">
        <h2 id="experts">Состав Экспертного совета</h2>
        <p>
            Эксперты вносят неоценимый вклад в подготовку и проведение Исследования корпоративной прозрачности: участвуют в обсуждении методики в рамках ее ежегодной актуализации, проводят экспертную верификацию, участвуют в формировании аналитического доклада по результатам исследования.
        </p>
        <ul>
            <li><b>Александр Агеев,</b> д.э.н., генеральный директор Института экономических стратегий Отделения РАН, ректор Школы бизнеса ИНЭС, генеральный директор Международного института П. Сорокина – Н. Кондратьева</li>
            <li><b>Иван Барсола,</b> директор Группы по оказанию услуг в области корпоративного управления и устойчивого развития КПМГ</li>
            <li><b>Юрий Благов, </b>к.э.н., директор Центра корпоративной социальной ответственности им. ПрайсвотерхаусКуперс, член Экспертного совета по вопросам развития социального предпринимательства Комитета по экономической политике, инновационному развитию и предпринимательству Государственной Думы РФ
            </li>
            <li><b>Светлана Герасимова, </b>директор Центра КСО Бизнес-университета МИРБИС, член комитета КСО Ассоциации менеджеров России</li>
            <li><b>Жан Загидуллин, </b>к.ф.н., генеральный директор Агентства корпоративного развития «Да-Стратегия», член Совета РСПП по нефинансовой отчетности</li>
            <li><b>Марклен Конурбаев, </b>д.ф.н., профессор МГУ им. М.В. Ломоносова</li>
            <li><b>Михаил Кузнецов, </b>исполнительный директор Объединения Корпоративных Директоров и Топ-менеджеров</li>
            <li><b>Павел Митрофанов, </b>директор по корпоративным рейтингам рейтингового агентства RAEX («Эксперт РА»)</li>
            <li><b>Александр Полтавцев, </b>директор по внутреннему контролю и управлению рисками Центра корпоративного развития</li>
            <li><b>Владимир Скобарев, </b>директор Департамента корпоративного управления и устойчивого развития ФБК Грант Торнтон</li>
        </ul>
    </div>
</div>
<script src="../js/ru/jquery-3.3.1.min.js"></script>
<script src="../js/ru/menu.js"></script>
<script src="../js/ru/header.js"></script>
<script src="../js/ru/diagrams/raphael-min.js"></script>
<script src="../js/ru/diagrams/morris.min.js"></script>
<script src="../js/ru/about.js"></script>
</body>
</html>

