<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Состояние корпоративной прозрачности</title>
    <link rel="stylesheet" href="../css/common.css">
    <link rel="stylesheet" href="../css/menu.css">
    <link rel="stylesheet" href="../js/ru/diagrams/morris.css">
</head>

<body>
    <header></header>

    <div class="content">
        <div class="menu"></div>

        <div class="main-content">
            <input type="hidden" value="features" id="sub">
            <h2 id="features">Особенности раскрытия отчетной информации компаниями I-IV уровня корпоративной прозрачности
                <a href="steps">
                    <sup>7</sup>
                </a>
            </h2>
            <p>
                <b>
                    Типы отчетов, выпущенных компаниями Premium, I и II уровней прозрачности
                </b>
            </p>
            <div id="types"></div>
            <p>
                <b>«Однотомник»</b> — это формат, который предполагает осуществление раскрытия финансовой и нефинансовой информации
                в одном отчете. В соответствии с ФЗ «Об акционерных обществах» от 26.12.1995 № 208-ФЗ менеджмент компании
                должен выпустить «первый том» (публичный годовой отчет по ЦБ РФ) к собранию акционеров – до 30 июня.
            </p>
            <p>
                <b>«Двухтомник»</b> — это формат, предполагающий подготовку двух отдельных отчетов - годового отчета и нефинансового
                отчета (чаще всего - отчета об устойчивом развитии). По-прежнему данный формат популярен среди компаний
                трех первых уровней прозрачности, однако неудобство такого формата для пользователей заключается в том, что
                отчеты выпускаются, как правило, в разное время. С учетом того, что в соответствии с ФЗ «Об акционерных обществах»
                от 26.12.1995 № 208-ФЗ менеджмент компании должен выпустить «первый том» (публичный годовой отчет по ЦБ РФ)
                к собранию акционеров – до 30 июня, «второй том» (нефинансовый отчет) не привязан к событиям и/или датам,
                и его выпуск обычно производится в августе – ноябре, когда ценность отчетной информации существенно снижена.
            </p>
            <h3>Вывод:</h3>
            <p>
                Подавляющее большинство компаний Premium-II уровней прозрачности отдает предпочтение однотомным отчетам. При этом часть компаний
                (20 из 48 Premium-II уровней прозрачности, 42 %) предпочитает двухтомные отчеты.
            </p>
            <h3>Типы отчетов, выпущенных компаниями III уровня прозрачности</h3>

            <div id="iii-level"></div>
            <h3>Вывод:</h3>
            <p>
                <b>
                    Абсолютное большинство компаний, раскрывших отчетную информацию выше требований ЦБ РФ (III уровень прозрачности), использует
                    однотомные отчеты: 144 компаний из 147 (98 %).
                </b>
                Компании этого уровня прозрачности не используют ни Руководство GRI, ни какие-либо другие международные руководства или стандарты
                отчетности. Отсутствие приверженности международным стандартам в вопросах раскрытия отчетной информации затрудняет
                реализацию принципа «сопоставимости» с отчетностью других компаний.
            </p>
            <h3>Типы отчетов, выпускаемых компаниями IV уровня прозрачности</h3>
            <p>
                <b>
                    Компании, раскрывшие отчетную информацию только в соответствии с требованиями ЦБ РФ (IV уровень прозрачности) опубликовали
                    исключительно «традиционные» годовые отчеты.
                </b>
                Как правило, это текстовой документ, переведенный в формат PDF. 54,8 % компаний раскрывают отчетность исключительно на специализированных
                сайтах раскрытия информации, то есть она не была найдена на их официальных сайтах.
            </p>
        </div>
    </div>
    <script src="../js/ru/jquery-3.3.1.min.js"></script>
    <script src="../js/ru/menu.js"></script>
    <script src="../js/ru/header.js"></script>
    <script src="../js/ru/diagrams/raphael-min.js"></script>
    <script src="../js/ru/diagrams/morris.min.js"></script>
    <script src="../js/ru/state.js"></script>
</body>

</html>