<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Механизмы раскрытия информации</title>
    <link rel="stylesheet" href="../css/common.css">
    <link rel="stylesheet" href="../css/menu.css">
    <link rel="stylesheet" href="../js/ru/diagrams/morris.css">
</head>
<body>
<header></header>

<div class="content">
    <div class="menu"></div>

    <div class="main-content">
        <input type="hidden" value="iii" id="sub">

        <h2 id="iii">Раскрытие информации о механизмах прозрачности компаниями III уровня прозрачности</h2>
        <center>
            <table cellspacing="0" width="623"><tbody><tr valign="top">
                <td style="border:1px solid #00000a;padding-top:0in;padding-bottom:0in;padding-left:0.08in;padding-right:0.08in;" width="146">
                    <p align="center" style="margin-top:0.19in;"><font face="Times New Roman, serif"><font size="3" style="font-size:12pt;">Механизмы</font></font></p>
                </td>
                <td style="border:1px solid #00000a;padding-top:0in;padding-bottom:0in;padding-left:0.08in;padding-right:0.08in;" width="113">
                    <p align="center" style="margin-top:0.19in;"><font face="Times New Roman, serif"><font size="3" style="font-size:12pt;">Количество
                        компаний, использующих механизм (среди
                        147 компаний)</font></font></p>
                </td>
                <td style="border:1px solid #00000a;padding-top:0in;padding-bottom:0in;padding-left:0.08in;padding-right:0.08in;" width="199">
                    <p align="center" style="margin-top:0.19in;"><font face="Times New Roman, serif"><font size="3" style="font-size:12pt;">Элементы
                        механизмов</font></font></p>
                </td>
                <td style="border:1px solid #00000a;padding-top:0in;padding-bottom:0in;padding-left:0.08in;padding-right:0.08in;" width="107">
                    <p align="center" style="margin-top:0.19in;"><font face="Times New Roman, serif"><font size="3" style="font-size:12pt;">Количество
                        компаний, использующих элементы
                        механизма (среди 147 компаний)</font></font></p>
                </td>
            </tr>

            <tr valign="top">
                <td rowspan="3" style="border:1px solid #00000a;padding-top:0in;padding-bottom:0in;padding-left:0.08in;padding-right:0.08in;" width="146">
                    <p style="margin-bottom:0in;"><br>

                    </p>
                    <p style="margin-bottom:0in;"><br>

                    </p>
                    <p style="margin-bottom:0in;"><br>

                    </p>
                    <p style="margin-bottom:0in;"><br>

                    </p>
                    <p style="margin-bottom:0in;"><br>

                    </p>
                    <p style="margin-bottom:0in;"><br>

                    </p>
                    <p style="margin-bottom:0in;"><br>

                    </p>
                    <p style="margin-bottom:0in;"><br>

                    </p>
                    <table cellspacing="0" width="147" x-width="147">
                        <colgroup><col width="139">
                            <col width="3">
                        </colgroup><tbody><tr>
                        <td height="16" rowspan="2" style="border:none;padding:0in;" width="139">
                            <p align="center"><font face="Times New Roman, serif"><font size="3" style="font-size:12pt;"><b>Система
                                публичной отчетности</b></font></font></p>
                        </td>
                        <td rowspan="2" style="border:none;padding:0in;" width="3">
                            <p><br>

                            </p>
                        </td>
                    </tr>
                    <tr>
                    </tr>
                    </tbody></table>
                    <p style="margin-top:0.19in;margin-bottom:0.19in;">
                        <br>
                        <br>

                    </p>
                </td>
                <td rowspan="3" style="border:1px solid #00000a;padding-top:0in;padding-bottom:0in;padding-left:0.08in;padding-right:0.08in;" width="113">
                    <p align="center" style="margin-top:0.19in;margin-bottom:0in;">
                        <br>

                    </p>
                    <p align="center" style="margin-top:0.19in;margin-bottom:0in;">
                        <br>

                    </p>
                    <p align="center" style="margin-top:0.19in;margin-bottom:0in;">
                        <br>

                    </p>
                    <p align="center" style="margin-top:0.19in;margin-bottom:0in;">
                        <font face="Times New Roman, serif"><font size="3" style="font-size:12pt;">43</font></font></p>
                </td>
                <td style="border:1px solid #00000a;padding-top:0in;padding-bottom:0in;padding-left:0.08in;padding-right:0.08in;" width="199">
                    <p style="margin-top:0.19in;margin-bottom:0in;">
                        <font face="Times New Roman, serif"><font size="3" style="font-size:12pt;">Указание
                            на внутреннюю нормативную базу
                            организации в области публичной
                            отчетности и раскрытия информации</font></font></p>
                </td>
                <td style="border:1px solid #00000a;padding-top:0in;padding-bottom:0in;padding-left:0.08in;padding-right:0.08in;" width="107">
                    <p style="margin-top:0.19in;margin-bottom:0in;">
                        <font face="Times New Roman, serif"><font size="3" style="font-size:12pt;">36</font></font></p>
                </td>
            </tr>
            <tr valign="top">
                <td style="border:1px solid #00000a;padding-top:0in;padding-bottom:0in;padding-left:0.08in;padding-right:0.08in;" width="199">
                    <p style="margin-top:0.19in;margin-bottom:0in;">
                        <font face="Times New Roman, serif"><font size="3" style="font-size:12pt;">Наличие
                            планов по совершенствованию публичной
                            отчетности</font></font></p>
                </td>
                <td style="border:1px solid #00000a;padding-top:0in;padding-bottom:0in;padding-left:0.08in;padding-right:0.08in;" width="107">
                    <p style="margin-top:0.19in;margin-bottom:0in;">
                        <font face="Times New Roman, serif"><font size="3" style="font-size:12pt;">3</font></font></p>
                </td>
            </tr>
            <tr valign="top">
                <td style="border:1px solid #00000a;padding-top:0in;padding-bottom:0in;padding-left:0.08in;padding-right:0.08in;" width="199">
                    <p style="margin-top:0.19in;margin-bottom:0in;">
                        <font face="Times New Roman, serif"><font size="3" style="font-size:12pt;">Отражение
                            в отчете информации о взаимодействии
                            с заинтересованными сторонами в ходе
                            подготовки отчета</font></font></p>
                </td>
                <td style="border:1px solid #00000a;padding-top:0in;padding-bottom:0in;padding-left:0.08in;padding-right:0.08in;" width="107">
                    <p style="margin-top:0.19in;margin-bottom:0in;">
                        <font face="Times New Roman, serif"><font size="3" style="font-size:12pt;">5</font></font></p>
                </td>
            </tr>
            <tr valign="top">
                <td style="border:1px solid #00000a;padding-top:0in;padding-bottom:0in;padding-left:0.08in;padding-right:0.08in;" width="146">
                    <p align="center" style="margin-top:0.19in;margin-bottom:0in;">
                        <font face="Times New Roman, serif"><font size="3" style="font-size:12pt;"><b>Заверение
                            отчетной информации</b></font></font></p>
                </td>
                <td style="border:1px solid #00000a;padding-top:0in;padding-bottom:0in;padding-left:0.08in;padding-right:0.08in;" width="113">
                    <p align="center" style="margin-top:0.19in;margin-bottom:0in;">
                        <font face="Times New Roman, serif"><font size="3" style="font-size:12pt;">5</font></font></p>
                </td>
                <td style="border:1px solid #00000a;padding-top:0in;padding-bottom:0in;padding-left:0.08in;padding-right:0.08in;" width="199">
                    <p style="margin-top:0.19in;margin-bottom:0in;">
                        <font face="Times New Roman, serif"><font size="3" style="font-size:12pt;">Наличие
                            заключения службы внутреннего контроля
                            и аудита</font></font></p>
                </td>
                <td style="border:1px solid #00000a;padding-top:0in;padding-bottom:0in;padding-left:0.08in;padding-right:0.08in;" width="107">
                    <p style="margin-top:0.19in;margin-bottom:0in;">
                        <font face="Times New Roman, serif"><font size="3" style="font-size:12pt;">5</font></font></p>
                </td>
            </tr>
            <tr valign="top">
                <td rowspan="2" style="border:1px solid #00000a;padding-top:0in;padding-bottom:0in;padding-left:0.08in;padding-right:0.08in;" width="146">
                    <p align="center" style="margin-top:0.19in;margin-bottom:0in;">
                        <font face="Times New Roman, serif"><font size="3" style="font-size:12pt;"><b>Удобство
                            использования отчетности и каналов
                            оперативной коммуникации с
                            заинтересованными сторонами</b></font></font></p>
                </td>
                <td rowspan="2" style="border:1px solid #00000a;padding-top:0in;padding-bottom:0in;padding-left:0.08in;padding-right:0.08in;" width="113">
                    <p align="center" style="margin-top:0.19in;margin-bottom:0in;">
                        <br>

                    </p>
                    <p align="center" style="margin-top:0.19in;margin-bottom:0in;">
                        <br>

                    </p>
                    <p align="center" style="margin-top:0.19in;margin-bottom:0in;">
                        <font face="Times New Roman, serif"><font size="3" style="font-size:12pt;">58</font></font></p>
                </td>
                <td style="border:1px solid #00000a;padding-top:0in;padding-bottom:0in;padding-left:0.08in;padding-right:0.08in;" width="199">
                    <p style="margin-top:0.19in;margin-bottom:0in;">
                        <font face="Times New Roman, serif"><font size="3" style="font-size:12pt;">Наличие
                            электронного (интерактивного) отчета</font></font></p>
                </td>
                <td style="border:1px solid #00000a;padding-top:0in;padding-bottom:0in;padding-left:0.08in;padding-right:0.08in;" width="107">
                    <p style="margin-top:0.19in;margin-bottom:0in;">
                        <font face="Times New Roman, serif"><font size="3" style="font-size:12pt;">16</font></font></p>
                </td>
            </tr>
            <tr valign="top">
                <td style="border:1px solid #00000a;padding-top:0in;padding-bottom:0in;padding-left:0.08in;padding-right:0.08in;" width="199">
                    <p style="margin-top:0.19in;margin-bottom:0in;">
                        <font face="Times New Roman, serif"><font size="3" style="font-size:12pt;">Наличие
                            в отчете контактов службы, ответственной
                            за коммуникацию по вопросам раскрытия
                            информации</font></font></p>
                </td>
                <td style="border:1px solid #00000a;padding-top:0in;padding-bottom:0in;padding-left:0.08in;padding-right:0.08in;" width="107">
                    <p style="margin-top:0.19in;margin-bottom:0in;">
                        <font face="Times New Roman, serif"><font size="3" style="font-size:12pt;">46</font></font></p>
                </td>
            </tr>
            </tbody>
            </table>
        </center>
        <p>
            Компании III уровня прозрачности не используют международные руководства и международные стандарты при подготовке отчетности. Как правило, система публичной отчетности таких компаний слабо развита. Наиболее распространенным элементом является нормативная база в области публичной отчетности и раскрытия информации. Среди таких компаний только 6 из 147 компаний использовали практику взаимодействия с заинтересованными сторонами в ходе подготовки отчетности: <b>ОАО «МРСК Урала»</b>, <b>ПАО «ТМК»</b>, <b>ПАО «Энел Россия»</b>, <b>АО «ЗиО»</b>, <b>ОАО «Фацер»</b>. Только 5 компаний из 147 провели внутренний аудит нефинансовой информации: <b>ПАО «ДЭК»</b>, <b>ПАО «Мордовская энергосбытовая компания»</b>, <b>АО «Группа «Русагро»</b>, <b>АО «Группа «Илим»</b>, <b>ПАО «Таттелеком»</b>.
        </p>
        <p>
            Тем не менее, компании даже III уровня прозрачности обеспокоены удобством использования отчетности, о чем говорит выпуск электронных (интерактивных) отчетов 16 компаниями. Треть компаний (46 из 147 компаний, 31%) обеспечивает минимальные каналы оперативной коммуникации с заинтересованными сторонами, предоставляя информацию о контактах служб, ответственных за коммуникацию по вопросам раскрытия информации, в отчетах.
        </p>

    </div>
</div>
<script src="../js/ru/jquery-3.3.1.min.js"></script>
<script src="../js/ru/menu.js"></script>
<script src="../js/ru/header.js"></script>
<script src="../js/ru/diagrams/raphael-min.js"></script>
<script src="../js/ru/diagrams/morris.min.js"></script>
<script src="../js/ru/mechs.js"></script>
</body>
</html>