<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Доклад</title>
    <link rel="stylesheet" href="/../css/common.css">
    <link rel="stylesheet" href="/../css/index.css">
</head>
<body>

    <header>

        <div class="centered">
            <div id="logo"></div>
            <div class="rhomb no-hover" id="rhomb1">
                <div></div>
            </div>
            <a href="/apply">
                <div class="rhomb" id="rhomb2">
                    <div></div>
                </div>
            </a>
            <a href="http://corptransparency.ru/rate/" target="_blank">
                <div class="rhomb" id="rhomb3">
                    <div></div>
                </div>
            </a>
                <a href="/subs">
            <div class="rhomb" id="rhomb4">
                <div></div>
            </div>
                </a>
            <a href="/mechs">
            <div class="rhomb" id="rhomb5">
                <div></div>
            </div>
            </a>
            <a href="/about">
                <div class="rhomb" id="rhomb6">
                    <div></div>
                </div>
            </a>
            <a href="/about">
                <div class="rhomb" id="rhomb7">
                    <div></div>
                </div>
            </a>
            <a href="/keys_transp">
                <div class="rhomb" id="rhomb8">
                    <div></div>
                </div>
            </a>
            <a href="/state">
                <div class="rhomb" id="rhomb9">
                    <div></div>
                </div>
            </a>
            <a href="/conclusions">
                <div class="rhomb" id="rhomb10">
                    <div></div>
                </div>
            </a>
            <a href="/aspects">
                <div class="rhomb" id="rhomb11">
                    <div></div>
                </div>
            </a>
            <a href="/keys_transp">
                <div class="rhomb" >
                    <div></div>
                </div>
            </a>
            <div class="rhomb no-hover" id="rhomb13">
                <div>
                    <span class="top-line">
                        <span class="number">2017</span>
                        <span>ИССЛЕДОВАНИЕ <br>
                        КОРПОРАТИВНОЙ ПРОЗРАЧНОСТИ <br>
                        РОССИЙСКИХ КОМПАНИЙ</span>
                    </span>
                    <span class="bottom-line">
                        <p class="language"><a href="/lang" class="active">RU</a> | <a href="/lang">EN</a> </p>
                        <form action="">
                            <button type="submit"></button>
                            <input type="text" placeholder="введите запрос">
                        </form>
                    </span>
                </div>
            </div>
            <div class="links">
                <a href="/lead">
                    <div>
                        <img src="../images/person.png" alt="">
                        <P>ОБРАЩЕНИЕ РУКОВОДИТЕЛЯ</P>
                    </div>
                </a>
                <a href="http://da-strateg.ru/ikp/">
                    <div>
                        <b>2013-2016</b>
                        <P>ПРЕДЫДУЩИЕ ИССЛЕДОВАНИЯ</P>
                    </div>
                </a>
                <a href="http://corptransparency.ru/contacts">
                    <div>
                        <img src="../images/list.png" alt="">
                        <P>ОБРАТНАЯ СВЯЗЬ</P>
                    </div>
                </a>
                <a href="http://corptransparency.ru/contacts">
                    <div>
                        <img src="../images/glasses.png" alt="">
                        <P>ЗАПРОСИТЬ ЭКСПЕРТИЗУ ОТЧЕТА</P>
                    </div>
                </a>
                <a href="/apply">
                    <div>
                        <img src="../images/downloads.png" alt="">
                        <P>ЦЕНТР ЗАГРУЗОК</P>
                    </div>
                </a>
            </div>
        </div>

    </header>

    <div class="partners">
        <p>Партнеры исследования:</p>
        <img src="../images/das.png" alt="">
        <img src="../images/nexia.png" alt="">
        <img src="../images/downstream.png" alt="">
        <img src="../images/ines.png" alt="">
        <img src="../images/Logo_ASE.png" alt="" width="85" height="37">
        <img height="50" src="../images/IILA.png" alt="">
    </div>

</body>
<script src="../js/jquery-3.3.1.min.js"></script>

</html>