<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Ключевые показатели прозрачности</title>
    <link rel="stylesheet" href="../css/common.css">
    <link rel="stylesheet" href="../css/menu.css">

    <link rel="stylesheet" href="../css/keys_transp.css">
</head>

<body>
    <header></header>

    <div class="content">
        <div class="menu"></div>

        <div class="main-content">
            <h1>Ключевые показатели прозрачности</h1>
            <div class="wrapprer">
                <div class="dia">
                    <a href="" id="r1">
                        <div>
                            <p>
                                <b>Корпортаивная прозрачность и инвестиционная привлекательнсоть крупнейших российских компаний</b>
                            </p>
                            <p class="hidden">Коэффициент прозрачности листингуемых компаний - 2,6</p>
                            <p class="hidden">Коэффициент прозрачности нелистнгуемых компаний - 1,6</p>
                        </div>
                    </a>
                    <a href="" id="r2">
                        <div>
                            <p>
                                <b>Общее состояние коропоративной прозрачности крупнейших российских компаний</b>
                            </p>
                            <p class="hidden">I уровень прозрачности - 21 компаний (2.5%)</p>
                            <p class="hidden">II уровень прозрачности - 22 компании (2.6%)</p>
                            <p class="hidden">III уровень прозрачности - 132 компании (15.4%)</p>
                            <p class="hidden">IV уровень прозрачности - 217 компаний (25.4%)</p>
                            <p class="hidden">V (нулевой) уровень прозрачности - 424 компаний (49.6%)</p>
                        </div>
                    </a>
                    <a href="" id="r3">
                        <div>
                            <p>
                                <b>Общеее состояние корпоративной прозрачности крупнейших российских компаний</b>
                            </p>
                            <p class="hidden">44 компании (22,3 %), публикующие отчетную информацию исключительно в соответствии с требованиями
                                ЦБ РФ (IV уровень прозрачности), являются системообразующими.</p>
                        </div>
                    </a>
                    <a href="" id="r4">
                        <div>
                            <p>
                                <b>Общее состояние коропоративной прозрачности крупнейших российских компаний</b>
                            </p>
                            <p class="hidden">Среди обследованных в 2017 году крупнейших российских компаний было выявлено всего 48 компаний
                                (5 %), прозрачность которых находится на уровне международных требований и практик.
                            </p>
                        </div>
                    </a>
                    <a href="" id="r5">
                        <div>
                            <p>
                                <b>Особенности раскрытия отчетной информации компаниями I-IV уровней корпоративной прозрачности</b>
                            </p>
                            <p class="hidden">В 2016 году Интегрированные отчеты составили 33% (от отчетов Premium - II уровней прозрачности)</p>
                            <p class="hidden">Комбинированные отчеты составили 27% (оот отчетов Premium - II уровней прозрачности) и 95% (от
                                отчетов III уровня прозрачности)</p>
                        </div>
                    </a>
                    <a href="" id="r6">
                        <div>
                            <p>
                                <b>Прозрачность компаний с различной организационно-правовой формой</b>
                            </p>
                            <p class="hidden">В 2016 году 290 публичных компаний (92%) прозрачны (соответствие Premium - IV уровням прозрачности)</p>
                            <p class="hidden">111 непубличных компаний (22%) прозрачны (соответствие Premium - IV уровням прозрачности)</p>
                        </div>
                    </a>
                    <a href="" id="r7">
                        <div>
                            <p>
                                <b>Корпоративная прозрачность и инвестиционная привлекательность крупнейших российских компаний</b>
                            </p>
                            <p class="hidden">Коэффициент прозрачности компаний:</p>
                            <p class="hidden">1-го уровня кредито способности - 3,53
                                <br>2-го уровня кредито способности - 2,91
                                <br>3-го уровня кредито способности - 2,31
                                <br>4-го уровня кредито способности - 1,86</p>
                        </div>
                    </a>
                    <a href="" id="r8">
                        <div>
                            <p>
                                <b>Сравнение прозрачности системообразующих и не системообразующих организаций РФ</b>
                            </p>
                            <p class="hidden">Коэффициент прозрачности системообразующих компаний - 2,1</p>
                            <p class="hidden">Коэффициент прозрачности всех обследованных компаний - 2,01</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <script src="../js/ru/jquery-3.3.1.min.js"></script>
    <script src="../js/ru/menu.js"></script>
    <script src="../js/ru/header.js"></script>

</body>

</html>