<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Ключевые показатели прозрачности</title>
    <link rel="stylesheet" href="../css/common.css">
    <link rel="stylesheet" href="../css/menu.css">

    <link rel="stylesheet" href="../css/keys_transp.css">
</head>

<body>
<header></header>

<div class="content">
    <div class="menu"></div>

    <div class="main-content">
        <h1>Ключевые показатели прозрачности</h1>
        <div class="wrapprer">
            <div class="dia">
                <a href="" id="r1">
                    <div>
                        <p>
                            <b>Корпоративная прозрачность компаний, имеющих листинг на Московской или зарубежных
                                биржах</b>
                        </p>
                        <p class="hidden">Коэффициент прозрачности листингуемых компаний - 3,51</p>
                        <p class="hidden">Коэффициент прозрачности нелистнгуемых компаний - 1,37</p>
                    </div>
                </a>
                <a href="" id="r2">
                    <div>
                        <p>
                            <b>Общее состояние коропоративной прозрачности крупнейших российских компаний</b>
                        </p>
                        <p class="hidden">Premium уровень прозрачности – 3 компаний (0,3%)</p>
                        <p class="hidden">I уровень прозрачности - 10 компаний (1%)</p>
                        <p class="hidden">II уровень прозрачности - 35 компании (3,7%)</p>
                        <p class="hidden">III уровень прозрачности - 147 компании (15,4%)</p>
                        <p class="hidden">IV уровень прозрачности - 197 компаний (20,6%)</p>
                        <p class="hidden">V уровень прозрачности - 550 компаний (57,5%)</p>
                        <p class="hidden">Отчёт на иностранном языке – 14 компаний (1,5%)</p>
                    </div>
                </a>
                <a href="" id="r3">
                    <div>
                        <p>
                            <b>Состояние корпоративной прозрачности системообразующих компаний</b>
                        </p>
                        <p class="hidden">42 компании (22,3 %), публикующие отчетную информацию исключительно в
                            соответствии с требованиями
                            ЦБ РФ (IV уровень прозрачности), являются системообразующими.</p>
                    </div>
                </a>
                <a href="" id="r4">
                    <div>
                        <p>
                            <b>Соответствие международным стандартам раскрытия информации</b>
                        </p>
                        <p class="hidden">Среди обследованных в 2017 году крупнейших российских компаний было выявлено
                            всего 48 компаний
                            (5 %), прозрачность которых находится на уровне международных требований и практик.
                        </p>
                    </div>
                </a>
                <a href="" id="r5">
                    <div>
                        <p>
                            <b>Особенности раскрытия отчетной информации компаниями I-IV уровней корпоративной
                                прозрачности</b>
                        </p>
                        <p class="hidden">В 2016 году Интегрированные отчеты составили 33% (от отчетов Premium - II
                            уровней прозрачности)</p>
                        <p class="hidden">Комбинированные отчеты составили 27% (оот отчетов Premium - II уровней
                            прозрачности) и 95% (от
                            отчетов III уровня прозрачности)</p>
                    </div>
                </a>
                <a href="" id="r6">
                    <div>
                        <p>
                            <b>Прозрачность компаний с различной организационно-правовой формой</b>
                        </p>
                        <p class="hidden">В 2017 году 295 публичных компаний (80%) прозрачны (соответствие Premium - IV
                            уровням прозрачности)</p>
                        <p class="hidden">97 непубличных компаний (17%) прозрачны (соответствие Premium - IV уровням
                            прозрачности)</p>
                    </div>
                </a>
                <a href="" id="r7">
                    <div>
                        <p>
                            <b>Корпоративная прозрачность и инвестиционная привлекательность крупнейших российских
                                компаний</b>
                        </p>
                        <p class="hidden">Коэффициент прозрачности компаний:</p>
                        <p class="hidden">1-го уровня кредитоспособности - 3,81
                            <br>2-го уровня кредитоспособности - 3,33
                            <br>3-го уровня кредитоспособности - 3
                            <br>4-го уровня кредитоспособности - 2,33</p>
                    </div>
                </a>
                <a href="" id="r8">
                    <div>
                        <p>
                            <b>Сравнение прозрачности системообразующих и не системообразующих организаций РФ</b>
                        </p>
                        <p class="hidden">Коэффициент прозрачности системообразующих компаний - 2,05</p>
                        <p class="hidden">Коэффициент прозрачности всех обследованных компаний - 1,69</p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
<script src="../js/ru/jquery-3.3.1.min.js"></script>
<script src="../js/ru/menu.js"></script>
<script src="../js/ru/header.js"></script>

</body>

</html>