<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Механизмы раскрытия информации</title>
    <link rel="stylesheet" href="../css/common.css">
    <link rel="stylesheet" href="../css/menu.css">
    <link rel="stylesheet" href="../js/ru/diagrams/morris.css">
</head>
<body>
<header></header>

<div class="content">
    <div class="menu"></div>

    <div class="main-content">
        <h1>Механизмы раскрытия информации</h1>
        <p>
            Механизм прозрачности – способы и инструменты, обеспечивающие раскрытие, проверку и донесение до заинтересованных сторон информации о деятельности компании (за счет чего раскрывается информация).
        </p>
        <h3>Раскрытие информации о механизмах прозрачности компаниями лидерской группы (Premium, I и II уровней прозрачности)</h3>
        <center>
            <table cellspacing="0" width="633"><tbody><tr valign="top">
                <td height="115" style="border:1px solid #00000a;padding-top:0in;padding-bottom:0in;padding-left:0.08in;padding-right:0.08in;" width="143">
                    <p><b>Механизм</b></p>
                </td>
                <td style="border:1px solid #00000a;padding-top:0in;padding-bottom:0in;padding-left:0.08in;padding-right:0.08in;" width="144">
                    <p><b>Количество компаний, использующих
                        механизм (среди 48 компаний)</b></p>
                </td>
                <td style="border:1px solid #00000a;padding-top:0in;padding-bottom:0in;padding-left:0.08in;padding-right:0.08in;" width="144">
                    <p><b>Элементы механизмов</b></p>
                </td>
                <td style="border:1px solid #00000a;padding-top:0in;padding-bottom:0in;padding-left:0.08in;padding-right:0.08in;" width="143">
                    <p><b>Количество компаний, использующих
                        элементы механизма (среди 48 компаний)</b></p>
                </td>
            </tr>
            <tr valign="top">
                <td height="30" rowspan="4" style="border:1px solid #00000a;padding-top:0in;padding-bottom:0in;padding-left:0.08in;padding-right:0.08in;" width="143">
                    <p>Следование международным стандартам</p>
                </td>
                <td rowspan="4" style="border:1px solid #00000a;padding-top:0in;padding-bottom:0in;padding-left:0.08in;padding-right:0.08in;" width="144">
                    <p>48</p>
                </td>
                <td style="border:1px solid #00000a;padding-top:0in;padding-bottom:0in;padding-left:0.08in;padding-right:0.08in;" width="144">
                    <p>Руководство Global Reporting Initiative</p>
                </td>
                <td style="border:1px solid #00000a;padding-top:0in;padding-bottom:0in;padding-left:0.08in;padding-right:0.08in;" width="143">
                    <p>48</p>
                </td>
            </tr>
            <tr>
                <td style="border:1px solid #00000a;padding-top:0in;padding-bottom:0in;padding-left:0.08in;padding-right:0.08in;" width="144">
                    <p>Международный стандарт интегрированной
                        отчетности</p>
                </td>
                <td style="border:1px solid #00000a;padding-top:0in;padding-bottom:0in;padding-left:0.08in;padding-right:0.08in;" valign="top" width="143">
                    <p>17</p>
                </td>
            </tr>
            <tr valign="top">
                <td style="border:1px solid #00000a;padding-top:0in;padding-bottom:0in;padding-left:0.08in;padding-right:0.08in;" width="144">
                    <p>Серия стандартов АА 1000</p>
                </td>
                <td style="border:1px solid #00000a;padding-top:0in;padding-bottom:0in;padding-left:0.08in;padding-right:0.08in;" width="143">
                    <p>23</p>
                </td>
            </tr>
            <tr valign="top">
                <td style="border:1px solid #00000a;padding-top:0in;padding-bottom:0in;padding-left:0.08in;padding-right:0.08in;" width="144">
                    <p>Использование других международных
                        стандартов</p>
                </td>
                <td style="border:1px solid #00000a;padding-top:0in;padding-bottom:0in;padding-left:0.08in;padding-right:0.08in;" width="143">
                    <p>5</p>
                </td>
            </tr>
            <tr valign="top">
                <td height="7" rowspan="2" style="border:1px solid #00000a;padding-top:0in;padding-bottom:0in;padding-left:0.08in;padding-right:0.08in;" width="143">
                    <p>Система публичной отчетности</p>
                </td>
                <td rowspan="2" style="border:1px solid #00000a;padding-top:0in;padding-bottom:0in;padding-left:0.08in;padding-right:0.08in;" width="144">
                    <p>46</p>
                </td>
                <td style="border:1px solid #00000a;padding-top:0in;padding-bottom:0in;padding-left:0.08in;padding-right:0.08in;" width="144">
                    <p>Раскрытие информации о системе
                        публичной отчетности</p>
                </td>
                <td style="border:1px solid #00000a;padding-top:0in;padding-bottom:0in;padding-left:0.08in;padding-right:0.08in;" width="143">
                    <p>44</p>
                </td>
            </tr>
            <tr valign="top">
                <td style="border:1px solid #00000a;padding-top:0in;padding-bottom:0in;padding-left:0.08in;padding-right:0.08in;" width="144">
                    <p>Взаимодействие с заинтересованными
                        сторонами в ходе подготовки отчетности</p>
                </td>
                <td style="border:1px solid #00000a;padding-top:0in;padding-bottom:0in;padding-left:0.08in;padding-right:0.08in;" width="143">
                    <p>41</p>
                </td>
            </tr>
            <tr valign="top">
                <td height="6" rowspan="2" style="border:1px solid #00000a;padding-top:0in;padding-bottom:0in;padding-left:0.08in;padding-right:0.08in;" width="143">
                    <p align="right">Заверение отчетной информации</p>
                </td>
                <td rowspan="2" style="border:1px solid #00000a;padding-top:0in;padding-bottom:0in;padding-left:0.08in;padding-right:0.08in;" width="144">
                    <p>32</p>
                </td>
                <td style="border:1px solid #00000a;padding-top:0in;padding-bottom:0in;padding-left:0.08in;padding-right:0.08in;" width="144">
                    <p>Виды заверения отчетной информации</p>
                </td>
                <td style="border:1px solid #00000a;padding-top:0in;padding-bottom:0in;padding-left:0.08in;padding-right:0.08in;" width="143">
                    <p>32</p>
                </td>
            </tr>
            <tr>
                <td style="border:1px solid #00000a;padding-top:0in;padding-bottom:0in;padding-left:0.08in;padding-right:0.08in;" width="144">
                    <p>Мнение аудитора о качестве раскрытии
                        информации в отчете</p>
                </td>
                <td style="border:1px solid #00000a;padding-top:0in;padding-bottom:0in;padding-left:0.08in;padding-right:0.08in;" valign="top" width="143">
                    <p>15</p>
                </td>
            </tr>
            <tr>
                <td height="5" rowspan="2" style="border:1px solid #00000a;padding-top:0in;padding-bottom:0in;padding-left:0.08in;padding-right:0.08in;" valign="top" width="143">
                    <p>Удобство использования отчетности
                        и каналов оперативной коммуникации
                        с заинтересованными сторонами</p>
                </td>
                <td rowspan="2" style="border:1px solid #00000a;padding-top:0in;padding-bottom:0in;padding-left:0.08in;padding-right:0.08in;" valign="top" width="144">
                    <p>48</p>
                </td>
                <td style="border:1px solid #00000a;padding-top:0in;padding-bottom:0in;padding-left:0.08in;padding-right:0.08in;" width="144">
                    <p>Удобство использования отчетности</p>
                </td>
                <td style="border:1px solid #00000a;padding-top:0in;padding-bottom:0in;padding-left:0.08in;padding-right:0.08in;" valign="top" width="143">
                    <p>48</p>
                </td>
            </tr>
            <tr>
                <td style="border:1px solid #00000a;padding-top:0in;padding-bottom:0in;padding-left:0.08in;padding-right:0.08in;" width="144">
                    <p>Каналы оперативной коммуникации с
                        заинтересованными сторонами</p>
                </td>
                <td style="border:1px solid #00000a;padding-top:0in;padding-bottom:0in;padding-left:0.08in;padding-right:0.08in;" valign="top" width="143">
                    <p>47</p>
                </td>
            </tr>
            </tbody></table>
        </center>
        <h3>Раскрытие информации о механизмах прозрачности компаниями III уровня прозрачности</h3>
        <center>
            <table cellspacing="0" width="623"><tbody><tr valign="top">
                <td style="border:1px solid #00000a;padding-top:0in;padding-bottom:0in;padding-left:0.08in;padding-right:0.08in;" width="146">
                    <p align="center" style="margin-top:0.19in;"><font face="Times New Roman, serif"><font size="3" style="font-size:12pt;">Механизмы</font></font></p>
                </td>
                <td style="border:1px solid #00000a;padding-top:0in;padding-bottom:0in;padding-left:0.08in;padding-right:0.08in;" width="113">
                    <p align="center" style="margin-top:0.19in;"><font face="Times New Roman, serif"><font size="3" style="font-size:12pt;">Количество
                        компаний, использующих механизм (среди
                        147 компаний)</font></font></p>
                </td>
                <td style="border:1px solid #00000a;padding-top:0in;padding-bottom:0in;padding-left:0.08in;padding-right:0.08in;" width="199">
                    <p align="center" style="margin-top:0.19in;"><font face="Times New Roman, serif"><font size="3" style="font-size:12pt;">Элементы
                        механизмов</font></font></p>
                </td>
                <td style="border:1px solid #00000a;padding-top:0in;padding-bottom:0in;padding-left:0.08in;padding-right:0.08in;" width="107">
                    <p align="center" style="margin-top:0.19in;"><font face="Times New Roman, serif"><font size="3" style="font-size:12pt;">Количество
                        компаний, использующих элементы
                        механизма (среди 147 компаний)</font></font></p>
                </td>
            </tr>
            <tr valign="top">
                <td rowspan="3" style="border:1px solid #00000a;padding-top:0in;padding-bottom:0in;padding-left:0.08in;padding-right:0.08in;" width="146">
                    <p style="margin-bottom:0in;"><br>

                    </p>
                    <p style="margin-bottom:0in;"><br>

                    </p>
                    <p style="margin-bottom:0in;"><br>

                    </p>
                    <p style="margin-bottom:0in;"><br>

                    </p>
                    <p style="margin-bottom:0in;"><br>

                    </p>
                    <p style="margin-bottom:0in;"><br>

                    </p>
                    <p style="margin-bottom:0in;"><br>

                    </p>
                    <p style="margin-bottom:0in;"><br>

                    </p>
                    <table cellspacing="0" width="147" x-width="147">
                        <colgroup><col width="139">
                            <col width="3">
                        </colgroup><tbody><tr>
                        <td height="16" rowspan="2" style="border:none;padding:0in;" width="139">
                            <p align="center"><font face="Times New Roman, serif"><font size="3" style="font-size:12pt;"><b>Система
                                публичной отчетности</b></font></font></p>
                        </td>
                        <td rowspan="2" style="border:none;padding:0in;" width="3">
                            <p><br>

                            </p>
                        </td>
                    </tr>
                    <tr>
                    </tr>
                    </tbody></table>
                    <p style="margin-top:0.19in;margin-bottom:0.19in;">
                        <br>
                        <br>

                    </p>
                </td>
                <td rowspan="3" style="border:1px solid #00000a;padding-top:0in;padding-bottom:0in;padding-left:0.08in;padding-right:0.08in;" width="113">
                    <p align="center" style="margin-top:0.19in;margin-bottom:0in;">
                        <br>

                    </p>
                    <p align="center" style="margin-top:0.19in;margin-bottom:0in;">
                        <br>

                    </p>
                    <p align="center" style="margin-top:0.19in;margin-bottom:0in;">
                        <br>

                    </p>
                    <p align="center" style="margin-top:0.19in;margin-bottom:0in;">
                        <font face="Times New Roman, serif"><font size="3" style="font-size:12pt;">43</font></font></p>
                </td>
                <td style="border:1px solid #00000a;padding-top:0in;padding-bottom:0in;padding-left:0.08in;padding-right:0.08in;" width="199">
                    <p style="margin-top:0.19in;margin-bottom:0in;">
                        <font face="Times New Roman, serif"><font size="3" style="font-size:12pt;">Указание
                            на внутреннюю нормативную базу
                            организации в области публичной
                            отчетности и раскрытия информации</font></font></p>
                </td>
                <td style="border:1px solid #00000a;padding-top:0in;padding-bottom:0in;padding-left:0.08in;padding-right:0.08in;" width="107">
                    <p style="margin-top:0.19in;margin-bottom:0in;">
                        <font face="Times New Roman, serif"><font size="3" style="font-size:12pt;">36</font></font></p>
                </td>
            </tr>
            <tr valign="top">
                <td style="border:1px solid #00000a;padding-top:0in;padding-bottom:0in;padding-left:0.08in;padding-right:0.08in;" width="199">
                    <p style="margin-top:0.19in;margin-bottom:0in;">
                        <font face="Times New Roman, serif"><font size="3" style="font-size:12pt;">Наличие
                            планов по совершенствованию публичной
                            отчетности</font></font></p>
                </td>
                <td style="border:1px solid #00000a;padding-top:0in;padding-bottom:0in;padding-left:0.08in;padding-right:0.08in;" width="107">
                    <p style="margin-top:0.19in;margin-bottom:0in;">
                        <font face="Times New Roman, serif"><font size="3" style="font-size:12pt;">3</font></font></p>
                </td>
            </tr>
            <tr valign="top">
                <td style="border:1px solid #00000a;padding-top:0in;padding-bottom:0in;padding-left:0.08in;padding-right:0.08in;" width="199">
                    <p style="margin-top:0.19in;margin-bottom:0in;">
                        <font face="Times New Roman, serif"><font size="3" style="font-size:12pt;">Отражение
                            в отчете информации о взаимодействии
                            с заинтересованными сторонами в ходе
                            подготовки отчета</font></font></p>
                </td>
                <td style="border:1px solid #00000a;padding-top:0in;padding-bottom:0in;padding-left:0.08in;padding-right:0.08in;" width="107">
                    <p style="margin-top:0.19in;margin-bottom:0in;">
                        <font face="Times New Roman, serif"><font size="3" style="font-size:12pt;">5</font></font></p>
                </td>
            </tr>
            <tr valign="top">
                <td style="border:1px solid #00000a;padding-top:0in;padding-bottom:0in;padding-left:0.08in;padding-right:0.08in;" width="146">
                    <p align="center" style="margin-top:0.19in;margin-bottom:0in;">
                        <font face="Times New Roman, serif"><font size="3" style="font-size:12pt;"><b>Заверение
                            отчетной информации</b></font></font></p>
                </td>
                <td style="border:1px solid #00000a;padding-top:0in;padding-bottom:0in;padding-left:0.08in;padding-right:0.08in;" width="113">
                    <p align="center" style="margin-top:0.19in;margin-bottom:0in;">
                        <font face="Times New Roman, serif"><font size="3" style="font-size:12pt;">5</font></font></p>
                </td>
                <td style="border:1px solid #00000a;padding-top:0in;padding-bottom:0in;padding-left:0.08in;padding-right:0.08in;" width="199">
                    <p style="margin-top:0.19in;margin-bottom:0in;">
                        <font face="Times New Roman, serif"><font size="3" style="font-size:12pt;">Наличие
                            заключения службы внутреннего контроля
                            и аудита</font></font></p>
                </td>
                <td style="border:1px solid #00000a;padding-top:0in;padding-bottom:0in;padding-left:0.08in;padding-right:0.08in;" width="107">
                    <p style="margin-top:0.19in;margin-bottom:0in;">
                        <font face="Times New Roman, serif"><font size="3" style="font-size:12pt;">5</font></font></p>
                </td>
            </tr>
            <tr valign="top">
                <td rowspan="2" style="border:1px solid #00000a;padding-top:0in;padding-bottom:0in;padding-left:0.08in;padding-right:0.08in;" width="146">
                    <p align="center" style="margin-top:0.19in;margin-bottom:0in;">
                        <font face="Times New Roman, serif"><font size="3" style="font-size:12pt;"><b>Удобство
                            использования отчетности и каналов
                            оперативной коммуникации с
                            заинтересованными сторонами</b></font></font></p>
                </td>
                <td rowspan="2" style="border:1px solid #00000a;padding-top:0in;padding-bottom:0in;padding-left:0.08in;padding-right:0.08in;" width="113">
                    <p align="center" style="margin-top:0.19in;margin-bottom:0in;">
                        <br>

                    </p>
                    <p align="center" style="margin-top:0.19in;margin-bottom:0in;">
                        <br>

                    </p>
                    <p align="center" style="margin-top:0.19in;margin-bottom:0in;">
                        <font face="Times New Roman, serif"><font size="3" style="font-size:12pt;">58</font></font></p>
                </td>
                <td style="border:1px solid #00000a;padding-top:0in;padding-bottom:0in;padding-left:0.08in;padding-right:0.08in;" width="199">
                    <p style="margin-top:0.19in;margin-bottom:0in;">
                        <font face="Times New Roman, serif"><font size="3" style="font-size:12pt;">Наличие
                            электронного (интерактивного) отчета</font></font></p>
                </td>
                <td style="border:1px solid #00000a;padding-top:0in;padding-bottom:0in;padding-left:0.08in;padding-right:0.08in;" width="107">
                    <p style="margin-top:0.19in;margin-bottom:0in;">
                        <font face="Times New Roman, serif"><font size="3" style="font-size:12pt;">16</font></font></p>
                </td>
            </tr>
            <tr valign="top">
                <td style="border:1px solid #00000a;padding-top:0in;padding-bottom:0in;padding-left:0.08in;padding-right:0.08in;" width="199">
                    <p style="margin-top:0.19in;margin-bottom:0in;">
                        <font face="Times New Roman, serif"><font size="3" style="font-size:12pt;">Наличие
                            в отчете контактов службы, ответственной
                            за коммуникацию по вопросам раскрытия
                            информации</font></font></p>
                </td>
                <td style="border:1px solid #00000a;padding-top:0in;padding-bottom:0in;padding-left:0.08in;padding-right:0.08in;" width="107">
                    <p style="margin-top:0.19in;margin-bottom:0in;">
                        <font face="Times New Roman, serif"><font size="3" style="font-size:12pt;">46</font></font></p>
                </td>
            </tr>
            </tbody></table>
        </center>

    </div>
</div>
<script src="../js/ru/jquery-3.3.1.min.js"></script>
<script src="../js/ru/menu.js"></script>
<script src="../js/ru/header.js"></script>
<script src="../js/ru/diagrams/raphael-min.js"></script>
<script src="../js/ru/diagrams/morris.min.js"></script>
<script src="../js/ru/mechs.js"></script>
</body>
</html>