<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Аспекты раскрытия информации</title>
    <link rel="stylesheet" href="../css/common.css">
    <link rel="stylesheet" href="../css/menu.css">
    <link rel="stylesheet" href="../js/ru/diagrams/morris.css">
</head>
<body>
<header></header>

<div class="content">
    <div class="menu"></div>

    <div class="main-content">
        <input type="hidden" value="report-period" id="sub">
        <h2 id="report-period">Раскрытие информации о деятельности организации в отчетном периоде</h2>
        <h3>Число компаний лидерской группы, раскрывших информацию о деятельности в отчётном периоде (2016-2017 годы)</h3>
        <div id="otchet"></div>
        <p>
            Информация о результативности деятельности компании является наиболее раскрываемой среди компаний лидерской группы: все компании Premium, I и II уровней прозрачности раскрыли этот показатель. Информация о ключевых корпоративных событиях, произошедших в отчетном периоде была раскрыта 39 компаниями из 48, вошедших в выборку лидерской группы (в прошлом году этот показатель раскрыли 47 из 52 компаний лидерской группы)
        </p>
        <p>
            Часто компании предоставляли основные показатели результативности своей деятельности в динамике за последние 3 года (42 компаний), однако привели комментарии, поясняющие динамику только 35 компаний, хотя сопровождение динамики показателей комментариями менеджмента является неотъемлемой частью Руководства по подготовке публичной отчетности GRI. Но стоит отметить, что в прошлом отчетном году компаний, раскрывающих динамику показателей результативности за 3 года и комментирующих эту динамику, было гораздо меньше.
        </p>
        <p>
            Половина компаний лидерской группы раскрыла информацию о выполнении поставленных на отчетный период целевых показателей результативности (т.е. целевые и фактические значения). При этом целевые показатели на следующий отчетный период раскрыли еще меньше компаний (42 %). 14 из 48 компаний опубликовали информацию о показателях результативности и за отчетный период, и на будущее.
        </p>
        <div style="border: 1px solid black; color:white; background: #4472c8; float:left; width:50%; padding: 10px 20px; margin-right: 20px; margin-bottom:20px; text-align:center;">
            Лучшие практики раскрытия информации о деятельности организации в отчётном периоде: 
            <div style="line-height: 1.5em; margin-top:1.5em;">
            АО «Концерн Росэнергоатом» 
            <br>
            ПАО «ФСК ЕЭС» 
            <br>
            АО «ПО ЭХЗ» 
            <br>
            ПАО «МОЭСК»
            </div>
        </div>
        <p>
            Цепочка поставок раскрывалась преимущественно через текстовое описание (31 компания из 48, 64,6 %): описывается процесс поставки сырья и сбыта готовой продукции с указанием ключевых поставщиков, логистических подрядчиков и т.д. Только 17 из этих компаний сопровождали текстом графическое (схематическое) изображение цепочки поставок. 2 компании использовали исключительно графическую (схематическую) форму представления данной информации.
        </p>
    </div>
</div>
<script src="../js/ru/jquery-3.3.1.min.js"></script>
<script src="../js/ru/menu.js"></script>
<script src="../js/ru/header.js"></script>
<script src="../js/ru/diagrams/raphael-min.js"></script>
<script src="../js/ru/diagrams/morris.min.js"></script>
<script src="../js/ru/aspects.js"></script>
</body>
</html>
