<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Поиск</title>
    <link rel="stylesheet" href="../css/common.css">
    <link rel="stylesheet" href="../css/menu.css">
    <link rel="stylesheet" href="../js/ru/diagrams/morris.css">
</head>
<body>
<header></header>

<div class="content">
    <div class="menu"></div>

    <div class="main-content">
        <input type="hidden" value="iii2" id="sub">
        <h3 class="tab-text">{% if badsearch==undefined %} {{goodsearch}}
        </h3>
        <hr>
        <div class="container-fluid">
            {% for link,context,linkname in search %}
            <div class="container white-tab">
                <div class="container">
                    <a class="tab-digit" href="/{{link}}">{{linkname}}</a>
                    <hr>
                    <p class="tab-text">{{context}} </p>
                </div>
            </div>
            {% endfor %}
            {% else %}
            {{badsearch}}
            {% endif %}
        </div>
    </div>
</div>
<script src="../js/ru/jquery-3.3.1.min.js"></script>
<script src="../js/ru/menu.js"></script>
<script src="../js/ru/header.js"></script>
<script src="../js/ru/diagrams/raphael-min.js"></script>
<script src="../js/ru/diagrams/morris.min.js"></script>
<script src="../js/ru/aspects.js"></script>
</body>
</html>