<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Субрейтинги и субренкинги</title>
    <link rel="stylesheet" href="../css/common.css">
    <link rel="stylesheet" href="../css/menu.css">
</head>
<body>
<header></header>

<div class="content">
    <div class="menu"></div>

    <div class="main-content">
        <h1>Субрейтинги и субренкинги</h1>
        <ul>
            <a href="http://corptransparency.ru/rate/?rate=1" target="_blank"><li>Субрейтинг листингуемых компаний</li></a>
            <a href="http://corptransparency.ru/rate/?rate=2" target="_blank"><li>Субрейтинг государственных компаний</li></a>
            <a href="http://corptransparency.ru/rate/?rate=3" target="_blank"><li>Субрейтинг частных компаний</li></a>
            <a href="http://corptransparency.ru/rate/?rate=4" target="_blank"><li>Субрейтинг системообразующих компаний</li></a>
            <a href="http://corptransparency.ru/rate/?rate=5" target="_blank"><li>Субренкинг "Стратегическое управление"</li></a>
            <a href="http://corptransparency.ru/rate/?rate=6" target="_blank"><li>Субренкинг "Корпоративное управление"</li></a>
            <a href="http://corptransparency.ru/rate/?rate=7" target="_blank"><li>Субренкинг "Основные результаты отчетного периода"</li></a>
            <a href="http://corptransparency.ru/rate/?rate=8" target="_blank"><li>Субренкинг "Деятельность в области устойчивого развития"</li></a>
            <a href="http://corptransparency.ru/rate/?rate=9" target="_blank"><li>Субренкинг "Противодействие коррупции"</li></a>
            <a href="http://corptransparency.ru/rate/?rate=10" target="_blank"><li>Субренкинг "Закупочная деятельность"</li></a>
            <a href="http://corptransparency.ru/rate/?rate=11" target="_blank"><li>Субренкинг "Следование международным стандартам"</li></a>
            <a href="http://corptransparency.ru/rate/?rate=12" target="_blank"><li>Субренкинг "Система публичной отчетности"</li></a>
            <a href="http://corptransparency.ru/rate/?rate=13" target="_blank"><li>Субренкинг "Заверение отчетной информации"</li></a>
            <a href="http://corptransparency.ru/rate/?rate=14" target="_blank"><li>Субренкинг "Удобство использования отчетности и каналов оперативной коммуникации с заинтересованными сторонами"</li></a>

        </ul>
    </div>
</div>
<script src="../js/ru/jquery-3.3.1.min.js"></script>
<script src="../js/ru/menu.js"></script>
<script src="../js/ru/header.js"></script>

</body>
</html>