<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Состояние корпоративной прозрачности</title>
    <link rel="stylesheet" href="../css/common.css">
    <link rel="stylesheet" href="../css/menu.css">
    <link rel="stylesheet" href="../js/ru/diagrams/morris.css">
</head>

<body>
    <header></header>

    <div class="content">
        <div class="menu"></div>

        <div class="main-content">
            <input type="hidden" value="system" id="sub">

            <h2 id="system">Прозрачность системообразующих организаций РФ</h2>
            <h3>Системообразующие организации</h3>
            <p>
                Перечень системообразующих компаний содержит 197 организаций, включая холдинги и вертикально интегрированные компании, прибыль
                которых формирует более 70% совокупного национального дохода, а численность занятых составляет более 20%
                от общего количества занятых в российской экономике. Перечень системообразующих организаций утвержден протоколом
                заседания Правительственной комиссии по экономическому развитию и интеграции от 05.02.2015 № 1
                <a
                    href="http://economy.gov.ru/minec/about/structure/depSectorEconom/2015020801">
                    <sup>10</sup>
                </a>.
            </p>
            <h3>Коэффициент прозрачности системообразующих компаний в сравнении с другими группами компаний (по приведённой выборке)</h3>
            <div id="system-kf"></div>
            <h3>Выводы:</h3>
            <ol>
                <li>
                    <b>Коэффициент прозрачности системообразующих компаний находится в среднем диапазоне - 2,05 и несущественно
                        отличается от среднего значения (2,3). </b>
                    Системообразующие компании незначительно менее прозрачны, чем компании, листингующиеся только на Московской или только на
                    зарубежных биржах (коэффициенты прозрачности – 2,36 и 2,33 соответственно). Самый высокий коэффициент
                    прозрачности у компаний, листингующихся как на Московской, так и на зарубежных биржах (3,51). При этом
                    системообразующие компании создают прибыль, формирующую более 70% совокупного национального дохода. Численность
                    занятых граждан в этих компаниях составляет более 20% от общего количества занятых в экономике страны.
                </li>
                <li>
                    <b>85 системообразующих компаний (43,15%) являются непрозрачными.</b>
                    Эти компании публично не раскрывают годовую отчетную информацию о своей деятельности. Учитывая, какую важную роль эти компании
                    играют для российской экономики, эта цифра значительна. Продолжение тенденции отсутствия прозрачности
                    почти у половины системообразующих предприятий снизит эффективность мониторинга их деятельности как государственными
                    органами, так и другими заинтересованными сторонами. Отметим, что в рамках первого заседания (от 03.04.2015)
                    Межведомственной комиссии по мониторингу финансово-экономического состояния организаций, входящих в перечень
                    системообразующих, в целях информационно-аналитического обеспечения ее работы были определены следующие
                    направления мониторинга: мониторинг социально-экономического развития в секторах экономики и мониторинг
                    финансово-экономического положения организаций, входящих в перечень системообразующих.
                </li>
                <li>
                    <b>Среди системообразующих компаний есть небольшая группа лидеров корпоративной прозрачности (7 компании,
                        3,56%).</b>
                    Ни одной системообразующей компании не было отнесено к уровню прозрачности Premium, то есть ни одна не разместила нефинансовую
                    отчетность на уровне международных практик с заверением этой отчетности и выпуском интерактивного отчета.
                    7 системообразующих компаний раскрывают информацию на уровне международных практик (I уровень прозрачности).
                    16 оказались на II уровне прозрачности. Надо отметить, что среди каждого уровня прозрачности есть компании
                    с разными организационно-правовыми формами. Наличие компаний с различной организационно-правовой формой
                    указывает на то, что организационно-правовая форма не является определяющим фактором для выбора (или
                    не выбора) вектора на повышение прозрачности. Так, менеджмент ряда непубличных системообразующих организаций,
                    осознавая всю меру влияния их компаний на заинтересованные стороны, регионы присутствия, экономику РФ,
                    стремится раскрывать отчетную информацию в соответствии с передовыми международными требованиями. К таковым
                    компаниям относятся Государственная корпорация «Росатом», Акционерное общество «СУЭК» и другие.
                </li>
            </ol>
            <h3>Прозрачность системообразующих компаний в сравнении с другими группами компаний</h3>
            <center>
                <table width="624" cellpadding="7" cellspacing="0">
                    <colgroup>
                        <col width="60">
                        <col width="39">
                        <col width="43">
                        <col width="31">
                        <col width="14">
                        <col width="31">
                        <col width="12">
                        <col width="31">
                        <col width="12">
                        <col width="4355">
                        <col width="31">
                        <col width="12">
                        <col width="4355">
                        <col width="31">
                        <col width="12">
                        <col width="4355">
                        <col width="40">
                        <col width="11">
                    </colgroup>
                    <tbody>
                        <tr>
                            <td rowspan="2" width="60" bgcolor="#ffffff" style="border: 1px solid #00000a; padding-top: 0cm; padding-bottom: 0cm; padding-left: 0.18cm; padding-right: 0.19cm">
                                <p class="western" align="center">
                                    <font size="4" style="font-size: 14pt">
                                        <font color="#000000">
                                            <font face="Times New Roman, serif">
                                                <b>Группа компаний
                                                </b>
                                            </font>
                                        </font>
                                    </font>
                                </p>
                            </td>
                            <td rowspan="2" width="39" bgcolor="#ffffff" style="border: 1px solid #00000a; padding-top: 0cm; padding-bottom: 0cm; padding-left: 0.18cm; padding-right: 0.19cm">
                                <p class="western" align="center">
                                    <font size="4" style="font-size: 14pt">
                                        <font color="#000000">
                                            <font face="Times New Roman, serif">
                                                <b>Коэффициент прозрачности
                                                </b>
                                            </font>
                                        </font>
                                    </font>
                                </p>
                            </td>
                            <td rowspan="2" width="43" bgcolor="#ffffff" style="border: 1px solid #00000a; padding-top: 0cm; padding-bottom: 0cm; padding-left: 0.18cm; padding-right: 0.19cm">
                                <p class="western" align="center">
                                    <font size="4" style="font-size: 14pt">
                                        <font color="#000000">
                                            <font face="Times New Roman, serif">
                                                <b>Количество обследованных компаний</b>
                                            </font>
                                        </font>
                                    </font>
                                </p>
                            </td>
                            <td colspan="2" width="59" bgcolor="#ffffff" style="border: 1px solid #00000a; padding: 0cm 0.19cm">
                                <p class="western" align="center">
                                    <font size="4" style="font-size: 14pt">
                                        <font color="#000000">
                                            <font face="Times New Roman, serif">
                                                <b>Количество компаний на Premium уровне прозрачности
                                                </b>
                                            </font>
                                        </font>
                                    </font>
                                </p>
                            </td>
                            <td colspan="2" width="57" bgcolor="#ffffff" style="border: 1px solid #00000a; padding: 0cm 0.19cm">
                                <p class="western" align="center">
                                    <font size="4" style="font-size: 14pt">
                                        <font color="#000000">
                                            <font face="Times New Roman, serif">
                                                <b>Количество компаний на I уровне прозрачности</b>
                                            </font>
                                        </font>
                                    </font>
                                </p>
                            </td>
                            <td colspan="3" width="57" bgcolor="#ffffff" style="border: 1px solid #00000a; padding: 0cm 0.19cm">
                                <p class="western" align="center">
                                    <font size="4" style="font-size: 14pt">
                                        <font color="#000000">
                                            <font face="Times New Roman, serif">
                                                <b>Количество компаний на II уровне прозрачности</b>
                                            </font>
                                        </font>
                                    </font>
                                </p>
                            </td>
                            <td colspan="3" width="57" bgcolor="#ffffff" style="border: 1px solid #00000a; padding: 0cm 0.19cm">
                                <p class="western" align="center">
                                    <font size="4" style="font-size: 14pt">
                                        <font color="#000000">
                                            <font face="Times New Roman, serif">
                                                <b>Количество компаний на III уровне прозрачности</b>
                                            </font>
                                        </font>
                                    </font>
                                </p>
                            </td>
                            <td colspan="3" width="57" bgcolor="#ffffff" style="border: 1px solid #00000a; padding: 0cm 0.19cm">
                                <p class="western" align="center">
                                    <font size="4" style="font-size: 14pt">
                                        <font color="#000000">
                                            <font face="Times New Roman, serif">
                                                <b>Количество компаний на IV уровне прозрачности</b>
                                            </font>
                                        </font>
                                    </font>
                                </p>
                            </td>
                            <td colspan="2" width="65" bgcolor="#ffffff" style="border: 1px solid #00000a; padding: 0cm 0.19cm">
                                <p class="western" align="center">
                                    <font size="4" style="font-size: 14pt">
                                        <font color="#000000">
                                            <font face="Times New Roman, serif">
                                                <b>Количество компаний на V уровне прозрачности</b>
                                            </font>
                                        </font>
                                    </font>
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td width="31" bgcolor="#ffffff" style="border: 1px solid #00000a; padding: 0cm 0.19cm">
                                <p class="western" align="center">
                                    <font size="4" style="font-size: 14pt">
                                        <font color="#000000">
                                            <font face="Times New Roman, serif">
                                                <b>В % от общего количества</b>
                                            </font>
                                        </font>
                                    </font>
                                </p>
                            </td>
                            <td width="14" bgcolor="#ffffff" style="border: 1px solid #00000a; padding: 0cm 0.19cm">
                                <p class="western" align="center">
                                    <font size="4" style="font-size: 14pt">
                                        <font color="#000000">
                                            <font face="Times New Roman, serif">
                                                <b>Абс. Знач.
                                                </b>
                                            </font>
                                        </font>
                                    </font>
                                </p>
                            </td>
                            <td width="31" bgcolor="#ffffff" style="border: 1px solid #00000a; padding: 0cm 0.19cm">
                                <p class="western" align="center">
                                    <font size="4" style="font-size: 14pt">
                                        <font color="#000000">
                                            <font face="Times New Roman, serif">
                                                <b>В % от общего количества</b>
                                            </font>
                                        </font>
                                    </font>
                                </p>
                            </td>
                            <td width="12" bgcolor="#ffffff" style="border: 1px solid #00000a; padding: 0cm 0.19cm">
                                <p class="western" align="center">
                                    <font size="4" style="font-size: 14pt">
                                        <font color="#000000">
                                            <font face="Times New Roman, serif">
                                                <b>Абс. Знач.
                                                </b>
                                            </font>
                                        </font>
                                    </font>
                                </p>
                            </td>
                            <td width="31" bgcolor="#ffffff" style="border: 1px solid #00000a; padding: 0cm 0.19cm">
                                <p class="western" align="center">
                                    <font size="4" style="font-size: 14pt">
                                        <font color="#000000">
                                            <font face="Times New Roman, serif">
                                                <b>В % от общего количества</b>
                                            </font>
                                        </font>
                                    </font>
                                </p>
                            </td>
                            <td width="12" bgcolor="#ffffff" style="border: 1px solid #00000a; padding: 0cm 0.19cm">
                                <p class="western" align="center">
                                    <font size="4" style="font-size: 14pt">
                                        <font color="#000000">
                                            <font face="Times New Roman, serif">
                                                <b>Абс. Знач.
                                                </b>
                                            </font>
                                        </font>
                                    </font>
                                </p>
                            </td>
                            <td colspan="2" width="31" bgcolor="#ffffff" style="border: 1px solid #00000a; padding: 0cm 0.19cm">
                                <p class="western" align="center">
                                    <font size="4" style="font-size: 14pt">
                                        <font color="#000000">
                                            <font face="Times New Roman, serif">
                                                <b>В % от общего количества</b>
                                            </font>
                                        </font>
                                    </font>
                                </p>
                            </td>
                            <td width="12" bgcolor="#ffffff" style="border: 1px solid #00000a; padding: 0cm 0.19cm">
                                <p class="western" align="center">
                                    <font size="4" style="font-size: 14pt">
                                        <font color="#000000">
                                            <font face="Times New Roman, serif">
                                                <b>Абс. Знач.
                                                </b>
                                            </font>
                                        </font>
                                    </font>
                                </p>
                            </td>
                            <td colspan="2" width="31" bgcolor="#ffffff" style="border: 1px solid #00000a; padding: 0cm 0.19cm">
                                <p class="western" align="center">
                                    <font size="4" style="font-size: 14pt">
                                        <font color="#000000">
                                            <font face="Times New Roman, serif">
                                                <b>В % от общего количества</b>
                                            </font>
                                        </font>
                                    </font>
                                </p>
                            </td>
                            <td width="12" bgcolor="#ffffff" style="border: 1px solid #00000a; padding: 0cm 0.19cm">
                                <p class="western" align="center">
                                    <font size="4" style="font-size: 14pt">
                                        <font color="#000000">
                                            <font face="Times New Roman, serif">
                                                <b>Абс. Знач.
                                                </b>
                                            </font>
                                        </font>
                                    </font>
                                </p>
                            </td>
                            <td colspan="2" width="40" bgcolor="#ffffff" style="border: 1px solid #00000a; padding: 0cm 0.19cm">
                                <p class="western" align="center">
                                    <font size="4" style="font-size: 14pt">
                                        <font color="#000000">
                                            <font face="Times New Roman, serif">
                                                <b>В % от общего количества</b>
                                            </font>
                                        </font>
                                    </font>
                                </p>
                            </td>
                            <td width="11" bgcolor="#ffffff" style="border: 1px solid #00000a; padding: 0cm 0.19cm">
                                <p class="western" align="center">
                                    <font size="4" style="font-size: 14pt">
                                        <font color="#000000">
                                            <font face="Times New Roman, serif">
                                                <b>Абс. Знач.
                                                </b>
                                            </font>
                                        </font>
                                    </font>
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td width="60" bgcolor="#ffffff" style="border: 1.00pt solid #00000a; padding-top: 0cm; padding-bottom: 0cm; padding-left: 0.17cm; padding-right: 0.19cm">
                                <p class="western" align="center">
                                    <font size="4" style="font-size: 14pt">
                                        <font color="#000000">
                                            <font face="Times New Roman, serif">
                                                <b>Все крупнейшие российские компании</b>
                                            </font>
                                        </font>
                                    </font>
                                </p>
                            </td>
                            <td width="39" bgcolor="#ffffff" style="border: 1px solid #00000a; padding: 0cm 0.19cm">
                                <p class="western" align="center">
                                    <font size="4" style="font-size: 14pt">
                                        <font color="#000000">
                                            <font face="Times New Roman, serif">1,69</font>
                                        </font>
                                    </font>
                                </p>
                            </td>
                            <td width="43" bgcolor="#ffffff" style="border: 1px solid #00000a; padding: 0cm 0.19cm">
                                <p class="western" align="center">
                                    <font size="4" style="font-size: 14pt">
                                        <font color="#000000">
                                            <font face="Times New Roman, serif">941*</font>
                                        </font>
                                    </font>
                                </p>
                            </td>
                            <td width="31" bgcolor="#ffffff" style="border: 1px solid #00000a; padding: 0cm 0.19cm">
                                <p class="western" align="center">
                                    <font size="4" style="font-size: 14pt">
                                        <font color="#000000">
                                            <font face="Times New Roman, serif">0,32</font>
                                        </font>
                                    </font>
                                </p>
                            </td>
                            <td width="14" bgcolor="#ffffff" style="border: 1px solid #00000a; padding: 0cm 0.19cm">
                                <p class="western" align="center">
                                    <font size="4" style="font-size: 14pt">
                                        <font color="#000000">
                                            <font face="Times New Roman, serif">3</font>
                                        </font>
                                    </font>
                                </p>
                            </td>
                            <td width="31" bgcolor="#ffffff" style="border: 1px solid #00000a; padding: 0cm 0.19cm">
                                <p class="western" align="center">
                                    <font size="4" style="font-size: 14pt">
                                        <font color="#000000">
                                            <font face="Times New Roman, serif">1,06</font>
                                        </font>
                                    </font>
                                </p>
                            </td>
                            <td width="12" bgcolor="#ffffff" style="border: 1px solid #00000a; padding: 0cm 0.19cm">
                                <p class="western" align="center">
                                    <font size="4" style="font-size: 14pt">
                                        <font color="#000000">
                                            <font face="Times New Roman, serif">10</font>
                                        </font>
                                    </font>
                                </p>
                            </td>
                            <td width="31" bgcolor="#ffffff" style="border: 1px solid #00000a; padding: 0cm 0.19cm">
                                <p class="western" align="center">
                                    <font size="4" style="font-size: 14pt">
                                        <font color="#000000">
                                            <font face="Times New Roman, serif">4,1</font>
                                        </font>
                                    </font>
                                </p>
                            </td>
                            <td width="12" bgcolor="#ffffff" style="border: 1px solid #00000a; padding: 0cm 0.19cm">
                                <p class="western" align="center">
                                    <font size="4" style="font-size: 14pt">
                                        <font color="#000000">
                                            <font face="Times New Roman, serif">39</font>
                                        </font>
                                    </font>
                                </p>
                            </td>
                            <td colspan="2" width="31" bgcolor="#ffffff" style="border: 1px solid #00000a; padding: 0cm 0.19cm">
                                <p class="western" align="center">
                                    <font size="4" style="font-size: 14pt">
                                        <font color="#000000">
                                            <font face="Times New Roman, serif">14,9</font>
                                        </font>
                                    </font>
                                </p>
                            </td>
                            <td width="12" bgcolor="#ffffff" style="border: 1px solid #00000a; padding: 0cm 0.19cm">
                                <p class="western" align="center">
                                    <font size="4" style="font-size: 14pt">
                                        <font color="#000000">
                                            <font face="Times New Roman, serif">140</font>
                                        </font>
                                    </font>
                                </p>
                            </td>
                            <td colspan="2" width="31" bgcolor="#ffffff" style="border: 1px solid #00000a; padding: 0cm 0.19cm">
                                <p class="western" align="center">
                                    <font size="4" style="font-size: 14pt">
                                        <font color="#000000">
                                            <font face="Times New Roman, serif">21,36</font>
                                        </font>
                                    </font>
                                </p>
                            </td>
                            <td width="12" bgcolor="#ffffff" style="border: 1px solid #00000a; padding: 0cm 0.19cm">
                                <p class="western" align="center">
                                    <font size="4" style="font-size: 14pt">
                                        <font color="#000000">
                                            <font face="Times New Roman, serif">201</font>
                                        </font>
                                    </font>
                                </p>
                            </td>
                            <td colspan="2" width="40" bgcolor="#ffffff" style="border: 1px solid #00000a; padding: 0cm 0.19cm">
                                <p class="western" align="center">
                                    <font size="4" style="font-size: 14pt">
                                        <font color="#000000">
                                            <font face="Times New Roman, serif">58,24</font>
                                        </font>
                                    </font>
                                </p>
                            </td>
                            <td width="11" bgcolor="#ffffff" style="border-top: 1px solid #00000a; border-bottom: 1px solid #00000a; border-left: 1px solid #00000a; border-right: 1.00pt solid #00000a; padding-top: 0cm; padding-bottom: 0cm; padding-left: 0.18cm; padding-right: 0.19cm">
                                <p class="western" align="center">
                                    <font size="4" style="font-size: 14pt">
                                        <font color="#000000">
                                            <font face="Times New Roman, serif">548</font>
                                        </font>
                                    </font>
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td width="60" bgcolor="#ffffff" style="border: 1.00pt solid #00000a; padding-top: 0cm; padding-bottom: 0cm; padding-left: 0.17cm; padding-right: 0.19cm">
                                <p class="western" align="center">
                                    <font size="4" style="font-size: 14pt">
                                        <font color="#000000">
                                            <font face="Times New Roman, serif">
                                                <b>Системообразующие компании
                                                </b>
                                            </font>
                                        </font>
                                    </font>
                                </p>
                            </td>
                            <td width="39" bgcolor="#ffffff" style="border: 1px solid #00000a; padding: 0cm 0.19cm">
                                <p class="western" align="center">
                                    <font size="4" style="font-size: 14pt">
                                        <font color="#000000">
                                            <font face="Times New Roman, serif">2,05</font>
                                        </font>
                                    </font>
                                </p>
                            </td>
                            <td width="43" bgcolor="#ffffff" style="border: 1px solid #00000a; padding: 0cm 0.19cm">
                                <p class="western" align="center">
                                    <font size="4" style="font-size: 14pt">
                                        <font color="#000000">
                                            <font face="Times New Roman, serif">194</font>
                                        </font>
                                    </font>
                                </p>
                            </td>
                            <td width="31" bgcolor="#ffffff" style="border: 1px solid #00000a; padding: 0cm 0.19cm">
                                <p class="western" align="center">
                                    <font size="4" style="font-size: 14pt">
                                        <font color="#000000">
                                            <font face="Times New Roman, serif">0</font>
                                        </font>
                                    </font>
                                </p>
                            </td>
                            <td width="14" bgcolor="#ffffff" style="border: 1px solid #00000a; padding: 0cm 0.19cm">
                                <p class="western" align="center">
                                    <font size="4" style="font-size: 14pt">
                                        <font color="#000000">
                                            <font face="Times New Roman, serif">0</font>
                                        </font>
                                    </font>
                                </p>
                            </td>
                            <td width="31" bgcolor="#ffffff" style="border: 1px solid #00000a; padding: 0cm 0.19cm">
                                <p class="western" align="center">
                                    <font size="4" style="font-size: 14pt">
                                        <font color="#000000">
                                            <font face="Times New Roman, serif">3,6</font>
                                        </font>
                                    </font>
                                </p>
                            </td>
                            <td width="12" bgcolor="#ffffff" style="border: 1px solid #00000a; padding: 0cm 0.19cm">
                                <p class="western" align="center">
                                    <font size="4" style="font-size: 14pt">
                                        <font color="#000000">
                                            <font face="Times New Roman, serif">7</font>
                                        </font>
                                    </font>
                                </p>
                            </td>
                            <td width="31" bgcolor="#ffffff" style="border: 1px solid #00000a; padding: 0cm 0.19cm">
                                <p class="western" align="center">
                                    <font size="4" style="font-size: 14pt">
                                        <font color="#000000">
                                            <font face="Times New Roman, serif">8,2</font>
                                        </font>
                                    </font>
                                </p>
                            </td>
                            <td width="12" bgcolor="#ffffff" style="border: 1px solid #00000a; padding: 0cm 0.19cm">
                                <p class="western" align="center">
                                    <font size="4" style="font-size: 14pt">
                                        <font color="#000000">
                                            <font face="Times New Roman, serif">16</font>
                                        </font>
                                    </font>
                                </p>
                            </td>
                            <td colspan="2" width="31" bgcolor="#ffffff" style="border: 1px solid #00000a; padding: 0cm 0.19cm">
                                <p class="western" align="center">
                                    <font size="4" style="font-size: 14pt">
                                        <font color="#000000">
                                            <font face="Times New Roman, serif">21,13</font>
                                        </font>
                                    </font>
                                </p>
                            </td>
                            <td width="12" bgcolor="#ffffff" style="border: 1px solid #00000a; padding: 0cm 0.19cm">
                                <p class="western" align="center">
                                    <font size="4" style="font-size: 14pt">
                                        <font color="#000000">
                                            <font face="Times New Roman, serif">41</font>
                                        </font>
                                    </font>
                                </p>
                            </td>
                            <td colspan="2" width="31" bgcolor="#ffffff" style="border: 1px solid #00000a; padding: 0cm 0.19cm">
                                <p class="western" align="center">
                                    <font size="4" style="font-size: 14pt">
                                        <font color="#000000">
                                            <font face="Times New Roman, serif">23,2</font>
                                        </font>
                                    </font>
                                </p>
                            </td>
                            <td width="12" bgcolor="#ffffff" style="border: 1px solid #00000a; padding: 0cm 0.19cm">
                                <p class="western" align="center">
                                    <font size="4" style="font-size: 14pt">
                                        <font color="#000000">
                                            <font face="Times New Roman, serif">45</font>
                                        </font>
                                    </font>
                                </p>
                            </td>
                            <td colspan="2" width="40" bgcolor="#ffffff" style="border: 1px solid #00000a; padding: 0cm 0.19cm">
                                <p class="western" align="center">
                                    <font size="4" style="font-size: 14pt">
                                        <font color="#000000">
                                            <font face="Times New Roman, serif">43,8</font>
                                        </font>
                                    </font>
                                </p>
                            </td>
                            <td width="11" bgcolor="#ffffff" style="border-top: 1px solid #00000a; border-bottom: 1px solid #00000a; border-left: 1px solid #00000a; border-right: 1.00pt solid #00000a; padding-top: 0cm; padding-bottom: 0cm; padding-left: 0.18cm; padding-right: 0.19cm">
                                <p class="western" align="center">
                                    <font size="4" style="font-size: 14pt">
                                        <font color="#000000">
                                            <font face="Times New Roman, serif">85</font>
                                        </font>
                                    </font>
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td width="60" bgcolor="#ffffff" style="border: 1.00pt solid #00000a; padding-top: 0cm; padding-bottom: 0cm; padding-left: 0.17cm; padding-right: 0.19cm">
                                <p class="western" align="center">
                                    <font size="4" style="font-size: 14pt">
                                        <font color="#000000">
                                            <font face="Times New Roman, serif">
                                                <b>Компании, которые листингуются на биржах (на зарубежных и на Московской)</b>
                                            </font>
                                        </font>
                                    </font>
                                </p>
                            </td>
                            <td width="39" bgcolor="#ffffff" style="border: 1px solid #00000a; padding: 0cm 0.19cm">
                                <p class="western" align="center">
                                    <font size="4" style="font-size: 14pt">
                                        <font color="#000000">
                                            <font face="Times New Roman, serif">3,51</font>
                                        </font>
                                    </font>
                                </p>
                            </td>
                            <td width="43" bgcolor="#ffffff" style="border: 1px solid #00000a; padding: 0cm 0.19cm">
                                <p class="western" align="center">
                                    <font size="4" style="font-size: 14pt">
                                        <font color="#000000">
                                            <font face="Times New Roman, serif">39</font>
                                        </font>
                                    </font>
                                </p>
                            </td>
                            <td width="31" bgcolor="#ffffff" style="border: 1px solid #00000a; padding: 0cm 0.19cm">
                                <p class="western" align="center">
                                    <font size="4" style="font-size: 14pt">
                                        <font color="#000000">
                                            <font face="Times New Roman, serif">0</font>
                                        </font>
                                    </font>
                                </p>
                            </td>
                            <td width="14" bgcolor="#ffffff" style="border: 1px solid #00000a; padding: 0cm 0.19cm">
                                <p class="western" align="center">
                                    <font size="4" style="font-size: 14pt">
                                        <font color="#000000">
                                            <font face="Times New Roman, serif">0</font>
                                        </font>
                                    </font>
                                </p>
                            </td>
                            <td width="31" bgcolor="#ffffff" style="border: 1px solid #00000a; padding: 0cm 0.19cm">
                                <p class="western" align="center">
                                    <font size="4" style="font-size: 14pt">
                                        <font color="#000000">
                                            <font face="Times New Roman, serif">17,9</font>
                                        </font>
                                    </font>
                                </p>
                            </td>
                            <td width="12" bgcolor="#ffffff" style="border: 1px solid #00000a; padding: 0cm 0.19cm">
                                <p class="western" align="center">
                                    <font size="4" style="font-size: 14pt">
                                        <font color="#000000">
                                            <font face="Times New Roman, serif">7</font>
                                        </font>
                                    </font>
                                </p>
                            </td>
                            <td width="31" bgcolor="#ffffff" style="border: 1px solid #00000a; padding: 0cm 0.19cm">
                                <p class="western" align="center">
                                    <font size="4" style="font-size: 14pt">
                                        <font color="#000000">
                                            <font face="Times New Roman, serif">35,9</font>
                                        </font>
                                    </font>
                                </p>
                            </td>
                            <td width="12" bgcolor="#ffffff" style="border: 1px solid #00000a; padding: 0cm 0.19cm">
                                <p class="western" align="center">
                                    <font size="4" style="font-size: 14pt">
                                        <font color="#000000">
                                            <font face="Times New Roman, serif">14</font>
                                        </font>
                                    </font>
                                </p>
                            </td>
                            <td colspan="2" width="31" bgcolor="#ffffff" style="border: 1px solid #00000a; padding: 0cm 0.19cm">
                                <p class="western" align="center">
                                    <font size="4" style="font-size: 14pt">
                                        <font color="#000000">
                                            <font face="Times New Roman, serif">28,2</font>
                                        </font>
                                    </font>
                                </p>
                            </td>
                            <td width="12" bgcolor="#ffffff" style="border: 1px solid #00000a; padding: 0cm 0.19cm">
                                <p class="western" align="center">
                                    <font size="4" style="font-size: 14pt">
                                        <font color="#000000">
                                            <font face="Times New Roman, serif">11</font>
                                        </font>
                                    </font>
                                </p>
                            </td>
                            <td colspan="2" width="31" bgcolor="#ffffff" style="border: 1px solid #00000a; padding: 0cm 0.19cm">
                                <p class="western" align="center">
                                    <font size="4" style="font-size: 14pt">
                                        <font color="#000000">
                                            <font face="Times New Roman, serif">15,4</font>
                                        </font>
                                    </font>
                                </p>
                            </td>
                            <td width="12" bgcolor="#ffffff" style="border: 1px solid #00000a; padding: 0cm 0.19cm">
                                <p class="western" align="center">
                                    <font size="4" style="font-size: 14pt">
                                        <font color="#000000">
                                            <font face="Times New Roman, serif">6</font>
                                        </font>
                                    </font>
                                </p>
                            </td>
                            <td colspan="2" width="40" bgcolor="#ffffff" style="border: 1px solid #00000a; padding: 0cm 0.19cm">
                                <p class="western" align="center">
                                    <font size="4" style="font-size: 14pt">
                                        <font color="#000000">
                                            <font face="Times New Roman, serif">2,6</font>
                                        </font>
                                    </font>
                                </p>
                            </td>
                            <td width="11" bgcolor="#ffffff" style="border-top: 1px solid #00000a; border-bottom: 1px solid #00000a; border-left: 1px solid #00000a; border-right: 1.00pt solid #00000a; padding-top: 0cm; padding-bottom: 0cm; padding-left: 0.18cm; padding-right: 0.19cm">
                                <p class="western" align="center">
                                    <font size="4" style="font-size: 14pt">
                                        <font color="#000000">
                                            <font face="Times New Roman, serif">1</font>
                                        </font>
                                    </font>
                                </p>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </center>
        </div>
    </div>
    <script src="../js/ru/jquery-3.3.1.min.js"></script>
    <script src="../js/ru/menu.js"></script>
    <script src="../js/ru/header.js"></script>
    <script src="../js/ru/diagrams/raphael-min.js"></script>
    <script src="../js/ru/diagrams/morris.min.js"></script>
    <script src="../js/ru/state.js"></script>
</body>

</html>