<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Механизмы раскрытия информации</title>
    <link rel="stylesheet" href="../css/common.css">
    <link rel="stylesheet" href="../css/menu.css">
    <link rel="stylesheet" href="../js/ru/diagrams/morris.css">
</head>
<body>
<header></header>

<div class="content">
    <div class="menu"></div>

    <div class="main-content">
        <input type="hidden" value="system-way" id="sub">
        <h2 id="system">Системный подход к публичной отчетности</h2>
        <h3>Практика организации систем публичной отчетности</h3>
        <p>
            Системный подход к публичной отчетности характеризуется наличием ряда элементов, обеспечивающих бизнес-процессы, имеющие отношение к корпоративной отчетности: нормативная база в области публичной отчетности, взаимодействие с заинтересованными сторонами (ЗС) в ходе подготовки отчетов, закрепление ответственности за публичную отчетность и пр.
        </p>
        <h3>Число компаний, раскрывающих информацию о системе публичной отчетности (2016-2017 годы)</h3>
        <div id="nums"></div>
        <p>
            Необходимость системного подхода к публичной отчетности и раскрытию информации нашли свое отражение в новой версии Кодекса корпоративного управления от 2014 года, рекомендованного ЦБ РФ<a href="http://www.cbr.ru/publ/Vestnik/ves140418040.pdf"><sup>14</sup></a> (глава VI. «Раскрытие информации об обществе, информационная политика общества»).
        </p>
        <p>
            В целом, системный подход к раскрытию информации и публичной отчетности слабо развит даже у компаний Premium, I и II уровней прозрачности (48 компаний в 2017 году, 52 – в 2016).
        </p>
        <p>
            4 компании раскрыли информацию об использовании всех элементов системы публичной отчетности: АО «ГНЦ НИИАР», АО ИК «АСЭ» АО «ТВЭЛ» и АО «ОКБМ Африкантов» (в 2016 таких компаний 2: АО «ГНЦ НИИАР» и АО «ОКБМ Африкантов»). Одним из наиболее распространенных элементов является нормативная база, 38 из 48 компаний указывали на ее наличие. В 28 из 48 компаниях закреплена ответственность за публичную отчетность за структурным подразделением, в 21 компании – за топ-менеджментом, всего в 6 компаниях эта ответственность отражена в КПЭ топ-менеджмента. В 8 компаниях разработаны собственные системы показателей, сверх тех показателей, что требуется раскрывать согласно законодательству РФ.
        </p>
        <p>
            В 35 отчетах компаний отражено взаимодействие с заинтересованными сторонами в ходе подготовки отчета, а в 10 компаниях в корпоративные структуры внедрены такие образования, как Комиссии заинтересованных сторон («Stakeholder Panel»).
        </p>
        <p>
            В целом, можно отметить положительные изменения по всем показателям системного подхода к раскрытию информации компаниями Premium-II уровней прозрачности в динамике за 2 года.
        </p>
        <h3>
            Практика взаимодействия с заинтересованными сторонами по вопросам публичной отчетности
        </h3>
        <p>
            Только 37 компаний лидерской группы (Premium, I и II уровни прозрачности (48 компаний)) разместили в отчете перечень аспектов, в отношении которых раскрываемая информация считается существенной. Из них 34 компаний вовлекли в процесс определения существенных аспектов представителей своих заинтересованных сторон. Следует отметить, что вовлечение заинтересованных сторон в определение существенных аспектов является неотъемлемой частью Руководства GRI и Стандарта <ИО>. При этом 3 компании, использовавшие международные стандарты при подготовке отчета, не взаимодействовали с заинтересованными сторонами (ЗС) при определении существенных аспектов. Среди 37 компаний, раскрывших перечень существенных аспектов, все предоставили информацию об организации процесса определения существенных аспектов.
        </p>
        <h3>Число компаний, раскрывающих информацию о проводимом взаимодействии с заинтересованными сторонами по поводу отчетности (2017 год)</h3>
        <div id="stakeholder"></div>
        <p>
            Малая доля компаний лидерской группы (16 из 48 компаний) предоставили информацию об учете запросов заинтересованных сторон в отношении отчетности. Следует отметить, что компании, не осуществляющие определение существенных аспектов раскрытия (11 компаний из 48) и не учитывающие запросы своих заинтересованных сторон (ЗС) (порядка 32 компании из 48), рискуют не предоставить информацию существенную и отвечающую интересам их целевых аудиторий.
        </p>
        <p>
            В динамике за 2 отчетных года ситуация с раскрытием данных показателей ухудшилась, за исключением описания процесса определения существенных аспектов отчёта. По этому показателю рост больше, чем в 2 раза.
        </p>
    </div>
</div>
<script src="../js/ru/jquery-3.3.1.min.js"></script>
<script src="../js/ru/menu.js"></script>
<script src="../js/ru/header.js"></script>
<script src="../js/ru/diagrams/raphael-min.js"></script>
<script src="../js/ru/diagrams/morris.min.js"></script>
<script src="../js/ru/mechs.js"></script>
</body>
</html>
