<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Состояние корпоративной прозрачности</title>
    <link rel="stylesheet" href="../css/common.css">
    <link rel="stylesheet" href="../css/menu.css">
    <link rel="stylesheet" href="../js/ru/diagrams/morris.css">
</head>
<body>
<header></header>

<div class="content">
    <div class="menu"></div>

    <div class="main-content">
        <input type="hidden" value="transp-with-difference" id="sub">
        <h2 id="transp-with-difference">Прозрачность компаний с различной организационно-правовой формой</h2>
        <p>
            Организационно-правовая форма компании является основным фактором, стимулирующим компанию раскрывать или
            не раскрывать информацию о своей деятельности и управлении. ОАО (обязаны с 05.05.2014 внести изменения в организационно
            правовую форму вместе с внесением правок в устав) в соответствии с законодательством обязаны раскрывать информацию
            о своей деятельности и управлении. Вместе с тем, организационно-правовая форма является ключевым, но не единственным фактором,
            влияющим на поддержание менеджментом компании ее прозрачности.
        </p>
        <h3>Организационно-правовая форма компаний Premium и I уровней прозрачности</h3>
        <div id="org-form"></div>
        <h3>Вывод:</h3>
        <p>
            <b>
                Компаний, чьи акции свободно обращаются на рынке (ПАО), больше всего среди компаний Premium и I уровней прозрачности.
            </b>
            Это связано с тем, что для ПАО (ОАО, а также ЗАО с публично размещенными облигациями или иными ценными бумагами) ст.92 ФЗ «Об акционерных обществах» предусмотрена обязанность раскрывать для уполномоченных государственных органов и заинтересованных лиц определенную в ФЗ информацию. Доля непубличных обществ, то есть АО, раскрывающих информацию о своей деятельности на Premium и I уровнях, меньше, однако это заслуживает внимания, потому что закон не так жестко определяет требования к раскрытию нефинансовой информации таких компаний в отличие от публичных акционерных обществ (они добровольно предоставляют заинтересованным сторонам исчерпывающую информацию о своей деятельности).
        </p>
        <h2>Организационно-правовая форма компаний II уровня прозрачности</h2>
        <div id="ii-form"></div>
        <h3>Вывод:</h3>
        <p>
            <b>
                Среди компаний второго уровня прозрачности преобладают компании с организационно-правовой формой публичного акционерного общества.
            </b>
            Законодательные требования к раскрытию эмитентами информации о своей хозяйственной деятельности и др. оказывают решающее воздействие на решение компании о степени прозрачности.
        </p>
        <h3>Организационно-правовая форма компаний III уровня прозрачности</h3>

        <div id="iii-form"></div>
        <h3>Вывод:</h3>
        <p>
            <b>
                Среди компаний, раскрывших отчетную информацию выше требований ЦБ РФ, присутствует 34 непубличные компании (ЗАО, ООО, государственные корпорации, АО, ФГУП, ГУП).
            </b>
            Менеджмент непубличных компаний начинает видеть прагматику публичной отчетности и в инициативном порядке использовать ее в своих управленческих целях.
        </p>
        <h3>Организационно-правовая форма компаний IV уровня прозрачности</h3>
        <div id="iv-form"></div>
        <h3>Вывод:</h3>
        <p>
            <b>
                46 (23,4 % от общего количества компаний IV уровня прозрачности) непубличных компаний (ООО, ЗАО, (Ф)ГУП, АО, ГК) в инициативном порядке раскрывают отчетную информацию по требованиям ЦБ РФ,
            </b>
            хотя их организационно-правовая форма не обязывает это делать. Отчетность части акционерных обществ, выпустивших отчетность в 2016 году, в 2017 году не была обнаружена в сети Интернет до даты окончания исследования (14 компаний).
        </p>
        <h3>Организационно-правовая форма компаний V уровня прозрачности</h3>
        <div id="v-form"></div>
        <h3>Вывод:</h3>
        <p>
            <b>
                Подавляющее большинство непрозрачных компаний (490 из 564) являются непубличными (ООО, ЗАО, ФГУП, ГУП, АО).
            </b>
            Однако среди непрозрачных компаний имеется организация, являющаяся ПАО (на 2017 год), отчетность которой не была найдена в сети Интернет (до даты окончания исследования).
        </p>
    </div>
</div>
<script src="../js/ru/jquery-3.3.1.min.js"></script>
<script src="../js/ru/menu.js"></script>
<script src="../js/ru/header.js"></script>
<script src="../js/ru/diagrams/raphael-min.js"></script>
<script src="../js/ru/diagrams/morris.min.js"></script>
<script src="../js/ru/state.js"></script>
</body>
</html>
