.wrapprer{
    display: flex;
    width: 900px;
    margin: auto;
}
.dia{
    display: block;
    margin: auto;
}

.dia a{
    transform: rotate(45deg);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    color: black;
    text-decoration: none;
    position: relative;
    z-index: 1;

}
.dia a .hidden{
    display: none;
}
.dia a:hover{
    transform: rotate(45deg) scale(2);
    transition: transform 0.5s;
    z-index: 25;
    font-size: 8px;
}
.dia a:hover .hidden{
    display: block;
    transition: display 0.5s;
}
.dia p{
    text-indent: 0;
    text-align: center;
}
.dia a div{
    width: 65%;
    transform: rotate(-45deg);

}
#r1{
    width: 182px;
    height: 182px;
    border: 1px solid #1a80c1;
    left: -300px;
    top: 60px;
    background: white;
}
#r2{
    background: #b69d93;
    color: white;
    width: 252px;
    height: 252px;
    left: -260px;
    top:85px;
}
#r3{
    width: 232px;
    height: 232px;
    background: #2b3979;
    color: white;
    left: -80px;
    top: -340px;
}
#r4{
    background: #1a80c1;
    color: white;
    width: 163px;
    height: 163px;
    left: -35px;
    top: -235px;
}
#r5{
    width: 230px;
    height: 230px;
    background: white;
    border: 1px solid #1a80c1;
    left:90px;
    top:-565px;
}
#r6{
    background: white;
    border: 1px solid #b69d93;
    width: 220px;
    height: 220px;
    left: 220px;
    top: -1000px;
}
#r7{
    background: white;
    border: 1px solid #2b3979;
    width: 205px;
    height: 205px;
    left: 270px;
    top: -855px;
}
#r8{
    background: white;
    border: 1px solid #2b3979;
    width: 173px;
    height: 173px;
    left: 370px;
    top: -1240px;
}