<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>About the Research</title>
    <link rel="stylesheet" href="css/common.css">
    <link rel="stylesheet" href="css/menu.css">
    <link rel="stylesheet" href="js/en/diagrams/morris.css">
    <link rel="stylesheet" href="css/dia.css">
</head>

<body>
<header>

</header>

<div class="content">
    <div class="menu">


    </div>

    <div class="main-content">
        <input type="hidden" value="common" id="sub">
        <h1>About the Research</h1>
        <h2 id="common">General Information</h2>
        <p>
            <img src="images/logo_min.png" alt="" align="left" height="50">In 2017, the Russian Regional Integrated
            Reporting Network (RRN) conducted the Vth annual national survey on corporate transparency of the largest
            Russian companies.
        </p>
        <p>
            Research Partners:
        </p>
        <ul>
            <li style="display: flex;align-items: center">“Da-Strategy” Group of Companies;
                <img src="images/das.png" alt="" style="margin-left: 20px">
            </li>
            <li style="display: flex;align-items: center">Engineering division of state Corporation “Rosatom” ASE;
                <img src="images/Logo_ASE.png" alt="" width="105 px" style="margin-left: 20px">
            </li>
            <li style="display: flex;align-items: center">“Nexia Pacioli” Group of Companies;
                <img src="images/nexia.png" alt="" style="margin-left: 20px">
            </li>
            <li style="display: flex;align-items: center">Institute for Economic Strategies of the Russian Academy of
                Sciences;
                <img src="images/ines.png" alt="" style="margin-left: 20px">
            </li>
            <li style="display: flex;align-items: center">Downstream Technologies;
                <img src="images/downstream.png" alt="" style="margin-left: 20px">
            </li>
            <li style="display: flex;align-items: center">International Investment Legal Agency.
                <img src="images/IILA.png" alt="" style="margin-left: 20px; height: 4rem;">
            </li>
        </ul>
        <p>Transparency and information disclosure of companies are important elements of their business attractiveness
            and allow the key stakeholders to make accurate decisions, including investment ones. Transparency is one of
            the factors contributing to business value growth. It is characterized by the company’s eagerness to present
            management information to the stakeholders. Corporate transparency is equally important for public
            acceptance of company’s activity.
        </p>
        <p><b>The main goal of the research </b>is to conduct an annual assessment of the level of corporate
            transparency through a comprehensive analysis of public reports and corporate sites of the largest Russian
            companies, including in order to create conditions for a qualitative evolution of corporate transparency.
        </p>
        <p>
            <b>Tasks:</b>
        </p>
        <ul>
            <li>survey of corporate transparency of the largest Russian companies;</li>
            <li>identification of the best corporate transparency practices, including information disclosure via
                reporting;
            </li>
            <li>preparation of ranking and sub-ratings of corporate transparency.</li>
        </ul>
        <h2>Subject of the Research:</h2>
        <p>The research surveys public annual reports of companies for 2016 (integrated reports, standard annual reports
            and non-financial reports - environmental reports, social reports, sustainability reports, corporate social
            responsibility reports, etc.). In particular, the information on the use of the following disclosure
            standards in the reports is checked:
        </p>
        <ul>
            <li>Regulation on the disclosure of information by the issuers of equity securities (approved by the Bank of
                Russia on December 30, 2014 No. 454-P);
            </li>
            <li>The International
                <IR> Framework;
            </li>
            <li>Global Reporting Initiative (different versions).</li>
        </ul>
        <p>
            In addition, information, posted on official corporate websites of companies, is examined based on a certain
            set of criteria.
            <a href="./steps">
                <sup>1</sup>
            </a>.
        </p>
        <p>Other reporting information (quarterly reports, financial statements, etc.), as well as a news line,
            presentations and individual internal documents posted on official corporate sites of companies, are
            considered only when they are specifically referred to by annual reports as a source of additional reporting
            information.</p>
        <p>
            Reporting information for 2017 is not surveyed.
        </p>
        <p>
            Information in foreign languages is not examined.
        </p>
        <h2>In 2017, there were a number of changes in the methodology and organization of the Study.</h2>
        <p>
            <b>Sample:</b>
        </p>
        <p>Within the framework of the Study, the following companies are surveyed:</p>
        <ul>
            <li>included in the rating "Rating of 600 top companies in Russia in 2015" ("RAEX-600");</li>
            <li>listed on the Moscow and foreign exchanges (LSE (London Stock Exchange), NYSE (New York Stock
                Exchange), NASDAQ (National Association of Securities Dealers Automated Quotation), HKEX (Hong Kong
                Exchange), Euronext NV, Deutsche Börse Group);
            </li>
            <li>companies that sent an official application letter requesting to be included in the study sample
                before November 1, 2017. The decision to include a specific company in the sample is taken by the Expert
                Council;
            </li>
            <li>Companies included in the list of backbone organizations (minutes of the meeting of the Government
                Commission for Economic Development and Integration No. 1 of 05.02.2015), as well as state corporations
                and companies managed by them with revenues of at least three billion rubles (according to the data for
                2015).
            </li>
        </ul>
        <p>
            <b>Company survey:</b>
        </p>
        <p>Starting 2017, companies are distributed by transparency level according to the number of points scored. The
            methodological calculation of scores takes into account the importance of the degree of compliance of the
            information disclosed to the requirements of Russian and international reporting standards, the availability
            / absence of verification of reporting information by an independent party / parties and the availability of
            an electronic (interactive) annual report as one of the mechanisms ensuring the convenience of using
            disclosed information for the stakeholders of companies.
        </p>


    </div>
</div>
<script src="js/en/jquery-3.3.1.min.js"></script>
<script src="js/en/menu.js"></script>
<script src="js/en/header.js"></script>
<script src="js/en/diagrams/raphael-min.js"></script>
<script src="js/en/diagrams/morris.min.js"></script>
<script src="js/en/about.js"></script>
</body>

</html>