<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Annex</title>
    <link rel="stylesheet" href="css/common.css">
    <link rel="stylesheet" href="css/menu.css">
    <link rel="stylesheet" href="js/en/diagrams/morris.css">
</head>

<body>
    <header></header>

    <div class="content">
        <div class="menu"></div>
        <div class="main-content">
            <ol>
                <a href="uploads/en/Annex 1. List of companies surveyed.xlsx">
                    <li>Annex 1. List of companies surveyed</li>
                </a>
                <a href="uploads/en/Annex 2. List of companies with reporting in foreign language.xlsx">
                    <li>Annex 2. List of companies with reporting in foreign language</li>
                </a>
                <a href="uploads/en/Annex 3. List of companies with levels of creditworthiness.docx">
                    <li>Annex 3. List of companies with levels of creditworthiness</li>
                </a>
            </ol>
        </div>
    </div>
    <script src="js/en/jquery-3.3.1.min.js"></script>
    <script src="js/en/menu.js"></script>
    <script src="js/en/header.js"></script>

</body>

</html>