<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Transparency aspects</title>
    <link rel="stylesheet" href="css/common.css">
    <link rel="stylesheet" href="css/menu.css">
    <link rel="stylesheet" href="js/en/diagrams/morris.css">
</head>
<body>
<header></header>

<div class="content">
    <div class="menu"></div>

    <div class="main-content">
        <input type="hidden" value="business-model" id="sub">
        <h2 id="business-model">Disclosure of business model</h2>
        <p>
            One of the most up-to-date international Codes of Corporate Governance, mandatory on the London Stock
            Exchange (version of 2014) , requires the disclosure of the business model. In this document the business
            model is defined as «the basis on which the company generates or preserves value over the long term». The
            business model is an important element of the disclosure of the strategic management information and also a
            significant analytic decision-making tool for shareholders, investors and other stakeholders. The disclosure
            of the information on the business model is a Framework requirement too.
        </p>
        <h3>
            Quantity of the leading companies which disclosed their business model information (2016-2017)
        </h3>
        <div id="nums-business"></div>
        <p>
            The most common form of the business model presentation is graphical (diagram based). It was used by 89.6%
            of the leading group companies (Premium, I and II transparency levels): 43 out of 48. 35 of them also
            provided a text description (72.9%).
        </p>
        <p>
            Within the scope of the business model description the list of products and services provided by the company
            was disclosed rather often (79% of the leading group: 38 out of 48 companies). More than 50% of companies
            also disclosed the interaction between the strategic objectives and the business model (see the section <a
                href="disclosure">"Disclosure of the strategy and its implementation</a>).
        </p>
        <p>Almost half of the leading group companies listed and described the capitals within the business model
            description. However only 19 (40%) of the companies described the influence of their business on these
            capitals (i.e. their increase / decrease / transformation as a result of the company's business). Even fewer
            companies disclosed the division their capital into internal (used by the company) and external (in joint
            use with other stakeholders). 9 companies disclosed this division. 8 of them used it to describe their
            impact on capital. </p>

    </div>
</div>
<script src="js/en/jquery-3.3.1.min.js"></script>
<script src="js/en/menu.js"></script>
<script src="js/en/header.js"></script>
<script src="js/en/diagrams/raphael-min.js"></script>
<script src="js/en/diagrams/morris.min.js"></script>
<script src="js/en/aspects.js"></script>
</body>
</html>
