<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Transparency aspects</title>
    <link rel="stylesheet" href="css/common.css">
    <link rel="stylesheet" href="css/menu.css">
    <link rel="stylesheet" href="js/en/diagrams/morris.css">
</head>

<body>
<header></header>

<div class="content">
    <div class="menu"></div>

    <div class="main-content">
        <input type="hidden" value="corp" id="sub">

        <h2 id="corp">
            Description of Corporate Governance System
        </h2>
        <h3>
            Disclosure of Information on the Corporate Governance System
        </h3>
        <p>
            Mainly due to the legislative regulations the information on the corporate governance system is the most
            referable to disclose by the leaders of the group (Premium, I and II transparency levels). The transparency
            reports of all 48 companies disclose the corporate governance system, namely, the structure and interaction
            of management bodies. Disclosure of such information is mandatory if the company shares are admitted for
            trading in accordance with the Regulation on the Disclosure of Information by the Issuers of Securities of
            the Central Bank of the Russian Federation 454-P as of 30.12.2015 (paragraph 70.4)
            <a href="http://www.consultant.ru/document/cons_doc_LAW_175536/"><sup>18</sup></a>.
        </p>
        <p>
            More than 90% of the companies disclosed the information about the main documents regulating the corporate
            governance system (45 out of 48 companies), as well as the availability and composition of committees under
            the Board of Directors or the fact of their absence (45 out of 48 companies), the use of Russian (Code of
            Corporate Governance) and / or international (as a rule, these are the requirements of the London Stock
            Exchange) corporate management standards (43 of 48 companies).
        </p>
        <h3>
            Leading companies which disclosed the Corporate Governance System (2016-2017)
        </h3>
        <div id="nums-korp"></div>
        <p>
            The activities planned to improve the corporate governance system are disclosed a little worse. This
            information was provided by 73% of the leading group companies (35 out of 48 companies). About 40 out of 48
            (83%) companies disclosed the information on the improvements of the corporate governance system during the
            reporting period.
        </p>
        <h3>The quantity of the leading companies which disclosed the executive compensation amounts (2016-2017)
        </h3>
        <div id="rewards"></div>
        <h3>
            Disclosure of remuneration
        </h3>
        <p>
            The most of the leading group companies (Premium, I and II levels of transparency) disclosed the information
            on the remuneration policy in 2017. Such are the main approaches / principles (47 out of 48 companies). This
            is understandable, since the disclosure of this information is mandatory in accordance with the disclosure
            regulations applied to the issuers of securities by the Central Bank of the Russian Federation 454-P as of
            30.12.2015 (paragraph 70.3)
            <a href="http://www.consultant.ru/document/cons_doc_LAW_175536/"><sup>19</sup></a>.
        </p>
        <p>
            39 companies disclosed the information on the structure and the amount of the remuneration of the members of
            the Board of Directors (81.25% of the leading group). More disclosed is the information on the structure of
            the remuneration of the CEO / President / Chairman of the Board (42 out of 48 companies). The Central Bank
            of the Russian Federation recommended issuers to disclose the remuneration of all the top managers in
            December 2017. Due to this fact this index may improve in the next fiscal year.
        </p>
        <p>
            The least disclosed information is the dependence of the remuneration on KPI. Only 38 companies disclosed
            such information with respect to CEO / President / Chairman of the Board and only 26 companies – with
            respect to the members of the Board of Directors - out of 48 leading companies.
        </p>
        <h3>Description of dividend policy</h3>
        <h3>
            The quantity of the companies, which disclosed their dividend policy (2017)
        </h3>
        <div id="divident"></div>
        <p>
            Each of the three indicators (the description of the dividend policy, disclosure of information on the
            amount of dividends per share and dividend history) were disclosed by 40 out of the 48 companies which
            belong to Premium - II level of transparency. All three indicators were disclosed by 35 out of 48 companies
            (73%) of the leading group. Despite of the fact that the majority (32 out of 48) of the companies of the
            considered transparency levels) are PJSC (or OJSC), not all of them agreed to disclose the information on
            the dividend policy, which may negatively affect the future investments in these companies from potential
            and actual investors.
        </p>
        <h3>
            Compliance with the principles of the Corporate Governance Code
        </h3>
        <p>
            In 2014 the Central Bank of the Russian Federation adopted the Code of Corporate Governance. The Code is a
            set of recommendations providing for a better corporate management, instructing on the protection of the
            rights of shareholders, promoting their implementation in practice, ensuring a better company management,
            long-term and sustainable development.
        </p>
        <p>
            The application of the provisions of the Code by the companies is voluntary and is motivated by the desire
            to increase the attractiveness of a company for actual and potential investors.
        </p>
        <p>
            Corporate governance should be based on the principle of the sustainable development of the society and
            increase the efficiency of investments in the long term.
        </p>
        <p>
            36 out of the 48 companies of the leading group have provided a table showing the information on compliance
            / non-compliance with the principles and recommendations of the Code of Corporate Governance, approved by
            the Central Bank of the Russian Federation.
        </p>
    </div>
</div>
<script src="js/en/jquery-3.3.1.min.js"></script>
<script src="js/en/menu.js"></script>
<script src="js/en/header.js"></script>
<script src="js/en/diagrams/raphael-min.js"></script>
<script src="js/en/diagrams/morris.min.js"></script>
<script src="js/en/aspects.js"></script>
</body>

</html>