<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>State of Corporate Transparency</title>
    <link rel="stylesheet" href="css/common.css">
    <link rel="stylesheet" href="css/menu.css">
    <link rel="stylesheet" href="js/en/diagrams/morris.css">
</head>

<body>
<header></header>

<div class="content">
    <div class="menu"></div>

    <div class="main-content">
        <input type="hidden" value="corp_transp_list" id="sub">

        <h2 id="corp_transp_list.html">
            Corporate Transparency of the Major Listed Companies
        </h2>

        <h3>The transparency ratio of listed companies at various levels of transparency for 2017 (based on the sample)
        </h3>
        <div id="kf-prozr"></div>
        <h3>Conclusions:</h3>
        <ol class="decimal">
            <li>
                <b>Listed companies are more transparent than non-listing. </b>
                The transparency ratio of the listed companies is significantly higher than such ratio of non-listed
                companies, which lies in the average range and amounts to 2.36. Non-listed companies account for 77%
                (539 out of 699) of the entire list of non-transparent companies (at transparency level V). These are
                the companies that do not disclose their public accounting information in compliance with the RF Central
                Bank requirements. Thus, we can say that the stock-exchange is one of the key institutions that cause a
                significant impact on the corporate transparency and create conditions / incentives to increase
                transparency. For non-listed companies, so far there are no incentives to increase their transparency,
                which incentives would be comparable in scale with the institute of stock-exchanges.
            </li>
            <li>
                <b>Among the companies listed on the Moscow Stock Exchange, there are companies of transparency level V
                    (zero).</b>
                In 2017, there were 25 such companies (out of 257 listed). Public reports of these companies were not
                found in either Russian or English until December 22, 2017. The absence of non-transparent companies on
                the Moscow Stock Exchange (with rare exceptions) can be explained by the operation of mechanisms
                encouraging the listed companies to disclose information at the level of the RF Central Bank's
                requirements. First, the Listing Regulations of the Moscow Stock Exchange include Article 20 "Monitoring
                of disclosure requirements". Second, in compliance with the recommendations of the CJSC MICEX Stock
                Exchange, the Listing Committee, in order to implement measures to protect the investors' rights and to
                reduce the risks of investors' financial losses from the acquisition of securities with an unpredictable
                level of investment risk at MICEX, established the “Sector of companies with increased investment risk".
                This sector includes securities of those companies, which violate the requirements of the Regulation on
                Disclosure of Information by Securities Issuers No. 454-P, approved by the Bank of Russia on December
                30, 2014, and which do not eliminate the revealed violations within the time allotted. Securities
                included in the "Sector of companies with increased investment risk" are specifically identified in the
                List of securities admitted to trading in CJSC "MICEX Stock Exchange".
            </li>
            <li>
                <b>Companies listed both on the Moscow Stock Exchange and foreign stock-exchange markets are more
                    transparent that the companies listed only in the Moscow Stock Exchange or only on foreign
                    stock-exchange markets. </b>
                The transparency coefficient of companies with a "double listing" amounts to 3.51. Thus, at the
                transparency levels from Premium to III, the aggregate share of companies with "double listing" amounts
                to 48%. Among them. there is one non-transparent company (transparency level V /zero/), which published
                its public report only in English, and in the study such reports are not taken into account. As for the
                rest companies, this result is quite expectable. Companies with a "double listing" prepare an annual
                report, which contains the blocks of information as required by the RF Central Bank as well as by the
                Moscow Stock Exchange and foreign stock-exchange markets.
                <p>Russian companies listed on the London Stock Exchange (LSE) have to prepare their management reports
                    as well as to disclose information on R&D activities and the events that occurred after the end of
                    the financial year. Besides, the LSE sets a demand for disclosure of the corporate management
                    reporting which should contain information regarding the internal control system, risk-management,
                    business model and description of all management bodies and their activities (administrative,
                    management and supervisory bodies), as well as their committees’ activities, etc. </p>
                <p>On its part, the New York Stock Exchange (NYSE) recommends to pursue the “open-door” policy in the
                    course of interaction with analysts, journalists, shareholders and others. Information provided on
                    the individual or selective basis to analysts, shareholders or other persons should also be
                    disclosed unless it has not been disclosed earlier. In 2016, the Securities and Exchange Commission
                    (USA) initiated a public discussion of its proposals designed to broaden the requirements for
                    information disclosure by the issuers. The main questions pertain to improvement of the “Industry
                    Guides”, disclosure of information on the government policy (companies’ activities within the limits
                    thereof), and sustainability (sustainable development) parameters<a
                            href="http://www.un.org/ru/development/sustainable/"><sup>9</sup></a> . The “Industry Guides” are related to information
                    disclosure by holding banking companies, mining companies, and limited liability companies operating
                    in the real-estate sphere, as well as real-estate insurance and accident insurance companies
                    operating within the oil and gas programs. The Commission also conducts the investors surveys on the
                    ESG indices that have been already accepted by the investment community as significant for the
                    investment valuation. Parameters in the sphere of climatic changes are considered by the Commission
                    as obligatory for disclosure in case the company considers the same as significant, while the
                    Commission raises the question on the efficiency of such approach. The Commission also considers it
                    important to disclose information on the companies’ activities under the government programs being
                    set forth in the territories of the given company’s presence and in some or another way related to
                    its operations. </p>
                <p>Several international stock-exchange markets have already introduced demands on non-financial
                    disclosures for the listed companies. The Johannesburg Stock Exchange (JSE) requires compliance with
                    the King Code of Governance Principles (King III), which contains a provision on integrated
                    reporting (comprehensive presentation of financial and non-financial information). The Shanghai
                    Stock Exchange (SSE) imposes requirements for IPO applicants which include disclosure of
                    environmental information for companies from the 14 “dirtiest” industries. The Malaysian Stock
                    Exchange (Bursa Malaysia) sets the demands for potential issuers to disclose information on their
                    and their subsidiaries’ activities in the sphere of CSR.
                </p>
            </li>
        </ol>
        <h3>Transparency of listed companies</h3>
        <center class="hidden-y">
            <table class="black-bord" width="624">
                <tr>
                    <th rowspan="2">Company group</th>
                    <th rowspan="2">Transparency coefficient
                    </th>
                    <th rowspan="2">Number of companies surveyed
                    </th>
                    <th colspan="2">Number of companies at the Premium level of transparency</th>
                    <th colspan="2">Number of companies at transparency level I </th>
                    <th colspan="2">Number of companies at transparency level II </th>
                    <th colspan="2">Number of companies at transparency level III </th>
                    <th colspan="2">Number of companies at transparency level IV </th>
                    <th colspan="2">Number of companies at transparency level V </th>
                </tr>
                <tr>
                    <th>% of total</th>
                    <th>Absolute value</th>
                    <th>% of total</th>
                    <th>Absolute value</th>
                    <th>% of total</th>
                    <th>Absolute value</th>
                    <th>% of total</th>
                    <th>Absolute value</th>
                    <th>% of total</th>
                    <th>Absolute value</th>
                    <th>% of total</th>
                    <th>Absolute value</th>
                </tr>
                <tr>
                    <th>Companies listed on the Moscow Stock Exchange only </th>
                    <td>2,36</td>
                    <td>217</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>5</td>
                    <td>11</td>
                    <td>36,4</td>
                    <td>79</td>
                    <td>48</td>
                    <td>104</td>
                    <td>10,6</td>
                    <td>23</td>
                </tr>
                <tr>
                    <th>Companies listed on foreign stock-exchange markets only</th>
                    <td>2,33</td>
                    <td>3</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>33</td>
                    <td>1</td>
                    <td>0</td>
                    <td>0</td>
                    <td>33</td>
                    <td>1</td>
                    <td>33</td>
                    <td>1</td>
                </tr>
                <tr>
                    <th>Companies listed simultaneously on both the Moscow and foreign stock exchanges</th>
                    <td>3,51</td>
                    <td>39</td>
                    <td>0</td>
                    <td>0</td>
                    <td>18</td>
                    <td>7</td>
                    <td>35,9</td>
                    <td>14</td>
                    <td>28,2</td>
                    <td>11</td>
                    <td>15,4</td>
                    <td>6</td>
                    <td>2,6</td>
                    <td>1</td>
                </tr>
                <tr>
                    <th>Companies not listed on any stock exchange</th>
                    <td>1,37</td>
                    <td>699</td>
                    <td>0,4</td>
                    <td>3</td>
                    <td>0,4</td>
                    <td>3</td>
                    <td>1,6</td>
                    <td>11</td>
                    <td>7,6</td>
                    <td>52</td>
                    <td>13,2</td>
                    <td>90</td>
                    <td>76,7</td>
                    <td>523</td>
                </tr>
            </table>
        </center>
        <p>
            To evaluate and compare transparency of companies, united in different groups based on a significant
            characteristic, the Transparency Coefficient was introduced. The formula for Transparency Coefficient
            calculation is <br>
            <img src="images/transp_kf.png" alt="" align="center">
            ,where i – transparency levels (Premium – V); xi – number of companies of corresponding transparency level;
            1 ≤ K ≤ 6. The coefficient was calculated for the full sampling of 2017
        </p>
    </div>
</div>
<script src="js/en/jquery-3.3.1.min.js"></script>
<script src="js/en/menu.js"></script>
<script src="js/en/header.js"></script>
<script src="js/en/diagrams/raphael-min.js"></script>
<script src="js/en/diagrams/morris.min.js"></script>
<script src="js/en/state.js"></script>
</body>

</html>