<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Transparency aspects</title>
    <link rel="stylesheet" href="css/common.css">
    <link rel="stylesheet" href="css/menu.css">
    <link rel="stylesheet" href="js/en/diagrams/morris.css">
</head>
<body>
<header></header>

<div class="content">
    <div class="menu"></div>

    <div class="main-content">
        <input type="hidden" value="corrup" id="sub">

        <h2 id="corrup">Subsection Disclosure of Anti-Corruption Activities</h2>
        <p>
            All companies which belong to Premium II level of transparency, following the international standards of the
            disclosure of non-financial information, must have a public position in the field of combating corruption
            and publish such information in their report. 45 companies have regulations, policies and procedures for
            preventing corruption. 43 companies have special channels through which anyone can pass the information
            about corruption, but the persons responsible for this have been appointed only in 36 companies. Only 36
            largest Russian companies reported on the implementation of anti-corruption programs in the reporting
            period. This fact shows that the rest of the companies failed either to implement anti-corruption programs
            or to disclose the information about their implementation.
        </p>
        <h3>The number of the companies, which disclosed their anti-corruption policies (2017)
        </h3>
        <div id="korrup"></div>
    </div>
</div>
<script src="js/en/jquery-3.3.1.min.js"></script>
<script src="js/en/menu.js"></script>
<script src="js/en/header.js"></script>
<script src="js/en/diagrams/raphael-min.js"></script>
<script src="js/en/diagrams/morris.min.js"></script>
<script src="js/en/aspects.js"></script>
</body>
</html>