<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Transparency aspects</title>
    <link rel="stylesheet" href="css/common.css">
    <link rel="stylesheet" href="css/menu.css">
    <link rel="stylesheet" href="js/en/diagrams/morris.css">
</head>
<body>
<header></header>

<div class="content">
    <div class="menu"></div>

    <div class="main-content">
        <input type="hidden" value="development" id="sub">

        <h2 id="development">Disclosure of information on the activities in the sphere of sustainable development</h2>
        <h3>Disclosure of information on the management system of activities in the field of sustainable development
            (SD) and corporate social responsibility (CSR) </h3>
        <h3>The number of the leading group companies which have disclosed the information about the sustainable
            development and corporate social responsibility (2016-2017)
        </h3>
        <div id="korp-soc"></div>
        <p>
            There is a negative dynamics of the disclosure of information on sustainable development (SD) and corporate
            social responsibility. In fact all the companies of the leading group (44 Premium companies at I and II
            levels of transparency - 92%, while in 2016 - 49 out of 52, 94%) have disclosed the information on their
            strategic priorities in the field of sustainable development, but only 30 of them (62.5 % of the leading
            group) have indicated the key challenges to sustainable development which they are or were facing.
        </p>
        <p>
            81.25% of the leaders of the group have included the indicators related to SD into the number of the key
            performance indicators of their companies. 68.8% of the leading group companies have set the strategic
            objectives / plans related to SD for the next reporting period.
        </p>
        <p>
            The companies paid the least attention to the assignment of the responsibilities for the sustainable
            development and the reflection of the progress in this field on the KPIs of management bodies and top
            management: a total of 19 companies out of 48 (40%).
        </p>
        <h3>Disclosure of the information on the interaction with stakeholders for the reporting period</h3>
        <h3>The quantity of the leading group companies which have disclosed the information about the cooperation with
            the stakeholders within the reporting period (2016-2017)
        </h3>
        <div id="leads"></div>
        <p>
            In 2017 there was a slight decrease in the disclosure of the information on the cooperation with
            stakeholders. Among the leadership group companies (Premium, I and II levels of transparency) the
            cooperation with the stakeholders is quite common: 41 out of 48 (85.4%) of the companies provided the list
            of their stakeholders. This includes 38 companies which describe the main activities carried out together
            with the stakeholders in the reporting period and 39 companies that provide the description of the methods
            of communication with the stakeholders.
        </p>
        <p>
            However, only 52% of the companies mentioned the documents regulating the cooperation with the stakeholders
            (25 companies out of 48) and fewer than half of the companies (19 out of 48) provided a graphic (schematic)
            presentation of the relationship of stakeholders with the company and its activities - the stakeholder map.
        </p>
        <p>
            The involvement of the representatives of stakeholders into the corporate management (either through the
            creation of the Public board or some other corporate bodies which include representatives of the
            stakeholders) is less common. Only 13 companies out of 48 confirmed the existence of such a board in their
            corporate governance system.
        </p>

    </div>
</div>
<script src="js/en/jquery-3.3.1.min.js"></script>
<script src="js/en/menu.js"></script>
<script src="js/en/header.js"></script>
<script src="js/en/diagrams/raphael-min.js"></script>
<script src="js/en/diagrams/morris.min.js"></script>
<script src="js/en/aspects.js"></script>
</body>
</html>