<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Transparency aspects</title>
    <link rel="stylesheet" href="css/common.css">
    <link rel="stylesheet" href="css/menu.css">
    <link rel="stylesheet" href="js/en/diagrams/morris.css">
</head>

<body>
<header></header>

<div class="content">
    <div class="menu"></div>

    <div class="main-content">
        <input type="hidden" value="disclosure" id="sub">
        <h2 id="disclosure">Disclosure of the strategy and its implementation</h2>
        <p>
            All the companies of the leading group provide the description of the strategy (48 companies of the Premium,
            I and II levels of transparency), but only 39 of them provide the information on the implementation of the
            strategy, namely the qualitative and quantitative contribution to the implementation of the strategy.
        </p>
        <p>
            More than half of the companies (41) provide the description of the strategic goals related to sustainable
            development. Such goals are linked to the so-called "three-pronged outcome" (environmental, social and
            economic impact) - which is described in detail in the GRI Guide.
        </p>
        <h3>
            Leading companies disclosing their strategy and its implementation (2016-2017)
        </h3>
        <div id="nums"></div>
        <p>
            The second kind of information most commonly disclosed (after the strategy) is the situation in industry and
            / or market (46 companies out of 48). This may be explained by the obligation to disclose this kind of
            information in accordance with the provisions of the CBR 454-P as of 30.12.2015 (paragraph 70.3)<a
                href="http://www.consultant.ru/document/cons_doc_LAW_175536/">
            <sup>16</sup>
        </a>.

        </p>
        <p>
            A total of 44 companies disclosed the information about the macroeconomic context of their activities, of
            which 36 provided the descriptions of other backgrounds of activities (environmental, social, legal, etc.).
            The description of competitive advantages was disclosed by 36 companies.
        </p>
        <p>
            23 companies out of 48 (48%) disclosed the information about the resources needed to implement the
            strategy. </p>
        <p>
            In general, there is a decreasing trend in the disclosure of the strategic information among the leading
            Russian companies.
        </p>
    </div>
</div>
<script src="js/en/jquery-3.3.1.min.js"></script>
<script src="js/en/menu.js"></script>
<script src="js/en/header.js"></script>
<script src="js/en/diagrams/raphael-min.js"></script>
<script src="js/en/diagrams/morris.min.js"></script>
<script src="js/en/aspects.js"></script>
</body>

</html>