<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Transparency Mechanisms</title>
    <link rel="stylesheet" href="css/common.css">
    <link rel="stylesheet" href="css/menu.css">
    <link rel="stylesheet" href="js/en/diagrams/morris.css">
</head>
<body>
<header></header>

<div class="content">
    <div class="menu"></div>

    <div class="main-content">
        <input type="hidden" value="easyment" id="sub">
        <h2 id="easyment">
            Usability of Reporting and Efficient Communication Channels with Stakeholders
        </h2>
        <h3>Reporting usability</h3>
        <p>
            28 out of 48 leading companies (Premium, I and II transparency levels) submitted electronic (online) annual
            reports, available on the Internet. 19 of them adopted this format to various mobile devices - interactive
            reports of companies are adapted to small screens of tablets and smartphones.
        </p>
        <h3>
            The number of the companies providing convenient reporting (2016-2017)
        </h3>
        <div id="udob"></div>
        <p>
            Mobile applications is not a common practice (6 companies). They are usually available on Google Play and
            App Store.
        </p>
        <p>
            A great number of Russian companies (47 of 48) provided references to other information sources, thereby
            reducing the volume of the report and increasing the usability of the information.
        </p>
        <p>
            36 out of 48 companies care about the convenience of studying reports and add hyperlinks to other sections
            of the report in pdf-versions of their reporting documents.
        </p>
        <p>
            Though almost all of the companies included the sections dedicated to abbreviations and terms in their
            reports, some companies still ignore such appliances and show their careless attitude to report users.
            However, there is a positive trend compared to the last year to include a glossary and a list of
            abbreviations in the reports.
        </p>
        <h3>
            Efficient communication channels with stakeholders
        </h3>
        <p>
            The leading companies (Premium, I and II transparency levels) are developing efficient communication
            channels with their stakeholders: 46 out of 48 companies have official accounts in at least one of the
            social networks (Facebook, Twitter, Vkontakte etc.). However only 3 companies developed their own on-line
            platforms to communicate with stakeholders (specialized websites, forums or on-line chats with companies’
            employees).
        </p>
        <h3>
            Channels for operational communication with stakeholders (2016-2017)
        </h3>
        <div id="kanals"></div>
        <p>
            Almost all the companies (46 out of 48 companies) provided the contacts with the service responsible for the
            information disclosure.
        </p>
        <p>
            Companies gradually develop all possible channels of efficient communication with stakeholders (a greater
            expansion of these channels and facilities as compared to the previous reporting period). This allows to
            enhance the requesting process on the part of the stakeholders as well as to select the important data
            (significant subjects) to be disclosed in the reports.
        </p>
    </div>
</div>
<script src="js/en/jquery-3.3.1.min.js"></script>
<script src="js/en/menu.js"></script>
<script src="js/en/header.js"></script>
<script src="js/en/diagrams/raphael-min.js"></script>
<script src="js/en/diagrams/morris.min.js"></script>
<script src="js/en/mechs.js"></script>
</body>
</html>
