<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>State of Corporate Transparency</title>
    <link rel="stylesheet" href="css/common.css">
    <link rel="stylesheet" href="css/menu.css">
    <link rel="stylesheet" href="js/en/diagrams/morris.css">
</head>

<body>
<header></header>

<div class="content">
    <div class="menu"></div>

    <div class="main-content">
        <input type="hidden" value="features" id="sub">
        <h2 id="features">Specifics of Disclosure of Reporting Information by Companies of I-IV Levels of
            Corporate Transparency
            <a href="steps">
                <sup>7</sup>
            </a>
        </h2>
        <p>
            <b>
                Types of Reports Issued by Companies of Premium, I and II Levels of Transparency
            </b>
        </p>
        <div id="types"></div>
        <p>
            <b>"One-volume" Report</b> is a format that involves the implementation of disclosure of financial and
            non-financial information in one report. In accordance with Federal Law "On Joint-Stock Companies" dated
            December 26, 1995 No. 208-FZ, the company's management must issue the "first volume" (public annual report
            of the Central Bank of the Russian Federation) for the shareholders' meeting – by June 30.
        </p>
        <p>
            <b>"Two-volume" Report</b> is a format that requires preparation of two separate reports – the annual report
            and the non-financial report (most often – the report on sustainable development). This format continues to
            be popular with medium-sized companies of the first three levels of transparency, but the inconvenience of
            such a format for users is that reports are issued, as a rule, within different timelines. Taking into
            account the fact that in accordance with Federal Law "On Joint-Stock Companies", dated December 26, 1995 No.
            208-FZ, the management of the company must issue the "first volume" (public annual report of the Central
            Bank of the Russian Federation) for the shareholders' meeting – by June 30, "second volume" (non-financial
            report) is not tied to events and / or dates, and its release is usually made in August-November, when the
            value of the reporting information is significantly reduced.
        </p>
        <h3>Conclusion:</h3>
        <p>
            <b>The vast majority of companies of Premium – II transparency levels prefer one-volume reports.</b> At the
            same time, some of the companies (20 of 48 Premium – II levels of transparency, 42%) prefer two-volume
            reports.
        </p>
        <h3>Types of reports issued by companies of III level of transparency </h3>

        <div id="iii-level"></div>
        <h3>Conclusion:</h3>
        <p>
            <b>Absolute majority of companies that disclosed reporting information in excess of the requirements of the
                CBR (III level of transparency) use one-volume reports: 144 companies out of 147 (98%).
            </b>
            Companies at this level of transparency do not use either the GRI Guidelines or any other international
            guidelines or reporting standards. Lack of adherence to international standards on the issues of disclosure
            of reporting information makes it difficult to implement the principle of "comparability" with the reporting
            of other companies.
        </p>
        <h3>Types of reports issued by companies of IV level of transparency</h3>
        <p>
            <b>Companies that disclosed reporting information only in accordance with the requirements of the CBR (IV
                level of transparency), published only "traditional" annual reports.
            </b>
            Typically, this is a text document, converted into PDF format. 54.8% of companies disclose reporting
            information solely on specialized information disclosure sites, that is, it was not found on their official
            websites.
        </p>
    </div>
</div>
<script src="js/en/jquery-3.3.1.min.js"></script>
<script src="js/en/menu.js"></script>
<script src="js/en/header.js"></script>
<script src="js/en/diagrams/raphael-min.js"></script>
<script src="js/en/diagrams/morris.min.js"></script>
<script src="js/en/state.js"></script>
</body>

</html>