<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Transparency Mechanisms</title>
    <link rel="stylesheet" href="css/common.css">
    <link rel="stylesheet" href="css/menu.css">
    <link rel="stylesheet" href="js/en/diagrams/morris.css">
</head>
<body>
<header></header>

<div class="content">
    <div class="menu"></div>

    <div class="main-content">
        <input type="hidden" value="iii" id="sub">

        <h2 id="iii">The methods of the disclosure of the information by companies at the third level of
            transparency</h2>
        <center>
            <table cellspacing="0" width="623">
                <tbody>
                <tr valign="top">
                    <td style="border:1px solid #00000a;padding-top:0in;padding-bottom:0in;padding-left:0.08in;padding-right:0.08in;"
                        width="146">
                        <p align="center" style="margin-top:0.19in;"><font face="Times New Roman, serif"><font size="3"
                                                                                                               style="font-size:12pt;">Method</font></font>
                        </p>
                    </td>
                    <td style="border:1px solid #00000a;padding-top:0in;padding-bottom:0in;padding-left:0.08in;padding-right:0.08in;"
                        width="113">
                        <p align="center" style="margin-top:0.19in;"><font face="Times New Roman, serif"><font size="3"
                                                                                                               style="font-size:12pt;">Number
                            of companies applying the method (among 147 companies)</font></font></p>
                    </td>
                    <td style="border:1px solid #00000a;padding-top:0in;padding-bottom:0in;padding-left:0.08in;padding-right:0.08in;"
                        width="199">
                        <p align="center" style="margin-top:0.19in;"><font face="Times New Roman, serif"><font size="3"
                                                                                                               style="font-size:12pt;">Elements
                            of methods</font></font></p>
                    </td>
                    <td style="border:1px solid #00000a;padding-top:0in;padding-bottom:0in;padding-left:0.08in;padding-right:0.08in;"
                        width="107">
                        <p align="center" style="margin-top:0.19in;"><font face="Times New Roman, serif"><font size="3"
                                                                                                               style="font-size:12pt;">Number
                            of companies applying the elements of the methods (among 147 companies)</font></font></p>
                    </td>
                </tr>

                <tr valign="top">
                    <td rowspan="3"
                        style="border:1px solid #00000a;padding-top:0in;padding-bottom:0in;padding-left:0.08in;padding-right:0.08in;"
                        width="146">
                        <p style="margin-bottom:0in;"><br>

                        </p>
                        <p style="margin-bottom:0in;"><br>

                        </p>
                        <p style="margin-bottom:0in;"><br>

                        </p>
                        <p style="margin-bottom:0in;"><br>

                        </p>
                        <p style="margin-bottom:0in;"><br>

                        </p>
                        <p style="margin-bottom:0in;"><br>

                        </p>
                        <p style="margin-bottom:0in;"><br>

                        </p>
                        <p style="margin-bottom:0in;"><br>

                        </p>
                        <table cellspacing="0" width="147" x-width="147">
                            <colgroup>
                                <col width="139">
                                <col width="3">
                            </colgroup>
                            <tbody>
                            <tr>
                                <td height="16" rowspan="2" style="border:none;padding:0in;" width="139">
                                    <p align="center"><font face="Times New Roman, serif"><font size="3"
                                                                                                style="font-size:12pt;"><b>System
                                        of public reporting</b></font></font></p>
                                </td>
                                <td rowspan="2" style="border:none;padding:0in;" width="3">
                                    <p><br>

                                    </p>
                                </td>
                            </tr>
                            <tr>
                            </tr>
                            </tbody>
                        </table>
                        <p style="margin-top:0.19in;margin-bottom:0.19in;">
                            <br>
                            <br>

                        </p>
                    </td>
                    <td rowspan="3"
                        style="border:1px solid #00000a;padding-top:0in;padding-bottom:0in;padding-left:0.08in;padding-right:0.08in;"
                        width="113">
                        <p align="center" style="margin-top:0.19in;margin-bottom:0in;">
                            <br>

                        </p>
                        <p align="center" style="margin-top:0.19in;margin-bottom:0in;">
                            <br>

                        </p>
                        <p align="center" style="margin-top:0.19in;margin-bottom:0in;">
                            <br>

                        </p>
                        <p align="center" style="margin-top:0.19in;margin-bottom:0in;">
                            <font face="Times New Roman, serif"><font size="3" style="font-size:12pt;">43</font></font>
                        </p>
                    </td>
                    <td style="border:1px solid #00000a;padding-top:0in;padding-bottom:0in;padding-left:0.08in;padding-right:0.08in;"
                        width="199">
                        <p style="margin-top:0.19in;margin-bottom:0in;">
                            <font face="Times New Roman, serif"><font size="3" style="font-size:12pt;">Reference to the
                                company’s internal regulations of the public reporting and information
                                disclosure. </font></font></p>
                    </td>
                    <td style="border:1px solid #00000a;padding-top:0in;padding-bottom:0in;padding-left:0.08in;padding-right:0.08in;"
                        width="107">
                        <p style="margin-top:0.19in;margin-bottom:0in;">
                            <font face="Times New Roman, serif"><font size="3" style="font-size:12pt;">36</font></font>
                        </p>
                    </td>
                </tr>
                <tr valign="top">
                    <td style="border:1px solid #00000a;padding-top:0in;padding-bottom:0in;padding-left:0.08in;padding-right:0.08in;"
                        width="199">
                        <p style="margin-top:0.19in;margin-bottom:0in;">
                            <font face="Times New Roman, serif"><font size="3" style="font-size:12pt;">Availability of
                                the plans to improve public reporting</font></font></p>
                    </td>
                    <td style="border:1px solid #00000a;padding-top:0in;padding-bottom:0in;padding-left:0.08in;padding-right:0.08in;"
                        width="107">
                        <p style="margin-top:0.19in;margin-bottom:0in;">
                            <font face="Times New Roman, serif"><font size="3" style="font-size:12pt;">3</font></font>
                        </p>
                    </td>
                </tr>
                <tr valign="top">
                    <td style="border:1px solid #00000a;padding-top:0in;padding-bottom:0in;padding-left:0.08in;padding-right:0.08in;"
                        width="199">
                        <p style="margin-top:0.19in;margin-bottom:0in;">
                            <font face="Times New Roman, serif"><font size="3" style="font-size:12pt;">Availability of
                                the information confirming the cooperation with the stakeholders in the course of making
                                the report.</font></font></p>
                    </td>
                    <td style="border:1px solid #00000a;padding-top:0in;padding-bottom:0in;padding-left:0.08in;padding-right:0.08in;"
                        width="107">
                        <p style="margin-top:0.19in;margin-bottom:0in;">
                            <font face="Times New Roman, serif"><font size="3" style="font-size:12pt;">5</font></font>
                        </p>
                    </td>
                </tr>
                <tr valign="top">
                    <td style="border:1px solid #00000a;padding-top:0in;padding-bottom:0in;padding-left:0.08in;padding-right:0.08in;"
                        width="146">
                        <p align="center" style="margin-top:0.19in;margin-bottom:0in;">
                            <font face="Times New Roman, serif"><font size="3" style="font-size:12pt;"><b>Reported
                                information assurance</b></font></font></p>
                    </td>
                    <td style="border:1px solid #00000a;padding-top:0in;padding-bottom:0in;padding-left:0.08in;padding-right:0.08in;"
                        width="113">
                        <p align="center" style="margin-top:0.19in;margin-bottom:0in;">
                            <font face="Times New Roman, serif"><font size="3" style="font-size:12pt;">5</font></font>
                        </p>
                    </td>
                    <td style="border:1px solid #00000a;padding-top:0in;padding-bottom:0in;padding-left:0.08in;padding-right:0.08in;"
                        width="199">
                        <p style="margin-top:0.19in;margin-bottom:0in;">
                            <font face="Times New Roman, serif"><font size="3" style="font-size:12pt;">Availability of
                                the conclusion of the internal control and audit service</font></font></p>
                    </td>
                    <td style="border:1px solid #00000a;padding-top:0in;padding-bottom:0in;padding-left:0.08in;padding-right:0.08in;"
                        width="107">
                        <p style="margin-top:0.19in;margin-bottom:0in;">
                            <font face="Times New Roman, serif"><font size="3" style="font-size:12pt;">5</font></font>
                        </p>
                    </td>
                </tr>
                <tr valign="top">
                    <td rowspan="2"
                        style="border:1px solid #00000a;padding-top:0in;padding-bottom:0in;padding-left:0.08in;padding-right:0.08in;"
                        width="146">
                        <p align="center" style="margin-top:0.19in;margin-bottom:0in;">
                            <font face="Times New Roman, serif"><font size="3" style="font-size:12pt;"><b>The
                                convenience of reporting and efficient communication channels with stakeholders
                            </b></font></font></p>
                    </td>
                    <td rowspan="2"
                        style="border:1px solid #00000a;padding-top:0in;padding-bottom:0in;padding-left:0.08in;padding-right:0.08in;"
                        width="113">
                        <p align="center" style="margin-top:0.19in;margin-bottom:0in;">
                            <br>

                        </p>
                        <p align="center" style="margin-top:0.19in;margin-bottom:0in;">
                            <br>

                        </p>
                        <p align="center" style="margin-top:0.19in;margin-bottom:0in;">
                            <font face="Times New Roman, serif"><font size="3" style="font-size:12pt;">58</font></font>
                        </p>
                    </td>
                    <td style="border:1px solid #00000a;padding-top:0in;padding-bottom:0in;padding-left:0.08in;padding-right:0.08in;"
                        width="199">
                        <p style="margin-top:0.19in;margin-bottom:0in;">
                            <font face="Times New Roman, serif"><font size="3" style="font-size:12pt;">Availability of
                                electronic (interactive) report</font></font></p>
                    </td>
                    <td style="border:1px solid #00000a;padding-top:0in;padding-bottom:0in;padding-left:0.08in;padding-right:0.08in;"
                        width="107">
                        <p style="margin-top:0.19in;margin-bottom:0in;">
                            <font face="Times New Roman, serif"><font size="3" style="font-size:12pt;">16</font></font>
                        </p>
                    </td>
                </tr>
                <tr valign="top">
                    <td style="border:1px solid #00000a;padding-top:0in;padding-bottom:0in;padding-left:0.08in;padding-right:0.08in;"
                        width="199">
                        <p style="margin-top:0.19in;margin-bottom:0in;">
                            <font face="Times New Roman, serif"><font size="3" style="font-size:12pt;">Availability of
                                the contacts with the department responsible for the communication as for the
                                information disclosure in the report.</font></font></p>
                    </td>
                    <td style="border:1px solid #00000a;padding-top:0in;padding-bottom:0in;padding-left:0.08in;padding-right:0.08in;"
                        width="107">
                        <p style="margin-top:0.19in;margin-bottom:0in;">
                            <font face="Times New Roman, serif"><font size="3" style="font-size:12pt;">46</font></font>
                        </p>
                    </td>
                </tr>
                </tbody>
            </table>
        </center>
        <p>
            The companies belonging to the third level of transparency do not use international guidelines and
            international standards while preparing reports. As a rule, the system of public reporting of such companies
            is poorly developed. The most common element is the regulatory framework for the public reporting and
            disclosure. Only 6 out of 147 such companies used the method of cooperation with stakeholders in the course
            of the preparation of reports: <b>IDGC of Urals, PJSC TMK, PJSC Enel Russia, JSC ZiO, JSC Fazer.</b> Only 5
            companies out of 147 conducted an internal audit of non-financial information: <b>PJSC "DEK", PJSC "Mordovia
            Energy Retail Company", JSC "Rusagro Group", JSC "Ilim Group", PJSC "Tattelecom".</b>
        </p>
        <p>
            Nevertheless, even the third level companies are concerned about the ease of use of reporting. The release
            of electronic (interactive) reports by 16 companies proves this fact. One third of the companies (46 out of
            147 companies, 31%) maintain minimal channels of swift communication with stakeholders, providing the
            contacts of the persons responsible for the communication concerning the disclosure the data in the reports.
        </p>

    </div>
</div>
<script src="js/en/jquery-3.3.1.min.js"></script>
<script src="js/en/menu.js"></script>
<script src="js/en/header.js"></script>
<script src="js/en/diagrams/raphael-min.js"></script>
<script src="js/en/diagrams/morris.min.js"></script>
<script src="js/en/mechs.js"></script>
</body>
</html>