<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Transparency aspects</title>
    <link rel="stylesheet" href="css/common.css">
    <link rel="stylesheet" href="css/menu.css">
    <link rel="stylesheet" href="js/en/diagrams/morris.css">
</head>
<body>
<header></header>

<div class="content">
    <div class="menu"></div>

    <div class="main-content">
        <input type="hidden" value="iii2" id="sub">

        <h2 id="iii">Subsection Disclosure of Transparency Aspects by Level III Companies</h2>
        <h3>Disclosure of information on strategic management</h3>
        <h3>The quantity of the companies belonging to transparency level III which disclosed the strategic management
            data (2016-2017)
        </h3>
        <div id="strateg"></div>
        <p>
            113 out of 147 companies belonging to the third level of transparency provided the description of the risk
            management system in their reports for 2017. However only 25 of them (17%) made an assessment of the
            probability of risk events.
        </p>
        <p>
            The smallest number of companies disclosed the information about their business model. 21 companies (14.3%)
            provided their graphic (schematic) description of the business model. 20 of them attached a textual
            description to this information. Only two companies of the third level of transparency, namely PJSC NLMK and
            PJSC Interregional Distribution Grid Company of the Center and Volga Region, disclosed all the strategic
            management indicators. We suppose that these companies have a great potential for the promotion to the level
            of international reporting standards.
        </p>
        <p>
            More companies have disclosed their risk management data for the current year in comparison with the
            previous one. (132 companies exceeded the requirements of the Central Bank of Russia in 2016). Unfortunately
            the number of companies assessing the probability of a risk event which may occur in future almost halved.
            The assessment of risk events in terms of their probability is important not only for the company itself,
            but also for the stakeholders who prefer using reliable reports from the company.
        </p>
        <h3>Disclosure of the Information about Corporate Governance </h3>
        <h3>The number of the companies at transparency level III disclosing the corporate management data (2016-2017)
        </h3>
        <div id="korp-uprav"></div>
        <p>
            97 out of 147 (66%) companies that prepare public reporting in excess of the requirements of the Central
            Bank of the Russian Federation provide a table in their report with the information on compliance /
            non-compliance with the standards and recommendations of the Corporate Governance Code. This suggests that
            only 2/3 of the companies belonging to level III of transparency follow the basic principle of the code -
            "observe or explain".
        </p>
        <p>
            Besides the table of compliance / non-compliance with the standards and recommendations of the Corporate
            Governance Code, provided by the companies of the third level of transparency, the most common is the
            information on the structure of the remuneration of the members of the Board of Directors (88 companies out
            of 147). Slightly more than a half of the companies have disclosed the information on the structure of the
            remuneration of the General director / President / Chairmen of the Board (82 out of 147 companies, 56%) and
            personal attendance of the Board of Directors (64 companies out of 147, 43.5%). If the companies follow the
            recommendations of the Central Bank of the Russian Federation on the disclosure of the top management
            revenues in the next reporting period, a rapid increase in these indicators will occur.
        </p>
        <p>
            As with companies at higher levels of transparency, the least disclosed information is the description of
            the activities to improve the corporate governance system in the reporting period (43 out of 147 companies,
            29%) and the information about the plans to improve the corporate governance system (25%).
        </p>
        <p>
            The trend of the disclosure of the information on the remuneration structure of the CEO / President /
            Chairman of the Board is striking. The Central Bank of Russia in 2017 published recommendations to the
            issuers on the disclosure of top management revenues, which became an effective impetus to transparency in
            the corporate management.
        </p>
        <h3>Disclosure of the information on the results of the operations in the reporting period </h3>
        <p>
            The companies of the third level of transparency were more inclined to disclose their financial rather than
            the operating performance over a 3-year period: 84 companies against 59 companies out of 147.
        </p>
        <h3>The quantity of level III companies, which disclosed their activities within the reporting period
            (2016-2017)
        </h3>
        <div id="nums-iii"></div>
        <p>
            At the same time, only 52 companies out of 59, which published the financial information for the reporting
            period, explained the dynamics of the alterations. Regarding the operational indicators, 77 out of 84
            companies explained the cause of the alterations which had happened as a result of the company's activities.
        </p>
        <p>
            The increase of the number of the companies revealing operational and financial indicators is striking. On
            top of all, more and more companies realize the need of submitting the explanations on the alterations of
            their performance and efficiency.
        </p>
        <h3>Disclosure of the information on the activities in the field of sustainable development </h3>
        <p>
            The vast majority of the companies of the third level of transparency (135 out of 147, 92%) provided the
            information on the results of their activities in the field of sustainable development (SD), which in one
            way or another is related to their environmental impact, as well as the impact on the social and economic
            life of the regions where they operate. More than a quarter of the companies (30.6%) disclosed their main
            activities aimed at the cooperation with stakeholders within the reporting period.
        </p>
        <p>
            This suggests that companies have the potential and even the need to disclose the information with the use
            international standards, for example, the GRI Guidelines providing detailed recommendations on the
            processing and disclosing the corporate information.
        </p>
        <p>
            The information on the strategic priorities and problems of SD is much less common: 76 and 32 companies,
            respectively.
        </p>
        <h3>The quantity of the companies at the third transparency level, which disclosed the activities in the field
            of sustainable development (2016-2017)
        </h3>
        <div id="razvitie"></div>
        <p>
            The information about the assignment of the responsibility for the sustainable development is not common for
            the reports of the companies at the third level of transparency. Only 8 companies out of 147 reported that
            they had appointed either a member of the executive board or a committee under the executive board
            responsible for the sustainable development.
        </p>
        <p>
            The information covering all the indicators of sustainable development was disclosed by the following
            companies: PJSC "ALROSA", PJSC "PhosAgro", JSC "Mineral and Chemical Company" EuroChem ", PJSC "Pipe
            Metallurgical Company", Coca-Cola HBC Eurasia.
        </p>
        <h3>Disclosure of Anti-Corruption and Procurement Activities </h3>
        <h3>The quantity of the companis at the third transparency level which disclosed the information about
            anticorruption and purchasing activities (2016-2017)
        </h3>
        <div id="iii-korrup"></div>
        <p>
            The companies at the third level of transparency rather rarely provided the description of anticorruption
            standards, policies and procedures (only 51 out of 147 companies, 35%). The information about their
            purchasing activities presented on the official corporate websites is more common: 101 out of 147 companies
            published that information.
        </p>
    </div>
</div>
<script src="js/en/jquery-3.3.1.min.js"></script>
<script src="js/en/menu.js"></script>
<script src="js/en/header.js"></script>
<script src="js/en/diagrams/raphael-min.js"></script>
<script src="js/en/diagrams/morris.min.js"></script>
<script src="js/en/aspects.js"></script>
</body>
</html>