<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Доклад</title>
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/indexen.css">
</head>
<body>

    <header>

        <div class="centered">
            <div id="logo"></div>
            <div class="rhomb no-hover" id="rhomb1">
                <div></div>
            </div>
            <a href="/apply">
                <div class="rhomb" id="rhomb2">
                    <div></div>
                </div>
            </a>
            <a href="http://corptransparency.ru/rate/" target="_blank">
                <div class="rhomb" id="rhomb3">
                    <div></div>
                </div>
            </a>
                <a href="/subs">
            <div class="rhomb" id="rhomb4">
                <div></div>
            </div>
                </a>
            <a href="/mechs">
            <div class="rhomb" id="rhomb5">
                <div></div>
            </div>
            </a>
            <a href="/about">
                <div class="rhomb" id="rhomb6">
                    <div></div>
                </div>
            </a>
            <a href="/about">
                <div class="rhomb" id="rhomb7">
                    <div></div>
                </div>
            </a>
            <a href="/keys_transp">
                <div class="rhomb" id="rhomb8">
                    <div></div>
                </div>
            </a>
            <a href="/state">
                <div class="rhomb" id="rhomb9">
                    <div></div>
                </div>
            </a>
            <a href="/conclusions">
                <div class="rhomb" id="rhomb10">
                    <div></div>
                </div>
            </a>
            <a href="/aspects">
                <div class="rhomb" id="rhomb11">
                    <div></div>
                </div>
            </a>
            <a href="/keys_transp">
                <div class="rhomb" >
                    <div></div>
                </div>
            </a>
            <div class="rhomb no-hover" id="rhomb13">
                <div>
                    <span class="top-line">
                        <span class="number">2017</span>
                        <span>CORPORATE TRANSPARENCY<br>
                        OF THE LARGEST <br>
                        RUSSIAN COMPANIES</span>
                    </span>
                    <span class="bottom-line">
                        <p class="language"><a href="/lang">RU</a> | <a href="/lang" class="active">EN</a> </p>
                        <form action="/searching" method="POST">
                            <button type="submit"></button>
                            <input type="text" name="userReq" placeholder="search">
                        </form>
                    </span>
                </div>
            </div>
            <div class="links">
                <a href="/lead">
                    <div>
                        <img src="images/person.png" alt="">
                        <P>ADRESS OF RRN LEADER</P>
                    </div>
                </a>
                <a href="http://da-strateg.ru/ikp/">
                    <div>
                        <b>2013-2016</b>
                        <P>PREVIOUS RESEARCH</P>
                    </div>
                </a>
                <a href="http://corptransparency.ru/contacts.html">
                    <div>
                        <img src="images/list.png" alt="">
                        <P>FEEDBACK</P>
                    </div>
                </a>
                <a href="http://corptransparency.ru/contacts.html">
                    <div>
                        <img src="images/glasses.png" alt="">
                        <P>EXAMINATION OF THE REPORT</P>
                    </div>
                </a>
                <a href="/apply">
                    <div>
                        <img src="images/downloads.png" alt="">
                        <P>DOWNLOAD CENTRE</P>
                    </div>
                </a>
            </div>
        </div>

    </header>

    <div class="partners">
        <p>RESEARCH PARTNERS:</p>
        <img src="images/das.png" alt="">
        <img height="50" src="images/Logo_ASE.png" alt="">
        <img src="images/nexia.png" alt="">
        <img src="images/ines.png" alt="">
        <img height="50" src="images/IILA.png" alt="">
    </div>

</body>
<script src="js/en/jquery-3.3.1.min.js"></script>

</html>