<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Key indicators</title>
    <link rel="stylesheet" href="css/common.css">
    <link rel="stylesheet" href="css/menu.css">

    <link rel="stylesheet" href="css/keys_transp.css">
</head>

<body>
<header></header>

<div class="content">
    <div class="menu"></div>

    <div class="main-content">
        <h1>Key indicators</h1>
        <div class="wrapprer">
            <div class="dia">
                <a href="" id="r1">
                    <div>
                        <p>
                            <b>Corporate transparency of the major listed companies</b>
                        </p>
                        <p class="hidden">Transparency coefficient of listed companies – 3,51</p>
                        <p class="hidden">Transparency coefficient of non-listed companies – 1,37</p>
                    </div>
                </a>
                <a href="" id="r2">
                    <div>
                        <p>
                            <b>Overall state of corporate transparency of the largest Russian companies</b>
                        </p>
                        <p class="hidden"> Premium level of transparency – 3 companies (0,3%)</p>
                        <p class="hidden"> I level of transparency – 10 companies (1%)</p>
                        <p class="hidden"> II level of transparency – 35 companies (3,7%)</p>
                        <p class="hidden"> III level of transparency – 147 companies (15,4%)</p>
                        <p class="hidden"> IV level of transparency – 197 companies (20,6%)</p>
                        <p class="hidden"> V level of transparency – 550 companies (57,5%)</p>
                        <p class="hidden"> Foreign language report – 14 companies (1,5%)</p>
                    </div>
                </a>
                <a href="" id="r3">
                    <div>
                        <p>
                            <b>Transparency of systematically important organization in The Russian Federation</b>
                        </p>
                        <p class="hidden">42 systemically important companies disclosed information only in accordance
                            with the requirements of the Central Bank of the Russian Federation (IV level of
                            transparency).</p>
                    </div>
                </a>
                <a href="" id="r4">
                    <div>
                        <p>
                            <b>Compliance with international information disclosure standards</b>
                        </p>
                        <p class="hidden">Among the largest Russian companies surveyed in 2017, only 48 companies (5%)
                            were identified, whose transparency meets the level of international requirements and
                            practices.
                        </p>
                    </div>
                </a>
                <a href="" id="r5">
                    <div>
                        <p>
                            <b>Peculiarities of the reports disclosure classified as Premium-II transparency levels</b>
                        </p>
                        <p class="hidden">The vast majority of companies of Premium – II transparency levels prefer
                            one-volume reports. At the same time, some of the companies (20 of 48 Premium – II levels of
                            transparency, 42%) prefer two-volume reports.</p>
                    </div>
                </a>
                <a href="" id="r6">
                    <div>
                        <p>
                            <b>Transparency of companies with different forms of incorporation</b>
                        </p>
                        <p class="hidden">295 public companies (80%) are transparent for the stakeholders (Premium-IV
                            corporate transparency levels)</p>
                        <p class="hidden">97 non-public companies (17%) are transparent for the stakeholders (Premium-IV
                            corporate transparency levels)</p>
                    </div>
                </a>
                <a href="" id="r7">
                    <div>
                        <p>
                            <b>Corporate transparency and investment attractiveness of the largest Russian companies companies</b>
                        </p>
                        <p class="hidden">Transparency coefficient:</p>
                        <p class="hidden">The first creditworthiness conditional level – 3,81
                            <br>The second creditworthiness conditional level – 3,33
                            <br>The third creditworthiness conditional level – 3
                            <br>The fourth creditworthiness conditional level – 2,33
                        </p>
                    </div>
                </a>
                <a href="" id="r8">
                    <div>
                        <p>
                            <b>Comparison of corporate transparency coefficient of systematically important and other companies</b>
                        </p>
                        <p class="hidden">Transparency coefficient of systematically important companies – 2,05</p>
                        <p class="hidden">Transparency coefficient of other companies – 1,69</p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
<script src="js/en/jquery-3.3.1.min.js"></script>
<script src="js/en/menu.js"></script>
<script src="js/en/header.js"></script>

</body>

</html>