<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Address of the RRN Lead</title>
    <link rel="stylesheet" href="css/common.css">
    <link rel="stylesheet" href="css/menu.css">
</head>

<body>
<header>

</header>

<div class="content">
    <div class="menu">


    </div>

    <div class="main-content">
        <h1>Address of the RRN Lead</h1>
        <p>
            <img src="images/lead.png" alt="" align="left" height="280"> Dear readers! </p>
        <p>On behalf of the professional community united by the Russian Regional Network on Integrated Reporting I am
            pleased to present the report on the results of corporate transparency study of the largest Russian
            companies in 2017.
        </p>
        <p>
        <p>For six years, we have been engaged in the research of transparency and reporting state in the Russian
            companies. Why do we consider it important to monitor corporate transparency on an annual basis?
        </p>
        <p>Transparency is “working” for the company investment attractiveness increase; for better cooperation with
            stakeholders (partners, government authorities, public organizations, banks and other investment and
            financial institutions, and others); for a “social license” to operate (via information about
            anti-corruption programs, tax payments, contributions to environmental protection and etc.). In other words,
            corporate transparency contributes to business sustainability, company development and, hence, to the
            development of the Russian economy in general. There is a good reason for the worldwide growing demand for
            transparency. The goal of this research is to ensure that all parties interested in transparency
            (regulators, investors, companies, business associations and others) have the credible understanding of the
            situation and are able to make adequate decisions.
        </p>
        <p>In 2017, more than 900 companies were surveyed. The sampling included companies from “Expert-600” rating in
            2016, as well as companies listed on the Moscow and foreign exchanges (LSE, NYSE, NASDAQ, HKEX, Euronext NV,
            Deutsche Börse Group); systemically important organizations of the Russian Federation; state corporations
            and subsidiaries with earnings not less than three billion rubles. Besides, the study covered companies
            (outside the sample) which wished to participate in the examination (at their applications). In total, these
            companies generate about 80% of the total national income.
        </p>
        <p>It is traditional for this research not to have a jury or an expert group, which evaluate companies. The
            reason for that is the intent to minimize subjective judgments. This research is based on “Yes/Partially/No”
            indices, which reflect presence, partial presence or absence of certain information in the reporting or on
            corporate websites, and the experts carry out spot-checks of reflection accuracy.
        </p>
        <p>The research methodology is being improved every year. And every year, the wide public and expert
            discussions are organized (with the participation of companies) concerning the changes of methodology. This
            year, fundamental changes in the methodology are as follows: companies are distributed by the levels of
            transparency according to the number of points scored. The names of the levels of transparency remained
            unchanged: premium (90.1 - 100 marks), I level (55.1 - 90 marks), II level (23.26 - 55 marks), III level
            (information disclosure beyond the minimum national reporting requirements), IV level (disclosure of
            information in accordance with the minimum national reporting requirements), zero level (V) (companies that
            do not prepare public reports).
        </p>
        <p>Due to the active work of experts and companies’ representatives in updating the methodology and verifying
            preliminary results of the research, it is now possible to form a fairly complete picture of the
            transparency of Russian companies and its dynamics, as you can see in this report.
        </p>
        <p> An important note is that the information was examined through reports and official corporate websites till
            22 December 2017. Materials on the official corporate websites posted after this deadline were not studied.
        </p>
        <p>As for the research results, the general conclusion is that among those companies that prepare reports
            across almost all aspects and mechanisms of transparency, there has been observed a slight increase in the
            quality and volume of disclosure. Nonetheless, more than half of the 956 companies surveyed this year
            (58.9%) do not consider it necessary to disclose information about their activities.
        </p>
        <p>The number of companies that disclose information in excess of the requirements of the Central Bank of the
            Russian Federation on their own initiative is 147 (15.4%).
        </p>
        <p>The results confirmed once again the fact that the more company is transparent the higher credit rating it
            has. Moreover, the legislative and stock exchange requirements encourage the development of corporate
            transparency.
        </p>
        </p>
        <p>In 2017, there took place a number of events that will obviously have an impact on the increasing corporate
            transparency of Russian companies in the coming years:
        </p>
        <ul>
            <li>The Central Bank of the Russian Federation obliged Russian issuers to apply the principle of
                “materiality” from 2018 onwards;
            </li>
            <li>On 05.05.2017, the Chairman of the Government of the Russian Federation approved the Concept for the
                Development of Public Non-Financial Reporting and the Action Plan for the Implementation of the Concept.
            </li>
        </ul>
        <p>We hope to see the consequences of these decisions in the following annual studies.
        </p>
        <p>I also think it important to note that this research is a public initiative of the professional community.
            More than thirty experts, including those from the International Integrated Reporting Council, participated
            in the discussions of research model and methods. More than ten organizations are in various degrees
            involved in the conduct of the research. All of them worked free of charge. I believe this fact points to
            the independence and relevance of the research. I would like to extend my special words of gratitude to the
            partners of the research – organizations that were actively involved in it: “Da-Strategy” Group of
            Companies, Downstream Technologies, “Nexia Pacioli” Group of Companies, Institute for Economic Strategies of
            the Russian Academy of Sciences and International Investment Legal Agency.
        </p>
        <p>I would especially like to highlight the work of the expert group that took an active part in the
            preparation and conduct of the research, namely: Alexander Ageev, Ivan Barsolu, Yuri Blagov, Svetlana
            Gerasimova, Jean Zagidullin, Marklen Konurbayev, Mikhail Kuznetsov, Pavel Mitrofanov, Alexander Poltavtsev
            and Vladimir Skobarev.
        </p>
        <p>I also hope that the results of this research will be used pragmatically. Companies have access to
            information that indicates the following ways to increase transparency: the research methodology with all
            the criteria and transparency indicators is posted on the website of the RRN; in the verification process,
            it is possible to coordinate the positions of each company and the study group on the disclosure of certain
            indicators in the course of verification. In the report presented, the best practices both on aspects and
            disclosure mechanisms are described – one can see examples of disclosure of information from other companies
            that now do it better than others. Companies also may compare their positions with the positions of other
            companies on different aspects of disclosure using subratings.
        </p>
        <p>In 2017, companies were offered the service “Expertise”, which involves the provision of detailed analytics
            of the survey results for the past two years.
        </p>
        <p>Regulators can evaluate strengths and weaknesses of transparency (visible and invisible zones) among the
            major Russian companies. And this knowledge can become one of the reference points for decision-making to
            systematically improve transparency. Investors can decide on specific companies as investment objects. And
            all transparency stakeholders can put forward proposals how to make the national transparency picture more
            complete, reliable and useful.
        </p>
        <p>Sincerely yours,</p>
        <p>M.V. Galushkina</p>
        <p>RRN Leader</p>
    </div>
</div>
<script src="js/en/jquery-3.3.1.min.js"></script>
<script src="js/en/menu.js"></script>
<script src="js/en/header.js"></script>
</body>

</html>