<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Transparency aspects</title>
    <link rel="stylesheet" href="css/common.css">
    <link rel="stylesheet" href="css/menu.css">
    <link rel="stylesheet" href="js/en/diagrams/morris.css">
</head>
<body>
<header></header>

<div class="content">
    <div class="menu"></div>

    <div class="main-content">
        <input type="hidden" value="purchase" id="sub">

        <h2 id="purchase">Disclosure of Procurement Activities</h2>
        <h3>Disclosure of information on procurement activities</h3>
        <p>
            The most of the companies disclosed some data about purchasing activities (at least some brief information
            about one of the subjects of this subsection). This is true for all 48 companies of the leading group
            (Premium, I and II levels of transparency) which published the data on their official websites. 30 companies
            are state-owned, and therefore their procurement activities are regulated by Federal Law No. 233-FZ of July
            18, 2011 (as amended on June 29, 2015).
        </p>
        <h3>The number of the leading group companies, which disclosed the information about their
            procurement(2016-2017)
        </h3>
        <div id="zakup"></div>
        <p>
            All 48 leading group companies published the information on procurement activities on the official website,
            but only 43 out of 48 companies provided their documents regulating procurement activities (regulations /
            policies / procedures), 38 - confirmed the availability of the internal control over purchases. An even a
            smaller number of the companies (35 companies out of 48) disclosed the information on the procurement plans
            for the next reporting period.
        </p>
        <p>
            It should be noted that 48 out of 52 (92%) leading group companies published the information on the
            procurement activities in 2016, while this year 100% of the leading group companies have disclosed this
            information. There have been positive changes in some other fields related to the transparency of
            procurement.
        </p>
    </div>
</div>
<script src="js/en/jquery-3.3.1.min.js"></script>
<script src="js/en/menu.js"></script>
<script src="js/en/header.js"></script>
<script src="js/en/diagrams/raphael-min.js"></script>
<script src="js/en/diagrams/morris.min.js"></script>
<script src="js/en/aspects.js"></script>
</body>
</html>