<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Transparency aspects</title>
    <link rel="stylesheet" href="css/common.css">
    <link rel="stylesheet" href="css/menu.css">
    <link rel="stylesheet" href="js/en/diagrams/morris.css">
</head>
<body>
<header></header>

<div class="content">
    <div class="menu"></div>

    <div class="main-content">
        <input type="hidden" value="report-period" id="sub">
        <h2 id="report-period">Subsection Disclosure of company activities in the reporting period</h2>
        <h3>
            The quantity of the companies of the leading group, which disclosed the information about their activities
            during the reporting period (2016-2017)
        </h3>
        <div id="otchet"></div>
        <p>
            The information on the performance of the leading group companies is the most disclosed. All the companies
            belonging to Premium, I and II levels of transparency disclosed this indicator. Information on the key
            corporate events that occurred during the reporting period was disclosed by 39 out of 48 leading group
            companies selected for review. (47 out of 52 companies of the leading group disclosed this figure last
            year).
        </p>
        <p>
            Very often the companies used to disclose the main indicators of their activity for the recent 3 years
            dynamically (42 companies). However only 35 companies provided comments explaining the dynamics, though the
            requirement of such comments is an integral part of the GRI Guidelines. But it is worth noting that the
            number of the companies that disclosed the 3 year trends and provided comments on them was even smaller last
            year.
        </p>
        <p>
            A half of the leading group companies have disclosed the information on the achievement of the target
            performance values within the reporting period (i.e.- target and actual values). At the same time even fewer
            companies have disclosed the targets for the next reporting period (42%). Only 14 out of 48 companies have
            published the information on the performance indicators for the reporting period and for the future.
        </p>
        <div style="border: 1px solid black; color:white; background: #4472c8; float:left; width:50%; padding: 10px 20px; margin-right: 20px; margin-bottom:20px; text-align:center;">
            Best practices for disclosing information on the company activities in the reporting period:
            <div style="line-height: 1.5em; margin-top:1.5em;">
                JSC Concern Rosenergoatom
                <br>
                PJSC FGC UES
                <br>
                JSC PA ECP
                <br>
                PJSC MOESK
            </div>
        </div>
        <p>
            The supply chains have mainly been disclosed through a textual description (31 companies out of 48, 64.6%).
            The reports contain the description of buying raw materials and supplying finished products, show key
            suppliers, logistics contractors, etc. Only 17 of these companies have added graphic (schematic) images of
            supply chains to the text. Two companies used only a graphic (schematic) form of presenting this
            information.
        </p>
    </div>
</div>
<script src="js/en/jquery-3.3.1.min.js"></script>
<script src="js/en/menu.js"></script>
<script src="js/en/header.js"></script>
<script src="js/en/diagrams/raphael-min.js"></script>
<script src="js/en/diagrams/morris.min.js"></script>
<script src="js/en/aspects.js"></script>
</body>
</html>
