<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>State of Corporate Transparency</title>
    <link rel="stylesheet" href="css/common.css">
    <link rel="stylesheet" href="css/menu.css">
    <link rel="stylesheet" href="js/en/diagrams/morris.css">
</head>

<body>
<header></header>

<div class="content">
    <div class="menu"></div>

    <div class="main-content">
        <input type="hidden" value="state" id="sub">
        <h1>State of Corporate Transparency of the Largest Russian Companies</h1>
        <h2 id="common">Overall State of Corporate Transparency of the Largest Russian Companies</h2>
        <p>
            <b>Companies distribution by transparency level
                <a href="steps">
                    <sup>4</sup>
                </a>
            </b>
        </p>
        <div id="common-state"></div>
        <p>
            <b>
                Conclusions:
            </b>
        </p>
        <ol>
            <li>
                <b>Among the largest Russian companies surveyed in 2017, only 48 companies (5%) were identified,
                    whose transparency meets the level of international requirements and practices. </b>
                Only three of Russia's largest companies out of 956 (0.3%) disclose reporting information on their
                activities and management at the level corresponding to the best international practices (Premium
                transparency level). They actively use the practice of verification of accounting information (at least
                two types of external verifications, not including mandatory financial verification), implement an
                interactive reporting format, and use international reporting standards. 10 companies (1%) disclose
                information in line with the level of international practices (I level of transparency). Their key
                differences are less widespread practice of verification (only one external verification, in most cases
                it is only a public expert or only public stakeholder verification). Some companies of this level of
                transparency also lacked an electronic (interactive) version of the reports as of the date of completion
                of the survey. The rest 35 companies (3.7%) use international standards when preparing financial
                statements, but do not verify non-financial information (II level of transparency).
            </li>
            <li>
                <b>More than 15% of Russian companies disclose reporting information in excess of the requirements of
                    the Central Bank of the Russian Federation (III level of transparency). Their number is 147. </b>
                It can be said that for the management of these companies the public annual report starts to be used,
                including as a means of disclosing important information from the point of view of management. At the
                same time, such reporting information (prepared without international standards) is not comparable to
                the public reporting information of other companies, since it is the standards that make comparability
                possible. Reporting information prepared using this approach is also disclosed without taking into
                account the requests of stakeholders, i.e. its importance for other users of reporting (in addition to
                the company's management) is not obvious.
            </li>
            <li>
                <b>20.6% of all companies reviewed within the framework of the study, disclose reporting information
                    only in accordance with the requirements of the Central Bank of the Russian Federation (IV level of
                    transparency). </b>
                The number of such companies for 2017 is 197 of 956 (20.6%). Among them, only 47 companies (24% of all
                companies at IV level of transparency) are not required to issue annual reporting (joint-stock
                companies, (federal) state unitary enterprises, closed joint-stock companies, limited liability
                companies).
            </li>
            <li>
                <b>44 companies (22.3%), which publish reporting information exclusively in accordance with the
                    requirements of the CBR (IV level of transparency), are systemically important,</b>
                that is, economically and socially significant. Despite the absence of mechanisms regulating
                transparency , there are reasons for the management of these companies to disclose at least a minimum
                level of information.
                <a href="system">
                    <sup>3</sup>
                </a>, для менеджмента этих компаний имеются причины для раскрытия хотя бы минимального уровня
                информации.

            </li>
            <li>
                <b>14 companies out of 956 (1.5%) disclose reporting information on their activities and management in
                    English only
                    <a href="/uploads/Prilozhenie_2_Spisok_kompaniy_s_otchetnostyu_na_inostrannom_yazyke.xlsx">
                        <sup>6</sup>
                    </a> .</b>
                Mostly, these companies either operate only abroad, or are foreign residents, or are only interested in
                foreign capital markets (listed only on foreign exchanges).
            </li>
            <li>
                <b>Among the largest Russian companies, the number of opaque companies is enormous: 550 out of 956
                    (57.5%).</b>
                These companies do not disclose reporting information about their activities and management (V (zero)
                transparency level).
            </li>
        </ol>


    </div>
</div>
<script src="js/en/jquery-3.3.1.min.js"></script>
<script src="js/en/menu.js"></script>
<script src="js/en/header.js"></script>
<script src="js/en/diagrams/raphael-min.js"></script>
<script src="js/en/diagrams/morris.min.js"></script>
<script src="js/en/state.js"></script>
</body>

</html>