<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About the Research</title>
    <link rel="stylesheet" href="css/common.css">
    <link rel="stylesheet" href="css/menu.css">
    <link rel="stylesheet" href="js/en/diagrams/morris.css">
</head>
<body>
<header></header>

<div class="content">
    <div class="menu"></div>

    <div class="main-content">
        <input type="hidden" value="steps" id="sub">
        <h2 class="steps">Study stages:</h2>

        <ol>
            <li>Survey of the reporting and official websites of companies:
                <ul>
                    <li>the first stage – 956 companies were surveyed. The companies which do not publish reports, or
                        publish reports only in a foreign language, or publish only the traditional annual reports
                        (under the requirements of the Central Bank of the Russian Federation) were not included in the
                        second stage;
                    </li>
                    <li>the second stage – 182 companies were surveyed based on the criteria. The basic survey
                        procedure – scanning of reports and corporate websites through the "information grid": criteria
                        / parameters / indicators (10 criteria, 95 parameters, 141 indicators for the companies which
                        used international reporting standards and 10 criteria, 23 parameters, 30 indicators – for the
                        companies which did not use international reporting standards, but disclosed information at the
                        level exceeding the requirements of the Central Bank of the Russian Federation).
                    </li>
                </ul>
            </li>
            <li>Spot-check the results of companies' survey by the Expert group (15% of companies were checked – 27
                companies).
            </li>
            <li>Verification (approval) of received data with the companies (48 companies took part in the verification
                of preliminary results).
            </li>
            <li>Audit for compliance of the conducted study with the methodology.</li>
            <li>Conclusions.</li>
        </ol>
        <p>
            The full text of the methodology is available at <a
                href="http://da-strateg.ru/ikp/polozhenie-2017/">link</a>
        </p>
        <h2>Sectorial breakdown of companies included in the sampling (956 companies)*</h2>

        <div id="sectoral" class="diagram"></div>

        <p class="smaller">* The sectoral distribution corresponds to the sectoral breakdown of Expert-400 and
            Expert-Ural-400. Other sectors include: the tobacco industry (5 companies), catering (3 companies), light
            industry (2 companies), science (2 companies), printing industry (1 company), packaging (1 company).</p>
        <p>A complete list of companies is provided in Appendix 1 <a href="./apply.html">"List of surveyed companies"</a>.
        </p>
    </div>
</div>
<script src="js/en/jquery-3.3.1.min.js"></script>
<script src="js/en/menu.js"></script>
<script src="js/en/header.js"></script>
<script src="js/en/diagrams/raphael-min.js"></script>
<script src="js/en/diagrams/morris.min.js"></script>
<script src="js/en/about.js"></script>
</body>
</html>


