<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Subratings and subrankings</title>
    <link rel="stylesheet" href="css/common.css">
    <link rel="stylesheet" href="css/menu.css">
</head>
<body>
<header></header>

<div class="content">
    <div class="menu"></div>

    <div class="main-content">
        <h1>Субрейтинги и субренкинги</h1>
        <ul>
            <a href="http://corptransparency.ru/rate/?rate=1" target="_blank">
                <li>Subrating of companies listed on the Moscow Exchange</li>
            </a>
            <a href="http://corptransparency.ru/rate/?rate=2" target="_blank">
                <li>СSubrating of state corporations</li>
            </a>
            <a href="http://corptransparency.ru/rate/?rate=3" target="_blank">
                <li> Subrating of private companies
                </li>
            </a>
            <a href="http://corptransparency.ru/rate/?rate=4" target="_blank">
                <li> Subrating of systematically important organizations
                </li>
            </a>
            <a href="http://corptransparency.ru/rate/?rate=5" target="_blank">
                <li> Subranking «Strategic management»
                </li>
            </a>
            <a href="http://corptransparency.ru/rate/?rate=6" target="_blank">
                <li> Subranking «Corporate governance»
                </li>
            </a>
            <a href="http://corptransparency.ru/rate/?rate=7" target="_blank">
                <li> Subranking «Main outcomes in the reporting period»
                </li>
            </a>
            <a href="http://corptransparency.ru/rate/?rate=8" target="_blank">
                <li> Subranking «Activities in the sphere of sustainable development»
                </li>
            </a>
            <a href="http://corptransparency.ru/rate/?rate=9" target="_blank">
                <li> Subranking «Anti-corruption»
                </li>
            </a>
            <a href="http://corptransparency.ru/rate/?rate=10" target="_blank">
                <li> Subranking «Procurement»
                </li>
            </a>
            <a href="http://corptransparency.ru/rate/?rate=11" target="_blank">
                <li> Subranking «Compliance with international standards»
                </li>
            </a>
            <a href="http://corptransparency.ru/rate/?rate=12" target="_blank">
                <li> Subranking «System of public reporting»
                </li>
            </a>
            <a href="http://corptransparency.ru/rate/?rate=13" target="_blank">
                <li> Subranking «Reported information assurance»
                </li>
            </a>
            <a href="http://corptransparency.ru/rate/?rate=14" target="_blank">
                <li> Subranking «Usability of reporting and of efficient communication channels with stakeholders»
                </li>
            </a>

        </ul>
    </div>
</div>
<script src="js/en/jquery-3.3.1.min.js"></script>
<script src="js/en/menu.js"></script>
<script src="js/en/header.js"></script>

</body>
</html>