<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Transparency Mechanisms</title>
    <link rel="stylesheet" href="css/common.css">
    <link rel="stylesheet" href="css/menu.css">
    <link rel="stylesheet" href="js/en/diagrams/morris.css">
</head>
<body>
<header></header>

<div class="content">
    <div class="menu"></div>

    <div class="main-content">
        <input type="hidden" value="system-way" id="sub">
        <h2 id="system">
            Systemic Approach to Public Reporting
        </h2>
        <h3>
            The Practice of Organizing the Public-Reporting Systems
        </h3>
        <p>
            The systemic approach to public reporting is featured by the presence of a number of elements, which provide
            for the business processes related to the public reporting – such as: the regulatory framework in the public
            reporting sphere, interaction with stakeholders in the course of report preparation, fixed responsibility
            for public reporting, etc.
        </p>
        <h3>
            Number of companies disclosing information on the public-reporting system (2016 – 2017)
        </h3>
        <div id="nums"></div>
        <p>
            The need in the systemic approach to the public reporting and information disclosure has been reflected in
            the new version of the Corporate Management Code of 2014 as recommended by the RF Central Bank<a
                href="http://www.cbr.ru/publ/Vestnik/ves140418040.pdf"><sup>14</sup></a> (Chapter VI: “Disclosure of
            Company Information, Corporate Information Policy”).
        </p>
        <p>
            As a whole, the systemic approach to information disclosure and public reporting is not sufficiently
            developed even in the companies of transparency levels Premium, I and II (48 companies in 2017, and 52 – in
            2016).
        </p>
        <p>
            4 companies – namely, “GNC NIIAR” JSC, IC “ASE” JSC, “TVEL” JSC and “OCBM Afrikantov” JSC (in 2016, there
            were 2 such companies – the “GNC NIIAR” JSC and “OCBM Afrikantov” JSC) disclosed information on using all
            elements of the public-reporting system. The regulatory framework is one of the most widely used elements
            and its presence was recorded by 38 of 48 companies. In 28 of 48 companies, responsibility for public
            reporting is fixed on a structural unit, in 21 companies – on top management, and only in 6 companies such
            responsibility is recorded in the CPE of top management. 8 companies developed their own system of indices
            in excess of those that must be disclosed under the laws of the RF.
        </p>
        <p>
            Interaction with stakeholders in the course of report preparation is recorded in 35 company reports, while
            in 10 companies such units as Stakeholder Panels are included in the corporate structures.
        </p>
        <p>
            In general, we may note the positive shifts in using all elements of the systemic approach to information
            disclosure by companies of transparency levels from Premium to II in the dynamics of the last 2 years.
        </p>
        <h3>
            The Practice of Interaction with Stakeholders in the Public-Reporting Sphere
        </h3>
        <p>
            Only 37 companies in the leaders’ group of 48 companies (transparency levels Premium, I и II) published in
            their reports the list of aspects, the disclosed information on which is qualified as substantial. 34 of
            such companies involved representatives of their stakeholders in the process of defining the substantial
            aspects. It should be noted that involvement of stakeholders in definition of substantial aspects is an
            integral part of the GRI Guide and IIR Standard. At the same time 3 companies applying international
            standards, while drafting their reports, did not interact with their stakeholders in definition of
            substantial aspects. All of the 37 companies, which disclosed the list of substantial aspects, presented
            information on how they organized the substantial-aspect definition process.
        </p>
        <h3>
            Number of Companies Disclosing Information on the Actual Interaction with Stakeholders in the Sphere of
            Reporting
        </h3>
        <div id="stakeholder"></div>
        <p>
            A smaller portion of companies in the leaders’ group (16 of 48 companies) have presented information on
            their due account of the stakeholders’ requests with regard to reporting. A noteworthy point is that the
            companies, which do not define the substantial aspects of disclosure (11 of 48 companies) and do take
            account of their stakeholders’ requests (around 32 of 48 companies), take the risk of failing to present
            information that would be substantial and meet the interests of their target audiences.
        </p>
        <p>
            ВIn the dynamics of the 2 reported years, the situation with disclosure of such data has deteriorated, with
            such exception as the description of the process of defining the substantial reported aspects, By this
            index, the over 2-times growth has been recorded,
        </p>
    </div>
</div>
<script src="js/en/jquery-3.3.1.min.js"></script>
<script src="js/en/menu.js"></script>
<script src="js/en/header.js"></script>
<script src="js/en/diagrams/raphael-min.js"></script>
<script src="js/en/diagrams/morris.min.js"></script>
<script src="js/en/mechs.js"></script>
</body>
</html>
