<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>State of Corporate Transparency</title>
    <link rel="stylesheet" href="css/common.css">
    <link rel="stylesheet" href="css/menu.css">
    <link rel="stylesheet" href="js/en/diagrams/morris.css">
</head>

<body>
<header></header>

<div class="content">
    <div class="menu"></div>

    <div class="main-content">
        <input type="hidden" value="system" id="sub">

        <h2 id="system">Transparency of System-Forming Organizations in the Russian Federation </h2>
        <h3>System-Forming Organizations</h3>
        <p>
            The list of system-forming companies contains 197 organizations, including holdings and vertically
            integrated companies, whose revenues account for over 70 % of the aggregate national income, and the number
            of employees’ accounts for over 20 % of the total number of workers employed in the Russian economy. The
            list of system-forming organizations has been approved by the Minutes No. 1 of the session held by the
            Government Commission for Economic Development and Integration on February 05, 2015 .
            <a href="http://economy.gov.ru/minec/about/structure/depSectorEconom/2015020801">
                <sup>10</sup>
            </a>.
        </p>
        <h3>Transparency Ratio of System-Forming Companies
            as Compared with Other Groups of Companies (by the presented sampling)
        </h3>
        <div id="system-kf"></div>
        <h3>Conclusions:</h3>
        <ol>
            <li>
                <b>The transparency ratio of system-forming companies, placed in the average diapason, amounts to
                    2.05 (while the maximal value is equal to 3.6) and does not differ substantially from the average
                    value (2.3).</b>
                The system-forming companies generate profits accounting for over 70 % of the aggregate national income.
                The number of citizens being employed by such companies accounts for over 20% of those being employed in
                the national economy.
            </li>
            <li>
                <b>85 system-forming companies (43,15 %) are non-transparent. </b>
                These companies do not disclose publicly their annual reporting information on their operations. In view
                of the tremendously important role of such companies for the Russian economy, the share of the
                non-transparent ones appears huge. If continued, the trend for non-transparency featuring almost a half
                of system-forming enterprises would reduce the efficiency of monitoring of their operations by the
                government authorities and other stakeholders. It should be noted that at its first session (of
                03.04.2015) the Inter-Departmental Commission for monitoring of the financial and economic condition of
                the organizations included in the list of system-forming organizations, for the purpose of information
                and analytical support of its work defined such monitoring vectors as: monitoring of socio-economic
                development in the economic sectors and monitoring of financial and economic condition of the
                organizations included in the list of system-forming ones.
            </li>
            <li>
                <b>3. The category of system-forming companies includes a small group of leaders in corporate
                    transparency (7 companies, or 3.56% of the total number).</b>
                None of the system-forming companies was graded as being at the Premium transparency level – that is,
                none of them has ever prepared its reporting in compliance with international practices, which include
                verification of such reporting and issue of the interactive report. The 7 system-forming companies
                disclose information on the base of international standards (transparency level I), while 16 others find
                themselves at transparency level II. It should be noted that at each transparency level we see companies
                of different organizational legal forms. The presence of companies with different forms of incorporation
                indicates that the given form is not a decisive factor for selection (or non-selection) of the vector
                for the higher transparency. For example, the management of several non-public system-forming
                organizations, understanding the whole measure of their companies’ influence on the stockholders,
                regions of presence, and the RF economy, seeks to disclose the reporting information in compliance with
                the advanced international requirements. Among such companies, we see the “Rosatom” state corporation,
                “SUEC” joint-stock company, and some others.
            </li>
        </ol>
        <h3>Transparency of System-Forming Companies as Compared With Other Groups of Companies </h3>
        <center>
            <table width="624" cellpadding="7" cellspacing="0">
                <colgroup>
                    <col width="60">
                    <col width="39">
                    <col width="43">
                    <col width="31">
                    <col width="14">
                    <col width="31">
                    <col width="12">
                    <col width="31">
                    <col width="12">
                    <col width="4355">
                    <col width="31">
                    <col width="12">
                    <col width="4355">
                    <col width="31">
                    <col width="12">
                    <col width="4355">
                    <col width="40">
                    <col width="11">
                </colgroup>
                <tbody>
                <tr>
                    <td rowspan="2" width="60" bgcolor="#ffffff"
                        style="border: 1px solid #00000a; padding-top: 0cm; padding-bottom: 0cm; padding-left: 0.18cm; padding-right: 0.19cm">
                        <p class="western" align="center">
                            <font size="4" style="font-size: 14pt">
                                <font color="#000000">
                                    <font face="Times New Roman, serif">
                                        <b>Group of companies
                                        </b>
                                    </font>
                                </font>
                            </font>
                        </p>
                    </td>
                    <td rowspan="2" width="39" bgcolor="#ffffff"
                        style="border: 1px solid #00000a; padding-top: 0cm; padding-bottom: 0cm; padding-left: 0.18cm; padding-right: 0.19cm">
                        <p class="western" align="center">
                            <font size="4" style="font-size: 14pt">
                                <font color="#000000">
                                    <font face="Times New Roman, serif">
                                        <b>Transparency ratio
                                        </b>
                                    </font>
                                </font>
                            </font>
                        </p>
                    </td>
                    <td rowspan="2" width="43" bgcolor="#ffffff"
                        style="border: 1px solid #00000a; padding-top: 0cm; padding-bottom: 0cm; padding-left: 0.18cm; padding-right: 0.19cm">
                        <p class="western" align="center">
                            <font size="4" style="font-size: 14pt">
                                <font color="#000000">
                                    <font face="Times New Roman, serif">
                                        <b>Number of surveyed companies</b>
                                    </font>
                                </font>
                            </font>
                        </p>
                    </td>
                    <td colspan="2" width="59" bgcolor="#ffffff" style="border: 1px solid #00000a; padding: 0cm 0.19cm">
                        <p class="western" align="center">
                            <font size="4" style="font-size: 14pt">
                                <font color="#000000">
                                    <font face="Times New Roman, serif">
                                        <b>Number of companies at  Premium transparency level
                                        </b>
                                    </font>
                                </font>
                            </font>
                        </p>
                    </td>
                    <td colspan="2" width="57" bgcolor="#ffffff" style="border: 1px solid #00000a; padding: 0cm 0.19cm">
                        <p class="western" align="center">
                            <font size="4" style="font-size: 14pt">
                                <font color="#000000">
                                    <font face="Times New Roman, serif">
                                        <b>Number of companies at  transparency level I </b>
                                    </font>
                                </font>
                            </font>
                        </p>
                    </td>
                    <td colspan="3" width="57" bgcolor="#ffffff" style="border: 1px solid #00000a; padding: 0cm 0.19cm">
                        <p class="western" align="center">
                            <font size="4" style="font-size: 14pt">
                                <font color="#000000">
                                    <font face="Times New Roman, serif">
                                        <b>Number of companies at  transparency level II </b>
                                    </font>
                                </font>
                            </font>
                        </p>
                    </td>
                    <td colspan="3" width="57" bgcolor="#ffffff" style="border: 1px solid #00000a; padding: 0cm 0.19cm">
                        <p class="western" align="center">
                            <font size="4" style="font-size: 14pt">
                                <font color="#000000">
                                    <font face="Times New Roman, serif">
                                        <b>Number of companies at  transparency level III </b>
                                    </font>
                                </font>
                            </font>
                        </p>
                    </td>
                    <td colspan="3" width="57" bgcolor="#ffffff" style="border: 1px solid #00000a; padding: 0cm 0.19cm">
                        <p class="western" align="center">
                            <font size="4" style="font-size: 14pt">
                                <font color="#000000">
                                    <font face="Times New Roman, serif">
                                        <b>Number of companies at  transparency level IV </b>
                                    </font>
                                </font>
                            </font>
                        </p>
                    </td>
                    <td colspan="2" width="65" bgcolor="#ffffff" style="border: 1px solid #00000a; padding: 0cm 0.19cm">
                        <p class="western" align="center">
                            <font size="4" style="font-size: 14pt">
                                <font color="#000000">
                                    <font face="Times New Roman, serif">
                                        <b>Number of companies at  transparency level V </b>
                                    </font>
                                </font>
                            </font>
                        </p>
                    </td>
                </tr>
                <tr>
                    <td width="31" bgcolor="#ffffff" style="border: 1px solid #00000a; padding: 0cm 0.19cm">
                        <p class="western" align="center">
                            <font size="4" style="font-size: 14pt">
                                <font color="#000000">
                                    <font face="Times New Roman, serif">
                                        <b>% of total number</b>
                                    </font>
                                </font>
                            </font>
                        </p>
                    </td>
                    <td width="14" bgcolor="#ffffff" style="border: 1px solid #00000a; padding: 0cm 0.19cm">
                        <p class="western" align="center">
                            <font size="4" style="font-size: 14pt">
                                <font color="#000000">
                                    <font face="Times New Roman, serif">
                                        <b>Absolute number
                                        </b>
                                    </font>
                                </font>
                            </font>
                        </p>
                    </td>
                    <td width="31" bgcolor="#ffffff" style="border: 1px solid #00000a; padding: 0cm 0.19cm">
                        <p class="western" align="center">
                            <font size="4" style="font-size: 14pt">
                                <font color="#000000">
                                    <font face="Times New Roman, serif">
                                        <b>% of total number</b>
                                    </font>
                                </font>
                            </font>
                        </p>
                    </td>
                    <td width="12" bgcolor="#ffffff" style="border: 1px solid #00000a; padding: 0cm 0.19cm">
                        <p class="western" align="center">
                            <font size="4" style="font-size: 14pt">
                                <font color="#000000">
                                    <font face="Times New Roman, serif">
                                        <b>Absolute number
                                        </b>
                                    </font>
                                </font>
                            </font>
                        </p>
                    </td>
                    <td width="31" bgcolor="#ffffff" style="border: 1px solid #00000a; padding: 0cm 0.19cm">
                        <p class="western" align="center">
                            <font size="4" style="font-size: 14pt">
                                <font color="#000000">
                                    <font face="Times New Roman, serif">
                                        <b>% of total number</b>
                                    </font>
                                </font>
                            </font>
                        </p>
                    </td>
                    <td width="12" bgcolor="#ffffff" style="border: 1px solid #00000a; padding: 0cm 0.19cm">
                        <p class="western" align="center">
                            <font size="4" style="font-size: 14pt">
                                <font color="#000000">
                                    <font face="Times New Roman, serif">
                                        <b>Absolute number
                                        </b>
                                    </font>
                                </font>
                            </font>
                        </p>
                    </td>
                    <td colspan="2" width="31" bgcolor="#ffffff" style="border: 1px solid #00000a; padding: 0cm 0.19cm">
                        <p class="western" align="center">
                            <font size="4" style="font-size: 14pt">
                                <font color="#000000">
                                    <font face="Times New Roman, serif">
                                        <b>% of total number</b>
                                    </font>
                                </font>
                            </font>
                        </p>
                    </td>
                    <td width="12" bgcolor="#ffffff" style="border: 1px solid #00000a; padding: 0cm 0.19cm">
                        <p class="western" align="center">
                            <font size="4" style="font-size: 14pt">
                                <font color="#000000">
                                    <font face="Times New Roman, serif">
                                        <b>Absolute number
                                        </b>
                                    </font>
                                </font>
                            </font>
                        </p>
                    </td>
                    <td colspan="2" width="31" bgcolor="#ffffff" style="border: 1px solid #00000a; padding: 0cm 0.19cm">
                        <p class="western" align="center">
                            <font size="4" style="font-size: 14pt">
                                <font color="#000000">
                                    <font face="Times New Roman, serif">
                                        <b>% of total number</b>
                                    </font>
                                </font>
                            </font>
                        </p>
                    </td>
                    <td width="12" bgcolor="#ffffff" style="border: 1px solid #00000a; padding: 0cm 0.19cm">
                        <p class="western" align="center">
                            <font size="4" style="font-size: 14pt">
                                <font color="#000000">
                                    <font face="Times New Roman, serif">
                                        <b>Absolute number
                                        </b>
                                    </font>
                                </font>
                            </font>
                        </p>
                    </td>
                    <td colspan="2" width="40" bgcolor="#ffffff" style="border: 1px solid #00000a; padding: 0cm 0.19cm">
                        <p class="western" align="center">
                            <font size="4" style="font-size: 14pt">
                                <font color="#000000">
                                    <font face="Times New Roman, serif">
                                        <b>% of total number</b>
                                    </font>
                                </font>
                            </font>
                        </p>
                    </td>
                    <td width="11" bgcolor="#ffffff" style="border: 1px solid #00000a; padding: 0cm 0.19cm">
                        <p class="western" align="center">
                            <font size="4" style="font-size: 14pt">
                                <font color="#000000">
                                    <font face="Times New Roman, serif">
                                        <b>Absolute number
                                        </b>
                                    </font>
                                </font>
                            </font>
                        </p>
                    </td>
                </tr>
                <tr>
                    <td width="60" bgcolor="#ffffff"
                        style="border: 1.00pt solid #00000a; padding-top: 0cm; padding-bottom: 0cm; padding-left: 0.17cm; padding-right: 0.19cm">
                        <p class="western" align="center">
                            <font size="4" style="font-size: 14pt">
                                <font color="#000000">
                                    <font face="Times New Roman, serif">
                                        <b>All major Russian compnies</b>
                                    </font>
                                </font>
                            </font>
                        </p>
                    </td>
                    <td width="39" bgcolor="#ffffff" style="border: 1px solid #00000a; padding: 0cm 0.19cm">
                        <p class="western" align="center">
                            <font size="4" style="font-size: 14pt">
                                <font color="#000000">
                                    <font face="Times New Roman, serif">1,69</font>
                                </font>
                            </font>
                        </p>
                    </td>
                    <td width="43" bgcolor="#ffffff" style="border: 1px solid #00000a; padding: 0cm 0.19cm">
                        <p class="western" align="center">
                            <font size="4" style="font-size: 14pt">
                                <font color="#000000">
                                    <font face="Times New Roman, serif">941*</font>
                                </font>
                            </font>
                        </p>
                    </td>
                    <td width="31" bgcolor="#ffffff" style="border: 1px solid #00000a; padding: 0cm 0.19cm">
                        <p class="western" align="center">
                            <font size="4" style="font-size: 14pt">
                                <font color="#000000">
                                    <font face="Times New Roman, serif">0,32</font>
                                </font>
                            </font>
                        </p>
                    </td>
                    <td width="14" bgcolor="#ffffff" style="border: 1px solid #00000a; padding: 0cm 0.19cm">
                        <p class="western" align="center">
                            <font size="4" style="font-size: 14pt">
                                <font color="#000000">
                                    <font face="Times New Roman, serif">3</font>
                                </font>
                            </font>
                        </p>
                    </td>
                    <td width="31" bgcolor="#ffffff" style="border: 1px solid #00000a; padding: 0cm 0.19cm">
                        <p class="western" align="center">
                            <font size="4" style="font-size: 14pt">
                                <font color="#000000">
                                    <font face="Times New Roman, serif">1,06</font>
                                </font>
                            </font>
                        </p>
                    </td>
                    <td width="12" bgcolor="#ffffff" style="border: 1px solid #00000a; padding: 0cm 0.19cm">
                        <p class="western" align="center">
                            <font size="4" style="font-size: 14pt">
                                <font color="#000000">
                                    <font face="Times New Roman, serif">10</font>
                                </font>
                            </font>
                        </p>
                    </td>
                    <td width="31" bgcolor="#ffffff" style="border: 1px solid #00000a; padding: 0cm 0.19cm">
                        <p class="western" align="center">
                            <font size="4" style="font-size: 14pt">
                                <font color="#000000">
                                    <font face="Times New Roman, serif">4,1</font>
                                </font>
                            </font>
                        </p>
                    </td>
                    <td width="12" bgcolor="#ffffff" style="border: 1px solid #00000a; padding: 0cm 0.19cm">
                        <p class="western" align="center">
                            <font size="4" style="font-size: 14pt">
                                <font color="#000000">
                                    <font face="Times New Roman, serif">39</font>
                                </font>
                            </font>
                        </p>
                    </td>
                    <td colspan="2" width="31" bgcolor="#ffffff" style="border: 1px solid #00000a; padding: 0cm 0.19cm">
                        <p class="western" align="center">
                            <font size="4" style="font-size: 14pt">
                                <font color="#000000">
                                    <font face="Times New Roman, serif">14,9</font>
                                </font>
                            </font>
                        </p>
                    </td>
                    <td width="12" bgcolor="#ffffff" style="border: 1px solid #00000a; padding: 0cm 0.19cm">
                        <p class="western" align="center">
                            <font size="4" style="font-size: 14pt">
                                <font color="#000000">
                                    <font face="Times New Roman, serif">140</font>
                                </font>
                            </font>
                        </p>
                    </td>
                    <td colspan="2" width="31" bgcolor="#ffffff" style="border: 1px solid #00000a; padding: 0cm 0.19cm">
                        <p class="western" align="center">
                            <font size="4" style="font-size: 14pt">
                                <font color="#000000">
                                    <font face="Times New Roman, serif">21,36</font>
                                </font>
                            </font>
                        </p>
                    </td>
                    <td width="12" bgcolor="#ffffff" style="border: 1px solid #00000a; padding: 0cm 0.19cm">
                        <p class="western" align="center">
                            <font size="4" style="font-size: 14pt">
                                <font color="#000000">
                                    <font face="Times New Roman, serif">201</font>
                                </font>
                            </font>
                        </p>
                    </td>
                    <td colspan="2" width="40" bgcolor="#ffffff" style="border: 1px solid #00000a; padding: 0cm 0.19cm">
                        <p class="western" align="center">
                            <font size="4" style="font-size: 14pt">
                                <font color="#000000">
                                    <font face="Times New Roman, serif">58,24</font>
                                </font>
                            </font>
                        </p>
                    </td>
                    <td width="11" bgcolor="#ffffff"
                        style="border-top: 1px solid #00000a; border-bottom: 1px solid #00000a; border-left: 1px solid #00000a; border-right: 1.00pt solid #00000a; padding-top: 0cm; padding-bottom: 0cm; padding-left: 0.18cm; padding-right: 0.19cm">
                        <p class="western" align="center">
                            <font size="4" style="font-size: 14pt">
                                <font color="#000000">
                                    <font face="Times New Roman, serif">548</font>
                                </font>
                            </font>
                        </p>
                    </td>
                </tr>
                <tr>
                    <td width="60" bgcolor="#ffffff"
                        style="border: 1.00pt solid #00000a; padding-top: 0cm; padding-bottom: 0cm; padding-left: 0.17cm; padding-right: 0.19cm">
                        <p class="western" align="center">
                            <font size="4" style="font-size: 14pt">
                                <font color="#000000">
                                    <font face="Times New Roman, serif">
                                        <b>System-forming companies
                                        </b>
                                    </font>
                                </font>
                            </font>
                        </p>
                    </td>
                    <td width="39" bgcolor="#ffffff" style="border: 1px solid #00000a; padding: 0cm 0.19cm">
                        <p class="western" align="center">
                            <font size="4" style="font-size: 14pt">
                                <font color="#000000">
                                    <font face="Times New Roman, serif">2,05</font>
                                </font>
                            </font>
                        </p>
                    </td>
                    <td width="43" bgcolor="#ffffff" style="border: 1px solid #00000a; padding: 0cm 0.19cm">
                        <p class="western" align="center">
                            <font size="4" style="font-size: 14pt">
                                <font color="#000000">
                                    <font face="Times New Roman, serif">194</font>
                                </font>
                            </font>
                        </p>
                    </td>
                    <td width="31" bgcolor="#ffffff" style="border: 1px solid #00000a; padding: 0cm 0.19cm">
                        <p class="western" align="center">
                            <font size="4" style="font-size: 14pt">
                                <font color="#000000">
                                    <font face="Times New Roman, serif">0</font>
                                </font>
                            </font>
                        </p>
                    </td>
                    <td width="14" bgcolor="#ffffff" style="border: 1px solid #00000a; padding: 0cm 0.19cm">
                        <p class="western" align="center">
                            <font size="4" style="font-size: 14pt">
                                <font color="#000000">
                                    <font face="Times New Roman, serif">0</font>
                                </font>
                            </font>
                        </p>
                    </td>
                    <td width="31" bgcolor="#ffffff" style="border: 1px solid #00000a; padding: 0cm 0.19cm">
                        <p class="western" align="center">
                            <font size="4" style="font-size: 14pt">
                                <font color="#000000">
                                    <font face="Times New Roman, serif">3,6</font>
                                </font>
                            </font>
                        </p>
                    </td>
                    <td width="12" bgcolor="#ffffff" style="border: 1px solid #00000a; padding: 0cm 0.19cm">
                        <p class="western" align="center">
                            <font size="4" style="font-size: 14pt">
                                <font color="#000000">
                                    <font face="Times New Roman, serif">7</font>
                                </font>
                            </font>
                        </p>
                    </td>
                    <td width="31" bgcolor="#ffffff" style="border: 1px solid #00000a; padding: 0cm 0.19cm">
                        <p class="western" align="center">
                            <font size="4" style="font-size: 14pt">
                                <font color="#000000">
                                    <font face="Times New Roman, serif">8,2</font>
                                </font>
                            </font>
                        </p>
                    </td>
                    <td width="12" bgcolor="#ffffff" style="border: 1px solid #00000a; padding: 0cm 0.19cm">
                        <p class="western" align="center">
                            <font size="4" style="font-size: 14pt">
                                <font color="#000000">
                                    <font face="Times New Roman, serif">16</font>
                                </font>
                            </font>
                        </p>
                    </td>
                    <td colspan="2" width="31" bgcolor="#ffffff" style="border: 1px solid #00000a; padding: 0cm 0.19cm">
                        <p class="western" align="center">
                            <font size="4" style="font-size: 14pt">
                                <font color="#000000">
                                    <font face="Times New Roman, serif">21,13</font>
                                </font>
                            </font>
                        </p>
                    </td>
                    <td width="12" bgcolor="#ffffff" style="border: 1px solid #00000a; padding: 0cm 0.19cm">
                        <p class="western" align="center">
                            <font size="4" style="font-size: 14pt">
                                <font color="#000000">
                                    <font face="Times New Roman, serif">41</font>
                                </font>
                            </font>
                        </p>
                    </td>
                    <td colspan="2" width="31" bgcolor="#ffffff" style="border: 1px solid #00000a; padding: 0cm 0.19cm">
                        <p class="western" align="center">
                            <font size="4" style="font-size: 14pt">
                                <font color="#000000">
                                    <font face="Times New Roman, serif">23,2</font>
                                </font>
                            </font>
                        </p>
                    </td>
                    <td width="12" bgcolor="#ffffff" style="border: 1px solid #00000a; padding: 0cm 0.19cm">
                        <p class="western" align="center">
                            <font size="4" style="font-size: 14pt">
                                <font color="#000000">
                                    <font face="Times New Roman, serif">45</font>
                                </font>
                            </font>
                        </p>
                    </td>
                    <td colspan="2" width="40" bgcolor="#ffffff" style="border: 1px solid #00000a; padding: 0cm 0.19cm">
                        <p class="western" align="center">
                            <font size="4" style="font-size: 14pt">
                                <font color="#000000">
                                    <font face="Times New Roman, serif">43,8</font>
                                </font>
                            </font>
                        </p>
                    </td>
                    <td width="11" bgcolor="#ffffff"
                        style="border-top: 1px solid #00000a; border-bottom: 1px solid #00000a; border-left: 1px solid #00000a; border-right: 1.00pt solid #00000a; padding-top: 0cm; padding-bottom: 0cm; padding-left: 0.18cm; padding-right: 0.19cm">
                        <p class="western" align="center">
                            <font size="4" style="font-size: 14pt">
                                <font color="#000000">
                                    <font face="Times New Roman, serif">85</font>
                                </font>
                            </font>
                        </p>
                    </td>
                </tr>
                <tr>
                    <td width="60" bgcolor="#ffffff"
                        style="border: 1.00pt solid #00000a; padding-top: 0cm; padding-bottom: 0cm; padding-left: 0.17cm; padding-right: 0.19cm">
                        <p class="western" align="center">
                            <font size="4" style="font-size: 14pt">
                                <font color="#000000">
                                    <font face="Times New Roman, serif">
                                        <b>Companies being listed on foreign and Moscow stock exchanges</b>
                                    </font>
                                </font>
                            </font>
                        </p>
                    </td>
                    <td width="39" bgcolor="#ffffff" style="border: 1px solid #00000a; padding: 0cm 0.19cm">
                        <p class="western" align="center">
                            <font size="4" style="font-size: 14pt">
                                <font color="#000000">
                                    <font face="Times New Roman, serif">3,51</font>
                                </font>
                            </font>
                        </p>
                    </td>
                    <td width="43" bgcolor="#ffffff" style="border: 1px solid #00000a; padding: 0cm 0.19cm">
                        <p class="western" align="center">
                            <font size="4" style="font-size: 14pt">
                                <font color="#000000">
                                    <font face="Times New Roman, serif">39</font>
                                </font>
                            </font>
                        </p>
                    </td>
                    <td width="31" bgcolor="#ffffff" style="border: 1px solid #00000a; padding: 0cm 0.19cm">
                        <p class="western" align="center">
                            <font size="4" style="font-size: 14pt">
                                <font color="#000000">
                                    <font face="Times New Roman, serif">0</font>
                                </font>
                            </font>
                        </p>
                    </td>
                    <td width="14" bgcolor="#ffffff" style="border: 1px solid #00000a; padding: 0cm 0.19cm">
                        <p class="western" align="center">
                            <font size="4" style="font-size: 14pt">
                                <font color="#000000">
                                    <font face="Times New Roman, serif">0</font>
                                </font>
                            </font>
                        </p>
                    </td>
                    <td width="31" bgcolor="#ffffff" style="border: 1px solid #00000a; padding: 0cm 0.19cm">
                        <p class="western" align="center">
                            <font size="4" style="font-size: 14pt">
                                <font color="#000000">
                                    <font face="Times New Roman, serif">17,9</font>
                                </font>
                            </font>
                        </p>
                    </td>
                    <td width="12" bgcolor="#ffffff" style="border: 1px solid #00000a; padding: 0cm 0.19cm">
                        <p class="western" align="center">
                            <font size="4" style="font-size: 14pt">
                                <font color="#000000">
                                    <font face="Times New Roman, serif">7</font>
                                </font>
                            </font>
                        </p>
                    </td>
                    <td width="31" bgcolor="#ffffff" style="border: 1px solid #00000a; padding: 0cm 0.19cm">
                        <p class="western" align="center">
                            <font size="4" style="font-size: 14pt">
                                <font color="#000000">
                                    <font face="Times New Roman, serif">35,9</font>
                                </font>
                            </font>
                        </p>
                    </td>
                    <td width="12" bgcolor="#ffffff" style="border: 1px solid #00000a; padding: 0cm 0.19cm">
                        <p class="western" align="center">
                            <font size="4" style="font-size: 14pt">
                                <font color="#000000">
                                    <font face="Times New Roman, serif">14</font>
                                </font>
                            </font>
                        </p>
                    </td>
                    <td colspan="2" width="31" bgcolor="#ffffff" style="border: 1px solid #00000a; padding: 0cm 0.19cm">
                        <p class="western" align="center">
                            <font size="4" style="font-size: 14pt">
                                <font color="#000000">
                                    <font face="Times New Roman, serif">28,2</font>
                                </font>
                            </font>
                        </p>
                    </td>
                    <td width="12" bgcolor="#ffffff" style="border: 1px solid #00000a; padding: 0cm 0.19cm">
                        <p class="western" align="center">
                            <font size="4" style="font-size: 14pt">
                                <font color="#000000">
                                    <font face="Times New Roman, serif">11</font>
                                </font>
                            </font>
                        </p>
                    </td>
                    <td colspan="2" width="31" bgcolor="#ffffff" style="border: 1px solid #00000a; padding: 0cm 0.19cm">
                        <p class="western" align="center">
                            <font size="4" style="font-size: 14pt">
                                <font color="#000000">
                                    <font face="Times New Roman, serif">15,4</font>
                                </font>
                            </font>
                        </p>
                    </td>
                    <td width="12" bgcolor="#ffffff" style="border: 1px solid #00000a; padding: 0cm 0.19cm">
                        <p class="western" align="center">
                            <font size="4" style="font-size: 14pt">
                                <font color="#000000">
                                    <font face="Times New Roman, serif">6</font>
                                </font>
                            </font>
                        </p>
                    </td>
                    <td colspan="2" width="40" bgcolor="#ffffff" style="border: 1px solid #00000a; padding: 0cm 0.19cm">
                        <p class="western" align="center">
                            <font size="4" style="font-size: 14pt">
                                <font color="#000000">
                                    <font face="Times New Roman, serif">2,6</font>
                                </font>
                            </font>
                        </p>
                    </td>
                    <td width="11" bgcolor="#ffffff"
                        style="border-top: 1px solid #00000a; border-bottom: 1px solid #00000a; border-left: 1px solid #00000a; border-right: 1.00pt solid #00000a; padding-top: 0cm; padding-bottom: 0cm; padding-left: 0.18cm; padding-right: 0.19cm">
                        <p class="western" align="center">
                            <font size="4" style="font-size: 14pt">
                                <font color="#000000">
                                    <font face="Times New Roman, serif">1</font>
                                </font>
                            </font>
                        </p>
                    </td>
                </tr>
                </tbody>
            </table>
        </center>
    </div>
</div>
<script src="js/en/jquery-3.3.1.min.js"></script>
<script src="js/en/menu.js"></script>
<script src="js/en/header.js"></script>
<script src="js/en/diagrams/raphael-min.js"></script>
<script src="js/en/diagrams/morris.min.js"></script>
<script src="js/en/state.js"></script>
</body>

</html>