<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>State of Corporate Transparency</title>
    <link rel="stylesheet" href="css/common.css">
    <link rel="stylesheet" href="css/menu.css">
    <link rel="stylesheet" href="js/en/diagrams/morris.css">
</head>
<body>
<header></header>

<div class="content">
    <div class="menu"></div>

    <div class="main-content">
        <input type="hidden" value="transp-with-difference" id="sub">
        <h2 id="transp-with-difference">Transparency of Companies with Different Forms of Incorporations</h2>
        <p>The form of incorporation is the main driver for companies to disclose information on their activities and
            management or not. Open joint stock companies (starting May 5, 2014, they are legally obliged to make
            changes to their organizational legal form of incorporation and to introduce respective amendments to their
            charters) are legally obliged to disclose information on their activities and management. At the same time,
            the form of incorporation is a key, though not the only, factor which influences the company managers’
            choice to maintain corporate transparency.
        </p>
        <h3>ОForms of incorporation of companies of Premium and I levels of transparency</h3>
        <div id="org-form"></div>
        <h3>Conclusion:</h3>
        <p>
            <b>Companies whose shares are freely traded on the market (public joint-stock companies) are the most
                numerous among Premium and I level transparency companies.
            </b>
            This is due to the fact that for public joint-stock companies (open joint-stock companies, as well as closed
            joint-stock companies with publicly placed bonds or other securities), Article 92 of the Federal Law "On
            Joint Stock Companies" provides for the disclosure of information specified by the Federal Law for
            authorized state bodies and stakeholders. The share of non-public companies, i.e. joint-stock companies,
            that disclose information about their activities on Premium and I levels, is less, but this is worthy of
            attention, because the law does not define with the same strictness the requirements for the disclosure of
            non-financial information of such companies, unlike public joint stock companies (they voluntarily provide
            to stakeholders exhaustive information about their activities).
        </p>
        <h2>Forms of incorporation of companies of II level of transparency</h2>
        <div id="ii-form"></div>
        <h3>Conclusion:</h3>
        <p>
            <b>Among the companies of II level of transparency, companies with the organizational and legal form of a
                public joint-stock company prevail.
            </b>
            Legislative requirements for the issuers to disclose information on their economic activities, etc., have a
            decisive influence on the company's decision on the extent of transparency.
        </p>
        <h3>Forms of incorporation of companies of III level of transparency</h3>

        <div id="iii-form"></div>
        <h3>Conclusion:</h3>
        <p>
            <b>Among the companies that disclosed the reporting information in excess of the requirements of the Central
                Bank of the Russian Federation, there are 34 non-public companies (closed joint-stock companies (CJSC),
                limited liability companies (LLC), state corporations, joint-stock companies (JSC), (federal) state
                unitary enterprises).
            </b>
            The management of non-public companies begins to see the pragmatics of public reporting and to use it
            proactively for its management purposes.
        </p>
        <h3>Forms of incorporation of companies of IV level of transparency</h3>
        <div id="iv-form"></div>
        <h3>Conclusion:</h3>
        <p>
            <b>46 (23.4% of the total number of companies of IV level of transparency) of non-public companies (LLC,
                CJSC, (federal) state unitary enterprise, JSC, state corporations), acting on their own initiative,
                disclose reporting information according to the requirements of the Central Bank of the Russian
                Federation,
            </b>
            , although their organizational and legal form does not oblige them to do so. The reporting of a part of
            joint stock companies, that issued reports in 2016, was not found on the Internet in 2017 until the end date
            of the study (14 companies).
        </p>
        <h3>Forms of incorporation of companies of V level of transparency</h3>
        <div id="v-form"></div>
        <h3>Conclusion:</h3>
        <p>
            <b>The prevailing majority of non-transparent or opaque companies (490 out of 564) are non-public companies
                (LLC, CJSC, federal state unitary enterprise, state unitary enterprise, JSC).
            </b>
            However, among non-transparent companies there is an organization that is a public joint stock company (in
            2017), the reporting of which was not found on the Internet (until the end date of the study).
        </p>
    </div>
</div>
<script src="js/en/jquery-3.3.1.min.js"></script>
<script src="js/en/menu.js"></script>
<script src="js/en/header.js"></script>
<script src="js/en/diagrams/raphael-min.js"></script>
<script src="js/en/diagrams/morris.min.js"></script>
<script src="js/en/state.js"></script>
</body>
</html>
